.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  text-align: center;
  font-size: 16px;
  color: var(--error);
  font-style: italic;

  margin-top: auto;
  padding: 5px;
}

.button {
  width: 100%;
  align-self: flex-end;
  min-height: 45px;
}
