div.form_title {
  padding-top: 6px;
  font-size: var(--s-font-14);
  font-weight: 600;
}

div.enum_container {
  padding: 12px 0;
}

form.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
