div.modal_body {
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 539px;
  overflow: hidden;
}
div.tab_body {
  padding: 20px;
  overflow: auto;
}
div.modal_form_error {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  font-size: 16px;
  color: red;
  font-style: italic;
}
