div.form_title {
  padding-top: 6px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
  color: var(--fg);
}
div.form_content {
  display: flex;
  font-family: var(--font-stack);
  color: var(--fg);
  margin-top: 8px;
  margin-bottom: 12px;
}
div.form_content textarea {
  padding: 12px;
  background: var(--modal-bg);
  color: var(--fg);
  border: 1px solid var(--border-color);
  font-size: var(--m-font-16);
  border-radius: 4px;
  width: 100%;
}

div.colorSelectorContainer {
  margin-top: 8px;
  margin-bottom: 12px;
}

form.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
