div.warning_container {
  display: flex;
  flex-direction: row;
  color: var(--text-background-primary-default);
}

.warning_icon {
  padding: 8px 8px 0px 0px;
}

.deletion_warning {
  font-weight: var(--bold);
  font-size: var(--s-font-14);
  margin-bottom: 16px;
}
