div.form_title {
  padding-top: 6px;
  font-size: var(--s-font-14);
  font-weight: 600;
}

span.form_enum_description {
  display: flex;
  font-size: var(--xs-font-12);
  color: gray;
}

.save_button {
  width: 100%;
}
