div.sidebarListContainer {
  display: flex;
  flex-direction: column;
  line-height: var(--line-height-text);
  width: 383px;
  height: 458px;
}

div.sidebarList {
  overflow: auto;
  color: var(--sidebars-modal-color);
}

div.noSidebars {
  padding: 16px;
  text-align: center;
  color: var(--sidebars-modal-color);
}

button.sidebarContainer {
  padding: 0 16px;
  column-gap: 8px;
  align-items: flex-start;
  width: 100%;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  color: inherit;
  background: inherit;
}

button.sidebarContainer:hover {
  color: var(--sidebars-modal-color-hover);
}

div.sidebarInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px 0;
}

div.avatarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.avatarOffset {
  margin-left: 24px;
}

div.longTextEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.lastMessage {
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
}

div.noMessage {
  text-align: center;
  font-style: italic;
}

div.lastActivity {
  white-space: nowrap;
}

div.unread {
  color: var(--fg);
  font-weight: var(--semi-bold);
}

img.sidebarArrow {
  position: relative;
  top: -12px;
}
