.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--button-label-primary-default);
  background-color: var(--button-background-primary-default);
}

.container:hover {
  cursor: pointer;
}
