.container {
  padding-top: 24px;
  border-bottom: 1px solid var(--separator-background-primary-default);
}

.buttonContainer {
  position: relative;
  color: var(--button-label-primary-default);
  margin-bottom: 16px;
}

.buttonContainer:hover {
  cursor: pointer;
}

.unreadBadgeContainer {
  position: absolute;
  right: -8px;
  bottom: 16px;
}
