.container {
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.arrowLeft,
.arrowRight {
  top: 50%;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.arrowTop,
.arrowBottom {
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.arrowLeft {
  right: 100%;
  border-right: 10px solid var(--tooltip-background-primary-default);
}

.arrowRight {
  left: 100%;
  border-left: 10px solid var(--tooltip-background-primary-default);
}

.arrowTop {
  bottom: 100%;
  border-bottom: 10px solid var(--tooltip-background-primary-default);
}

.arrowBottom {
  top: 100%;
  border-top: 10px solid var(--tooltip-background-primary-default);
}

.tooltipLabel {
  border-radius: 4px;
  background-color: var(--tooltip-background-primary-default);
  color: var(--tooltip-label-primary-default);
  font-size: var(--s-font-14);
  white-space: nowrap;
}
