div.container {
  display: flex;
  flex-direction: column;
  color: var(--fg);
  margin: 24px 32px;
  row-gap: 40px;
  min-width: 343px;
}

div.optionsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

div.optionContainer {
  display: flex;
  padding: 16px 32px 16px 16px;
  align-items: center;
  border-radius: 8px;
}

div.optionContainerSelected {
  background: var(--notification-settings-option-selected-bg);
}

div.optionIcon {
  margin-right: 24px;
}

div.optionContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: var(--line-height-text);
}

div.optionTitle {
  font-size: var(--m-font-16);
  font-weight: var(--semi-bold);
  color: var(--notification-settings-option-title-color);
  margin-bottom: 4px;
}

div.optionDescription {
  font-size: var(--xs-font-12);
  color: var(--notification-settings-option-color);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

div.optionInfo {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

div.optionInfoInvalid {
  text-decoration: line-through;
  color: var(--notification-settings-option-invalid-color);
}

div.optionContainerSelected div.optionInfoInvalid {
  color: var(--notification-settings-option-invalid-selected-color);
}
