div.container {
  display: flex;
  flex-direction: column;
  color: var(--fg);
  margin: 24px 32px;
  row-gap: 20px;
  min-width: 343px;
  width: min-content;
}

p.notice {
  text-align: center;
  font-size: var(--xs-font-12);
  color: var(--notification-settings-option-color);
}

div.optionsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
