.dockerignore
.DS_Store
.git
.eslintcache
.vscode
!.vscode/extensions.json

node_modules

landing/node_modules
landing/dist

lib/node_modules

native
!native/package.json
!native/.flowconfig
!native/ios/Podfile
!native/expo-modules/comm-expo-package/package.json

web/node_modules
web/dist

keyserver/dist
keyserver/node_modules
keyserver/facts
keyserver/secrets
keyserver/*.env
keyserver/*.env.*
keyserver/addons/rust-node-addon/target

services/*/Dockerfile
services/*/target
services/identity/secrets
services/electron-update-server/node_modules
services/reports/email-config.json

native/cpp/**/build
