.dockerignore
.DS_Store
.git
.eslintcache
.vscode
!.vscode/extensions.json

node_modules

landing/node_modules
landing/dist

lib/node_modules

native
!native/package.json
!native/.flowconfig
!native/ios/Podfile
!native/ios/pod-patch
!native/cpp/CommonCpp/grpc
!native/expo-modules/android-lifecycle/package.json
!native/expo-modules/aes-crypto/package.json

web/node_modules
web/dist

keyserver/dist
keyserver/node_modules
keyserver/facts
keyserver/secrets
keyserver/*.env
keyserver/*.env.*

services/tunnelbroker/Dockerfile
services/identity/target
services/identity/Dockerfile
services/backup/Dockerfile
services/blob/target
services/blob/Dockerfile
services/electron-update-server/node_modules

native/cpp/**/build
services/*/build
services/build
services/lib/src/build
shared/protos/build
