.dockerignore
.DS_Store
.git
.eslintcache
.vscode
!.vscode/extensions.json
.idea

Dockerfile
docker-compose.yml

node_modules

desktop/node_modules
desktop/assets
desktop/dist
desktop/out
desktop/*.provisionprofile

landing/node_modules
landing/dist

lib/node_modules

native
!native/package.json
!native/.flowconfig
!native/ios/Podfile
!native/expo-modules/comm-expo-package/package.json

web/node_modules
web/dist
web/backup-client-wasm/target

keyserver/dist
keyserver/node_modules
keyserver/facts
keyserver/certs
keyserver/secrets
keyserver/*.env
keyserver/*.env.*
keyserver/addons/rust-node-addon/target

services/.idea
services/*/target
services/identity/secrets
services/electron-update-server/node_modules
services/reports/email-config.json
services/terraform/self-host/*.env
services/terraform/self-host/*.env.*

native/cpp/**/build

target

**/*.tfstate
**/*.tfvars
**/*.tfstate.backup
