.DS_Store
node_modules
server/config.php
server/.htaccess
server/fonts
lib/node_modules
web/node_modules/*
web/dist/dev.build.js
web/dist/hot
jserver/dist
jserver/node_modules/*
jserver/secrets
jserver/facts
