.DS_Store

node_modules

landing/node_modules
landing/dist

lib/node_modules

web/node_modules
web/dist
web/shared-worker/sqlite
web/shared-worker/_generated/comm-query-executor.js.bak
web/backup-client-wasm/wasm/backup-client-wasm_bg.wasm
web/backup-client-wasm/wasm/backup-client-wasm.js
web/backup-client-wasm/target

keyserver/dist
keyserver/node_modules
keyserver/addons/rust-node-addon/target
keyserver/addons/rust-node-addon/napi
keyserver/certs
keyserver/secrets
keyserver/facts
keyserver/*.env
keyserver/*.env.*
keyserver/cpu_profiling_logs

services/tunnelbroker/target
services/tunnelbroker/src/libcpp/test/build

services/search-index-lambda/target

.eslintcache
.vscode
!.vscode/extensions.json

.idea
services/.idea

# CMake
native/cpp/**/build
services/*/build
services/build
services/lib/src/build
shared/protos/build

# Shared libraries
shared/tunnelbroker-client/target
shared/backup_client/target

# Nix
result*
.direnv

# Electron
desktop/out/
desktop/assets/
desktop/dist/
desktop/*.provisionprofile

# Cargo workspace
target/

.claude.json
**/.claude/settings.local.json
