.DS_Store
server/config.php
server/.htaccess
server/fonts
lib/node_modules
web/node_modules/*
!web/node_modules/lib
web/dist/dev.build.js
web/dist/hot
jserver/dist
jserver/node_modules/*
!jserver/node_modules/lib
jserver/secrets
