* {
  padding: 0;
  margin: 0;
}
header {
  font-family: 'Anaheim', sans-serif;
  height: 42px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #FFFAF0;
}
h1 {
  position: absolute;
  padding-left: 4px;
}
div.upper-right {
  position: absolute;
  padding: 6px;
  right: 0;
}
img.page-loading {
  margin-top: 8px;
  margin-right: 10px;
  float: left;
}
h2.upper-center {
  text-align: center;
}
div.lower-left {
  position: fixed;
  left: -1px;
  bottom: -1px;
  padding: 0 6px;
  z-index: 3;
  border-radius: 0 5px 0 0;
  border: 1px solid #C8C8C8;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
div.account-button {
  padding: 3px 4px 3px 8px;
  font-size: 0;
}
div.account-button > span {
  font-size: 16px;
}
div.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}
