header, tr {
  font-family: 'Anaheim', sans-serif;
}
body {
  font-family: sans-serif;
  background-color: #FFFAF0;
}
a {
  text-decoration: none;
  color: #2A5DB0;
}

table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
textarea {
  background: none;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
  overflow-y: hidden;
  padding-right: 15px;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
header {
  height: 42px;
}
td.day {
  background-color: white;
  position: relative;
  vertical-align: top;
  line-height: 0;
  cursor: text;
  height: 120px;
}
td.day > div.entry-container {
  overflow: auto;
  height: 120px;
}
td.day > div.focused-entry-container {
  height: 100px !important;
}
div.entry-container > div.entry-container-spacer {
  height: 13px;
}
div.entry {
  padding: 5px;
  box-shadow: inset 0px 0px 0px 2px white;
  border-radius: 5px;
  position: relative;
}
div.dark-entry {
  color: white;
}
div.dark-entry textarea {
  color: white;
}
div.dark-entry div.action-links > a {
  color: lightgray;
}
div.dark-entry div.action-links > a:hover {
  color: white;
}
img.entry-loading {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 12px;
  display: none;
}
span.save-error {
  position: absolute;
  top: 12px;
  right: 9px;
  font-weight: bold;
  color: red;
  display: none;
}
div.action-links {
  display: none;
  line-height: 90%;
  margin-top: 3px;
  font-size: 16px;
}
div.day-action-links {
  padding-left: 3px;
  margin-bottom: 1px;
}
div.action-links a + a {
  margin-left: 1px;
}
span.action-links-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  position: relative;
  bottom: 1px;
}
span.right-action-links {
  float: right;
}
span.delete {
  font-size: 14px;
  margin-right: -1px;
}
span.history {
  font-size: 24px;
  position: relative;
  margin-right: -2px;
  top: 1px;
  line-height: 0;
}
span.add {
  font-size: 22px;
  font-weight: 900;
  position: relative;
  top: 1px;
  line-height: 0;
}
div.focused-entry {
  z-index: 3 !important;
}
div.focused-action-links {
  display: block !important;
}
html.touchevents div.action-links {
  /* for touch devices show all action-links */
  display: block !important;
}
div.action-links a {
  color: gray;
}
div.action-links a:hover {
  color: black;
}
td.day > h2 {
  position: absolute;
  bottom: 2px;
  right: 3px;
  color: #FEE5AC;
  font-size: 32px;
  line-height: 32px;
  z-index: 1;
}
td.current-day > h2 {
  color: #FF944D;
}

h1 {
  position: absolute;
  padding-left: 4px;
}

div.upper-right {
  position: absolute;
  padding: 6px;
  right: 0;
}
div.upper-right > select {
  height: 28px;
  font-size: 12px;
  border: 1px solid #AAA;
  vertical-align: top;
  margin: 4px 6px 0 1px;
  float: left;
}

div.nav-button {
  position: relative;
  display: inline;
}
div.nav-button > img {
  opacity: 0.5;
  height: 36px;
  float: left;
  padding-right: 1px;
}
div.nav-button > div.nav-menu {
  display: none;
  position: absolute;
  right: 4px;
  top: 32px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  white-space: nowrap;
}
div.nav-button > div.nav-menu > div {
  border-bottom: 1px solid #D3D3D3;
  padding: 3px 25px;
}
div.nav-button > div.nav-menu > div:last-child {
  border-bottom: none;
}
div.nav-button:hover > div.nav-menu {
  display: block;
}
img.subscribe-loading {
  display: none;
  position: absolute;
  top: 6px;
  left: 6px;
}

h2.upper-center {
  text-align: center;
}

div.lower-left {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 3px 16px;
  z-index: 3;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: 1px solid #E8E8E8;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
div.lower-left > div.nav-button > div.nav-menu {
  left: 0px;
  right: 0px;
  bottom: 22px;
  right: initial;
  top: initial;
}
span#username {
  display: inline-block;
  color: #2A5DB0;
}
span#username:hover {
  cursor: default;
}

div.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}
div.visible-modal-overlay {
  display: initial;
}
div.modal {
  position: relative;
  background-color: white;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .3),
    0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
  max-width: 330px;
}
div.large-modal {
  max-width: 500px;
}
span.modal-close {
  float: right;
  font-size: 32px;
  font-weight: 300;
  line-height: 26px;
}
span.modal-close:hover {
  color: black;
  cursor: pointer;
}
div.modal-header {
  padding: 6px;
  background-color: #FEE5AC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
div.modal-header > h2 {
  font-size: 22px;
  font-weight: 300;
}
div.modal-body {
  padding: 6px 6px;
  width: 100%;
  box-sizing: border-box;
}
div.modal-body p {
  padding: 1px 3px 4px 3px;
  font-size: 14px;
  text-align: center;
}
div.modal-body p.form-pre-footer {
  padding-top: 5px;
  font-size: 12px;
  font-style: italic;
}
div.modal-body input {
  margin: 3px;
}
div.modal-body input[type='text'], div.modal-body input[type='password'] {
  font-size: 14px;
  padding: 1px;
  width: 175px;
}
div.large-modal div.modal-body input[type='text'],
div.large-modal div.modal-body input[type='password'] {
  width: 275px;
}
div.modal-body input[type='submit'] {
  font-size: 16px;
}

div.modal-body div.form-title {
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  vertical-align: top;
  width: 110px;
}
div.large-modal div.modal-body div.form-title {
  width: 140px;
}
div.modal-body div.form-content {
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
}
div.modal-body div.form-subtitle {
  font-size: 12px;
  padding-left: 4px;
  font-style: italic;
}

div.form-enum-selector {
  display: inline-block;
}
div.form-enum-selector > div.form-enum-container {
  padding-top: 5px;
}
div.form-enum-selector > div.form-enum-container > input {
  vertical-align: top;
  margin-top: 4px;
}
div.form-enum-selector div.form-enum-option {
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
div.form-enum-selector span.form-enum-description {
  display: block;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  max-width: 260px;
  color: gray;
}
div.form-enum-selector div.form-enum-password {
  margin-left: -5px;
}
div.form-enum-selector div.form-enum-password > input[type='password'] {
  width: 257px;
}
div#color-title {
  margin-top: 4px;
}

div.modal-body div.form-footer {
  margin-top: 5px;
  padding-top: 3px;
  border-top: 2px solid #EFEFEF;
  min-height: 26px;
}
div.modal-body div.form-footer span.modal-form-error {
  display: inline-block;
  font-size: 14px;
  color: red;
  font-style: italic;
  padding-top: 5px;
}
div.modal-body div.form-footer span.form-submit {
  display: inline-block;
  float: right;
}

div.form-text > div.form-title {
  vertical-align: initial;
}
div.form-text > div.form-content {
  margin-left: 3px;
  margin-bottom: 3px;
}

.verified-status-true {
  color: green;
}
.verified-status-false {
  color: red;
}

.hidden {
  display: none;
}
.italic {
  font-style: italic;
}

div#history-modal div.modal-body {
  position: relative;
  height: 240px;
  overflow: hidden;
}
p#history-loading {
  position: absolute;
  left: 0;
  top: 27px;
  box-sizing: border-box;
  width: 100%;
}
p#history-loading img {
  padding-top: 4px;
}
div.entry-history {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 27px;
  box-sizing: border-box;
}
div.history-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #F4F4F4;
  box-sizing: border-box;
}
a#all-history-button {
  float: left;
  width: 25%;
}
span.history-date {
  float: left;
  width: 50%;
  text-align: center;
}
div.entry-history ul {
  overflow: auto;
  height: 211px;
}
div.entry-history li {
  border-bottom: 2px solid lightgray;
  margin: 5px;
  padding-bottom: 8px;
  padding-top: 1px;
}
div.entry-history li:last-child {
  border-bottom: none;
}
span.entry-author {
  float: left;
  padding-left: 11px;
  font-size: 12px;
  color: gray;
}
span.entry-username {
  color: #2A5DB0;
}
time.entry-time {
  float: right;
  padding-right: 11px;
  font-size: 12px;
  color: gray;
}
span.entry-squad {
  float: right;
  padding-right: 11px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: -2px;
}
div.clear {
  clear: both;
}
div.entry-history-entry {
  margin: 5px;
  font-size: 13px;
  word-break: break-all;
  white-space: pre-wrap;
}
div.day-history {
  position: absolute;
  width: 100%;
  left: 0;
  top: 27px;
  box-sizing: border-box;
}
div.day-history ul {
  overflow: auto;
  height: 211px;
}
div.day-history li {
  padding-bottom: 2px;
}
div.day-history li:last-child {
  padding-bottom: 8px;
}
span.deleted-entry {
  float: left;
  padding-top: 2px;
  padding-left: 11px;
  font-size: 12px;
  line-height: 17px;
}
span.deleted-entry-label {
  color: red;
  font-style: italic;
}
span.restore-entry-label {
  padding-left: 5px;
}
img.restore-loading {
  width: 12px;
  position: relative;
  top: 2px;
  left: 5px;
  display: none;
}
a.revision-history-button {
  float: right;
  padding-top: 2px;
  padding-right: 11px;
  font-size: 12px;
  font-weight: bold;
}
div.entry-history-restored {
  font-style: italic;
  font-size: 13px;
  padding-left: 11px;
}
div.entry-history-deleted {
  font-style: italic;
  font-size: 13px;
  padding-left: 11px;
  color: red;
}

div.pick-squad {
  display: none;
  position: absolute;
  left: 4px;
  bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: white;
  border-radius: 3px;
  white-space: nowrap;
  line-height: normal;
  font-size: 12px;
  cursor: pointer;
}
a.select-squad {
  color: black;
}
div.pick-squad > div {
  border-bottom: 1px solid #D3D3D3;
  padding: 3px 10px 3px 25px;
  position: relative;
}
div.pick-squad > div:hover {
  background-color: #F2F2F2;
}
div.pick-squad > div:last-child {
  border-bottom: none;
}
div.color-preview {
  width: 12px;
  height: 12px;
  left: 6px;
  position: absolute;
  top: 5px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
