header, tr {
  font-family: 'Anaheim', sans-serif;
}
body {
  font-family: sans-serif;
  background-color: #FFFAF0;
}
a {
  text-decoration: none;
  color: #2A5DB0;
}

table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
textarea {
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
  overflow-y: hidden;
  padding: 5px;
}
* {
  padding: 0;
  margin: 0;
}
header {
  height: 42px;
}
td.day {
  background-color: white;
  position: relative;
  height: 100px;
}
td.day > h2 {
  position: absolute;
  bottom: 2px;
  right: 3px;
  color: #FEE5AC;
  font-size: 32px;
  line-height: 32px;
}
td.current-day > h2 {
  color: #FF944D;
}

h1 {
  position: absolute;
  padding-left: 4px;
}

div.upper-right {
  position: absolute;
  padding: 6px;
  right: 0;
}
div.upper-right > select {
  height: 28px;
  font-size: 12px;
  border: 1px solid #AAA;
  vertical-align: top;
  margin: 4px 6px 0 1px;
  float: left;
}

div.nav-button {
  position: relative;
  display: inline;
}
div.nav-button > img {
  opacity: 0.5;
  height: 36px;
  float: left;
  padding-right: 1px;
}
div.nav-button > div.nav-menu {
  display: none;
  position: absolute;
  right: 4px;
  top: 32px;
  background-color: #FFFAF0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  white-space: nowrap;
}
div.nav-button > div.nav-menu > div {
  border-bottom: 1px solid #D3D3D3;
  padding: 3px 16px;
}
div.nav-button > div.nav-menu > div:last-child {
  border-bottom: none;
}
div.nav-button:hover > div.nav-menu {
  display: block;
}
span#username {
  font-family: sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-top: 8px;
  margin-right: 3px;
  float: left;
  padding-bottom: 3px;
}
span#username:hover {
  cursor: default;
}

h2.upper-center {
  text-align: center;
}

div.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}
div.modal {
  position: relative;
  background-color: white;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .3),
    0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
  max-width: 330px;
}
div.large-modal {
  max-width: 500px;
}
span.modal-close {
  float: right;
  font-size: 32px;
  margin-top: -6px;
  font-weight: 300;
}
span.modal-close:hover {
  color: black;
  cursor: pointer;
}
div.modal-header {
  padding: 6px;
  background-color: #FEE5AC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
div.modal-header > h2 {
  font-size: 22px;
  font-weight: 300;
}
div.modal-body {
  padding: 6px 6px;
  width: 100%;
  box-sizing: border-box;
}
div.modal-body p {
  padding: 1px 3px 4px 3px;
  font-size: 14px;
  text-align: center;
}
div.modal-body input {
  margin: 3px;
}
div.modal-body input[type='text'], div.modal-body input[type='password'] {
  font-size: 14px;
  padding: 1px;
  width: 175px;
}
div.large-modal div.modal-body input[type='text'],
div.large-modal div.modal-body input[type='password'] {
  width: 275px;
}
div.modal-body input[type='submit'] {
  font-size: 16px;
}

div.modal-body div.form-title {
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  vertical-align: top;
  width: 110px;
}
div.large-modal div.modal-body div.form-title {
  width: 140px;
}
div.modal-body div.form-content {
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
}

div.form-enum-selector {
  display: inline-block;
}
div.form-enum-selector > div.form-enum-container {
  padding-top: 5px;
}
div.form-enum-selector > div.form-enum-container > input {
  vertical-align: top;
  margin-top: 4px;
}
div.form-enum-selector div.form-enum-option {
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
div.form-enum-selector span.form-enum-description {
  display: block;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  max-width: 260px;
  color: gray;
}
div.form-enum-selector div.form-enum-password {
  margin-left: -5px;
}
div.form-enum-selector div.form-enum-password > input[type='password'] {
  width: 257px;
}

div.modal-body div.form-footer {
  margin-top: 5px;
  padding-top: 3px;
  border-top: 2px solid #EFEFEF;
  min-height: 26px;
}
div.modal-body div.form-footer span.modal-form-error {
  display: inline-block;
  font-size: 14px;
  color: red;
  font-style: italic;
  padding-top: 5px;
}
div.modal-body div.form-footer span.form-submit {
  display: inline-block;
  float: right;
}

div#squad-login-modal div#squad-login-name > div.form-title {
  vertical-align: initial;
}
div#squad-login-modal div#squad-login-name > div.form-content {
  margin-left: 3px;
  margin-bottom: 3px;
}

.hidden {
  display: none;
}
.italic {
  font-style: italic;
}
