header, tr {
  font-family: 'Anaheim', sans-serif;
}
body {
  background-color: #FFFAF0;
}
a {
  text-decoration: none;
  color: #2A5DB0;
}

table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
}
textarea {
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
  overflow-y: hidden;
  padding: 5px;
}
* {
  padding: 0;
  margin: 0;
}
header {
  height: 42px;
}
td.day {
  background-color: white;
  position: relative;
  height: 100px;
}
td.day > h2 {
  position: absolute;
  bottom: 2px;
  right: 3px;
  color: #FEE5AC;
  font-size: 32px;
  line-height: 32px;
}
td.current-day > h2 {
  color: #FF944D;
}

h1 {
  position: absolute;
  padding-left: 4px;
}

div.upper-right {
  position: absolute;
  padding: 6px;
  right: 0;
}
div.upper-right > select {
  height: 28px;
  font-size: 12px;
  border: 1px solid #AAA;
  vertical-align: top;
  margin-top: 4px;
}

div.user-button {
  position: relative;
  display: inline;
}
div.user-button > img {
  opacity: 0.5;
  height: 36px;
}
div.user-button > div.user-menu {
  display: none;
  position: absolute;
  right: 4px;
  top: 12px;
  background-color: #FFFAF0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  white-space: nowrap;
}
div.user-button > div.user-menu > div {
  border-bottom: 1px solid #D3D3D3;
  padding: 3px 16px;
}
div.user-button > div.user-menu > div:last-child {
  border-bottom: none;
}
div.user-button:hover > div.user-menu {
  display: block;
}

h2.upper-center {
  text-align: center;
}

div.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}
div.modal {
  position: relative;
  background-color: white;
  margin: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .3),
    0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
}
span.modal-close {
  float: right;
  font-size: 32px;
  margin-top: -6px;
  font-weight: 300;
}
span.modal-close:hover {
  color: black;
  cursor: pointer;
}
div.modal-header {
  padding: 6px;
  background-color: #FEE5AC;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
div.modal-header > h2 {
  font-size: 22px;
  font-weight: 300;
}
div.modal-body {
  padding: 6px 6px;
  width: 100%;
}
div.modal-body input[type='text'], div.modal-body input[type='password'] {
  font-size: 14px;
  padding: 1px;
  margin: 3px;
}
div.modal-body input[type='submit'] {
  font-size: 16px;
  margin: 3px;
}
div.modal-body span.modal-form-error {
  float: right;
  font-family: sans-serif;
  font-size: 14px;
  margin-right: 18px;
  margin-top: 8px;
  color: red;
  font-style: italic;
}

div.squad-password-modal {
  max-width: 400px;
}
div.squad-password-modal-body input[type='password'] {
  width: 310px;
}
div.squad-password-modal-body input[type='submit'] {
  position: relative;
  float: right;
  margin-right: 15px;
}

div.log-in-modal, div.register-modal, div.user-settings-modal {
  max-width: 300px;
}
div.log-in-modal-body input[type='text'],
div.log-in-modal-body input[type='password'],
div.register-modal-body input[type='text'],
div.register-modal-body input[type='password'],
div.user-settings-modal-body input[type='password']
{
  width: 275px;
}
