div.modalContentContainer {
  color: var(--fg);
  background-color: var(--modal-bg);
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: var(--l-font-18);
  overflow-y: auto;
  max-height: 100%;
}

div.userRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

div.userRowContainer:hover {
  cursor: pointer;
  background-color: var(--drawer-open-community-bg);
  border-radius: 8px;
}

div.userInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.username {
  margin-left: 8px;
}
