hr.separator {
  border: 0;
  margin: 20px 0 0 0;
  width: 100%;
  height: 2px;
  border: none;
  border-top: var(--shades-black-70) solid 1px;
}

.messageResultsContainer {
  overflow-y: scroll;
  padding: 0 32px 8px 32px;
}

.messageResultsContainer > * {
  margin-bottom: 16px;
}

.loadingIndicator {
  text-align: center;
}

.topSpace {
  height: 48px;
  align-items: center;
  justify-content: center;
  display: flex;
}
