.container {
  height: 80vh;
  overflow: scroll;
  max-height: 100%;
}

hr.separator {
  border: 0;
  margin: 20px 0 0 0;
  width: 100%;
  height: 2px;
  border: none;
  border-top: var(--shades-black-60) solid 1px;
}

.messageResultsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  row-gap: 16px;
}

.loadingIndicator {
  text-align: center;
}

.topSpace {
  height: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.noPinnedMessages {
  color: var(--text-background-tertiary-default);
  display: flex;
  flex: 1;
  justify-content: center;
}
