div.modal_body {
  padding: 24px 32px 32px 32px;
  color: var(--fg);
  background-color: var(--modal-bg);
  border-radius: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

div.buttonContainer {
  padding-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}
