hr.separator {
    border: 0;
    margin: 20px 0;
    width: 100%;
    height: 2px;
    border: none;
    border-top: var(--shades-black-70) solid 1px;
}

.pinnedMessagesContainer {
    overflow-y: scroll;
}
