.confirmationText {
    color: var(--pin-message-information-text-color);
    padding: 16px 32px 0 32px;
    font-size: small;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: stretch;
    margin-bottom: 16px;
}

.togglePinButton {
    margin: 0 32px 0 32px;
}

.cancelButton {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.cancelButton:hover {
    cursor: pointer;
    text-decoration: underline;
}
