div.leftTooltipAlign > div {
  align-items: flex-start;
}

div.centerTooltipAlign > div {
  align-items: center;
}

div.rightTooltipAlign > div {
  align-items: flex-end;
}

div.tooltipAbsolute {
  position: absolute;
}

div.tooltipAbsoluteLeft {
  left: 0;
}

div.tooltipAbsoluteRight {
  right: 0;
}

div.tooltipAbsoluteTop {
  top: 0;
}

div.tooltipAbsoluteBottom {
  bottom: 0;
}
