.modalDescription {
  color: var(--text-background-secondary-default);
  font-size: var(--m-font-16);
  margin-bottom: 16px;
}

.rolePanelTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0 16px;
}

.rolePanelTitle {
  color: var(--text-background-primary-default);
  font-size: var(--l-font-18);
}

.rolePanelTitle:last-of-type {
  margin-right: 90px;
}

.separator {
  border: 0;
  margin-bottom: 8px;
  align-self: center;
  height: 2px;
  border: none;
  border-top: var(--separator-background-primary-default) solid 1px;
}

.rolePanelList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px;
}
