.rolePanelEntry {
  display: grid;
  align-items: center;
  padding: 12px 12px 12px 0;
  color: var(--text-background-primary-default);
  font-weight: 500;
}

.rolePanelEntry:last-of-type {
  padding-bottom: 0;
}

.rolePanelNameEntry {
  font-size: var(--s-font-14);
}

.rolePanelCountEntryContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
}

.rolePanelCountAndIcon {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.rolePanelCountEntry {
  font-size: var(--s-font-14);
  margin-right: 2px;
}
