.rolePanelEntry {
  display: grid;
  align-items: center;
  padding: 12px;
  color: var(--community-roles-text-color);
  font-weight: 500;
}

.rolePanelNameEntry {
  font-size: var(--s-font-14);
}

.rolePanelCountEntryContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
}

.rolePanelCountAndIcon {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.rolePanelCountEntry {
  font-size: var(--s-font-14);
  margin-right: 2px;
}
