div.threadSearchContainer {
  display: flex;
  flex-direction: column;
  max-height: 50%;
  overflow: auto;
  flex-shrink: 0;
  box-shadow: 0px 1px 3px 0px var(--panel-headerShadow-secondary-default);
  clip-path: inset(0 0 -3px 0);
}

div.fullHeight {
  flex-grow: 1;
  max-height: 100%;
}

div.userSelectedTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  margin-bottom: 8px;
}

div.searchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}

div.searchField {
  flex-grow: 1;
  padding: 1rem;
}

.closeSearch {
  color: var(--button-label-tertiary-default);
  margin: 0 8px;
}

ul.searchResultsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 12px 8px;
  list-style-type: none;
}

.searchResultsItem {
  display: flex;
}

.searchResultsItem:hover {
  background-color: var(--panel-listItem-primary-hover);
  border-radius: 8px;
}

.searchResultsButton {
  justify-content: space-between;
  flex: 1;
  padding: 8px 12px;
}

div.userName {
  color: var(--text-background-primary-default);
  margin-left: 8px;
}

div.userInfo {
  font-style: italic;
  color: var(--text-background-tertiary-default);
}

div.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
