div.container {
  position: absolute;
  width: 400px;
  top: 0;
  bottom: 0;
  background-color: var(--bg);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

div.tabs {
  display: flex;
  flex-direction: row;
  color: var(--color);
  background: var(--bg);
}

div.tabItem {
  flex: 1;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  text-align: center;
  cursor: pointer;
}
div.tabItemActive {
  border: outset var(--thread-selection);
  border-width: 0 0 3px 0;
}
div.tabItemInactive {
  background-color: var(--bg);
  color: var(--color-disabled);
  margin-bottom: -1px;
}

div.threadList {
  flex: 1;
  overflow-y: auto;
}

div.emptyItem {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  white-space: pre-wrap;
}
