div.inputBar {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
}
div.inputBarWrapper {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
div.inputBarTextInput {
  display: flex;
  background: var(--text-input-bg);
  border-radius: 4px;
  padding: 8px;
  align-items: center;
  flex-grow: 1;
}
div.inputBarTextInput > textarea {
  flex: 1;
  display: flex;
  border: none;
  resize: none;
  background: var(--text-input-bg);
  color: var(--fg);
}
div.inputBarTextInput > textarea:focus {
  outline: none;
}
div.joinButtonContainer > a {
  margin: 8px;
  padding: 3px 0 5px 0;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;
}
span.joinButtonText {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-inline: 6px;
}
span.explanation {
  color: #777777;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 8px;
}
a.multimediaUpload {
  cursor: pointer;
  position: relative;
  padding-right: 12px;
}
a.multimediaUpload > input[type='file'] {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

a.multimediaUpload > svg {
  color: var(--fg);
}

div.previews {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
div.previews > span.multimedia {
  margin: 10px;
}
div.previews > span.multimedia > span.multimediaImage > img {
  max-height: 200px;
  max-width: 200px;
}

a.sendButton {
  padding: 8px 0 0 10px;
}

a.sendButton svg {
  color: var(--fg);
}
