div.sidebar .menu > button svg {
  color: var(--thread-color-read);
  padding-right: 8px;
}
div.sidebar .menu {
  opacity: 0;
}
div.sidebar:hover .menu {
  display: flex;
  align-self: flex-end;
  opacity: 1;
}
.menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  flex-grow: 1;
}
.menu > button {
  background-color: transparent;
  color: var(--thread-color-read);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu > button:hover svg {
  color: var(--fg);
}

.mailIcon {
  padding-right: 8px;
}

.menu > button:focus {
  outline: none;
}

.menuContent {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  right: 11px;
  z-index: 1;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;

  background-color: var(--chat-thread-list-menu-bg);
}
.menuContentVisible {
  display: block;
  background-color: var(--chat-thread-list-menu-bg);
}
.menuContent.active {
  color: var(--chat-thread-list-menu-active-color);
  background: var(--chat-thread-list-menu-active-bg);
}
.menuSidebar {
  padding-right: 2px;
}

button.menuContent {
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: var(--xs-font-12);
  line-height: var(--line-height-text);
  background: var(--chat-thread-list-menu-bg);
  color: var(--chat-thread-list-menu-color);
}
