div.threadSearchContainer {
  background-color: var(--thread-creation-search-container-bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  max-height: 50%;
  overflow: auto;
  flex-shrink: 0;
}

div.fullHeight {
  flex-grow: 1;
  max-height: 100%;
}

div.userSelectedTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  margin-bottom: 8px;
}

div.searchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}

div.searchField {
  flex-grow: 1;
}

.closeSearch {
  color: var(--thread-creation-close-search-color);
  margin: 0 8px;
}

ul.searchResultsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 12px 8px;
  list-style-type: none;
}

.searchResultsItem {
  display: flex;
}

.searchResultsItem:hover {
  background-color: var(--thread-creation-search-item-bg-hover);
}

.searchResultsButton {
  justify-content: space-between;
  flex: 1;
  padding: 8px 12px;
}

div.userName {
  color: var(--fg);
  margin-left: 8px;
}

div.userInfo {
  font-style: italic;
  color: var(--thread-creation-search-item-info-color);
}

div.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
