div.inputBar {
  display: flex;
  flex-direction: column;
}
div.inputBarWrapper {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.inputBarTextInput {
  display: flex;
  background-color: var(--inputField-background-secondary-default);
  border-radius: 4px;
  /* Related to editBoxHeight in the `edit-text-message` component */
  padding: 12px 8px;
  align-items: center;
  flex-grow: 1;
  box-shadow: 0px -1px 3px 0px var(--panel-headerShadow-secondary-default);
  clip-path: inset(-3px 0 0 0);
}
div.inputBarTextInput > textarea {
  flex: 1;
  display: flex;
  border: none;
  resize: none;
  background-color: var(--inputField-background-secondary-default);
  color: var(--text-background-primary-default);
}
div.inputBarTextInput > textarea:focus {
  outline: none;
}
div.joinButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 16px 0;
  box-shadow: 0px -1px 3px 0px var(--panel-headerShadow-secondary-default);
  clip-path: inset(-3px 0 0 0);
}
p.joinButtonText {
  font-weight: var(--semi-bold);
  padding-left: 8px;
}
span.explanation {
  color: var(--permission-color);
  text-align: center;
  padding: 24px 0;
  box-shadow: 0px -1px 3px 0px var(--panel-headerShadow-secondary-default);
  clip-path: inset(-3px 0 0 0);
}
a.multimediaUpload {
  display: flex;
  cursor: pointer;
  position: relative;
  padding-right: 12px;
  color: var(--button-label-secondary-default);
}
a.multimediaUpload > input[type='file'] {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
a.multimediaUpload:hover > svg {
  opacity: 0.8;
}

div.previews {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0px -1px 3px 0px var(--panel-headerShadow-secondary-default);
  clip-path: inset(-3px 0 0 0);
}
div.previews > span.multimedia {
  margin: 10px;
}
div.previews > span.multimedia > span.multimediaImage > img {
  max-height: 200px;
  max-width: 200px;
}

a.sendButton {
  padding: 8px 0 0 10px;
  cursor: pointer;
}
