div.container {
  margin-left: 400px;
  height: 100%;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
div.activeContainer {
  border: 2px solid #5989d6;
  margin-left: 402px;
}
