div.inputBar {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
}
div.inputBarWrapper {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.inputBarTextInput {
  display: flex;
  background: var(--text-input-bg);
  border-radius: 4px;
  padding: 8px;
  align-items: center;
  flex-grow: 1;
}
div.inputBarTextInput > textarea {
  flex: 1;
  display: flex;
  border: none;
  resize: none;
  background: var(--text-input-bg);
  color: var(--fg);
}
div.inputBarTextInput > textarea:focus {
  outline: none;
}
div.joinButtonContainer {
  background: var(--join-bg);
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
p.joinButtonText {
  font-weight: var(--semi-bold);
  padding-left: 8px;
}
span.explanation {
  color: var(--permission-color);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 8px;
}
a.multimediaUpload {
  cursor: pointer;
  position: relative;
  padding-right: 12px;
}
a.multimediaUpload > input[type='file'] {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
a.multimediaUpload:hover > svg {
  opacity: 0.8;
}

div.previews {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
div.previews > span.multimedia {
  margin: 10px;
}
div.previews > span.multimedia > span.multimediaImage > img {
  max-height: 200px;
  max-width: 200px;
}

a.sendButton {
  padding: 8px 0 0 10px;
  cursor: pointer;
}
