div.container {
  position: absolute;
  width: 400px;
  top: 0;
  bottom: 0;
  background-color: var(--bg);
  border-right: 1px solid var(--border-color);
  display: flex;
}

div.tabItem {
  display: flex;
  align-items: center;
}

div.tabItem svg {
  padding-right: 8px;
}

div.threadList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
