div.container {
  position: absolute;
  width: 400px;
  top: 0;
  bottom: 0;
  background-color: white;
  border-right: 2px solid #e4e4e4;
  display: flex;
  flex-direction: column;
}

div.tabs {
  display: flex;
  flex-direction: row;
}

div.tabItem {
  flex: 1;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  text-align: center;
  cursor: pointer;
}
div.tabItemActive {
  border: outset lightskyblue;
  border-width: 0 0 2px 0;
}
div.tabItemInactive {
  background-color: lightgrey;
  color: grey;
  margin-bottom: -1px;
}

div.threadList {
  flex: 1;
  overflow-y: auto;
}

div.emptyItem {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  white-space: pre-wrap;
}
