div.outerMessageContainer {
  position: relative;
  height: calc(100vh - 128px);
  min-height: 0;
  display: flex;
  flex-direction: column;
}
div.messageContainer {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
div.mirroredMessageContainer {
  flex-direction: column !important;
  transform: scaleY(-1);
}
div.mirroredMessageContainer > div {
  transform: scaleY(-1);
}

div.message {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

div.loading {
  text-align: center;
  padding: 12px;
}

div.conversationHeader {
  color: var(--chat-timestamp-color);
  font-size: var(--xs-font-12);
  padding: 6px 0;
  line-height: var(--line-height-text);
  text-align: center;
}
div.conversationHeader:last-child {
  padding-top: 6px;
}

div.messageTooltipActiveArea {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  align-items: center;
  padding: 0 12px;
}

div.viewerMessageTooltipActiveArea {
  right: 100%;
}
div.nonViewerMessageActiveArea {
  left: 100%;
}
div.messageTooltipActiveArea > div + div {
  margin-left: 4px;
}

div.messageTooltipLinkIcon:hover {
  cursor: pointer;
}

div.textMessage {
  padding: 6px 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}
div.textMessageDefaultBackground {
  background-color: var(--text-message-default-background);
}
div.normalTextMessage {
  font-size: 16px;
}
div.emojiOnlyTextMessage {
  font-size: 32px;
  font-family: emoji;
}
span.authorName {
  color: #777777;
  font-size: 14px;
  padding: 4px 24px;
}
div.darkTextMessage {
  color: white;
}
div.lightTextMessage {
  color: black;
}

div.content {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid blue;
}
div.nonViewerContent {
  align-self: flex-start;
  justify-content: flex-start;
  padding-right: 8px;
}
div.viewerContent {
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 4px;
}
div.iconContainer {
  margin-right: 1px;
}
div.iconContainer > svg {
  height: 16px;
}

div.messageBoxContainer {
  position: relative;
  display: flex;
  max-width: calc(min(68%, 1000px));
  margin: 0 4px 0 8px;
  border: 1px solid green;
}
div.fixedWidthMessageBoxContainer {
  width: 68%;
}

div.messageBox {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0;
  max-width: 100%;
  border: 1px solid red;
}
div.fixedWidthMessageBox {
  width: 100%;
}

div.failedSend {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  margin-right: 30px;
  padding-bottom: 6px;
}

.deliveryFailed {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 3px;
  color: var(--fg);
}

.retryButtonText {
  text-transform: uppercase;
  font-size: 14px;
}

div.messageBox > div.imageGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}
div.messageBox span.multimedia > span.multimediaImage {
  min-height: initial;
  min-width: initial;
}
div.messageBox span.multimedia > span.multimediaImage > img {
  max-height: 600px;
}

div.imageGrid > span.multimedia {
  grid-column-end: span 3;
}
div.imageGrid > span.multimedia:first-child {
  margin-top: 0;
}
div.imageGrid > span.multimedia > span.multimediaImage {
  flex: 1;
}
div.imageGrid > span.multimedia > span.multimediaImage:after {
  content: '';
  display: block;
  padding-bottom: calc(min(600px, 100%));
}
div.imageGrid > span.multimedia > span.multimediaImage > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.imageGrid > span.multimedia:nth-last-child(n + 3):first-child,
div.imageGrid > span.multimedia:nth-last-child(n + 3):first-child ~ * {
  grid-column-end: span 2;
}
div.imageGrid > span.multimedia:nth-last-child(n + 4):first-child,
div.imageGrid > span.multimedia:nth-last-child(n + 4):first-child ~ * {
  grid-column-end: span 3;
}
div.imageGrid > span.multimedia:nth-last-child(n + 5):first-child,
div.imageGrid > span.multimedia:nth-last-child(n + 5):first-child ~ * {
  grid-column-end: span 2;
}
div.sidebarMarginBottom {
  margin-bottom: 2px;
}
svg.inlineEngagementIcon {
  color: #666666;
}
