div.container {
  flex: 1;
  overflow: hidden;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}
div.activeContainer {
  border: 2px solid var(--chat-message-list-active-border);
}
