div.inlineSidebarContent {
  flex-direction: row;
  display: flex;
  margin: 0 40px 0 20px;
  cursor: pointer;
}
div.inlineSidebar {
  flex-direction: row;
  display: flex;
  align-items: center;
}
div.inlineSidebarName {
  padding-top: 1px;
  color: #666666;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 2px;
}
div.unread {
  font-weight: bold;
}
