div.inlineEngagementContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.centerContainer {
  justify-content: center;
}
div.leftContainer {
  justify-content: flex-start;
  position: relative;
  top: -10px;
  left: 44px;
  margin-right: 44px;
}
div.rightContainer {
  justify-content: flex-end;
  position: relative;
  top: -10px;
  right: 30px;
  margin-left: 31px;
}

div.leftContainerNoAvatar {
  left: 12px;
  margin-right: 12px;
}

a.threadsContainer,
a.threadsSplitContainer,
a.reactionsContainer,
a.reactionsSplitContainer {
  background: var(--inline-engagement-bg);
  color: var(--inline-engagement-color);
  font-size: var(--s-font-14);
  line-height: var(--line-height-text);
  transition: background 0.2s ease-in-out;
  padding: 8px;
  gap: 4px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

a.threadsContainer,
a.reactionsContainer {
  border-radius: 16px;
}
a.threadsSplitContainer {
  border-radius: 16px 0 0 16px;
}
a.reactionsSplitContainer {
  border-radius: 0 16px 16px 0;
}

a.threadsContainer:hover,
a.threadsSplitContainer:hover,
a.reactionsContainer:hover,
a.reactionsSplitContainer:hover {
  background: var(--inline-engagement-bg-hover);
}

div.unread {
  font-weight: bold;
}

svg.inlineEngagementIcon {
  color: #666666;
}

div.messageLabel {
  display: flex;
  flex-shrink: 0;
}

div.messageLabel > span {
  font-size: 12px;
  padding: 0 3px;
  color: var(--message-label-color);
}

div.messageLabelLeft {
  margin-left: 8px;
  margin-right: 4px;
}

div.messageLabelRight {
  margin-right: 12px;
  margin-left: 4px;
}

div.onlyMessageLabel {
  margin-top: 8px;
}
