div.messageLeftTooltip:after {
  top: 7px;
  right: -14px;
  border-color: transparent transparent transparent var(--tool-tip-bg);
}
div.messageRightTooltip:after {
  top: 7px;
  left: -14px;
  border-color: transparent var(--tool-tip-bg) transparent transparent;
}
div.messageTopLeftTooltip:after {
  bottom: -14px;
  left: 4px;
  border-color: var(--tool-tip-bg) transparent transparent transparent;
}
div.messageTopRightTooltip:after {
  bottom: -14px;
  right: 4px;
  border-color: var(--tool-tip-bg) transparent transparent transparent;
}
div.messageBottomLeftTooltip:after {
  top: -14px;
  left: 4px;
  border-color: transparent transparent var(--tool-tip-bg) transparent;
}
div.messageBottomRightTooltip:after {
  top: -14px;
  right: 4px;
  border-color: transparent transparent var(--tool-tip-bg) transparent;
}

div.messageActionActiveArea {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  align-items: center;
  padding: 0 12px;
}

div.viewerMessageActionActiveArea {
  right: 100%;
}
div.nonViewerMessageActiveArea {
  left: 100%;
}
div.messageActionActiveArea > div + div {
  margin-left: 4px;
}

div.messageActionLinkIcon:hover {
  cursor: pointer;
}
