div.robotextContainer {
  text-align: center;
  color: var(--fg);
  padding: 6px 0;
  margin: 0 40px 5px 40px;
  font-size: var(--s-font-14);
  line-height: var(--line-height-text);
}
div.innerRobotextContainer {
  display: inline-flex;
  position: relative;
  word-break: break-word;
}
div.messageActionLinks {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  align-items: center;
  color: gray;
  padding: 0 6px;
}
div.viewerMessageActionLinks {
  right: 100%;
}
div.nonViewerMessageActionLinks {
  left: 100%;
}
div.messageActionLinks > div + div {
  margin-left: 4px;
}
