div.topBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: var(--text-background-primary-default);
}

div.topBarThreadInfo {
  height: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
}

.threadTitle {
  font-size: var(--m-font-16);
  font-weight: var(--bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchButtonIcon {
  color: var(--button-label-tertiary-default);
}

.buttons {
  flex-direction: row;
  display: flex;
  gap: 30px;
}
