div.topBarContainer {
  display: flex;
  background-color: var(--bg);
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: var(--thread-top-bar-color);
  border-bottom: 1px solid var(--border);
}

div.topBarThreadInfo {
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
  flex: 1;
}

div.threadColorSquare {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex: 0 0 auto;
}

div.threadTitle {
  font-size: var(--m-font-16);
  font-weight: var(--bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

button.topBarMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--thread-top-bar-menu-color);
}
