div.topBarContainer {
  display: flex;
  background-color: var(--bg);
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: var(--thread-top-bar-color);
  border-bottom: 1px solid var(--border);
}

div.topBarThreadInfo {
  height: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  overflow: hidden;
}

div.threadColorSquare {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex: 0 0 auto;
}

.threadTitle {
  font-size: var(--m-font-16);
  font-weight: var(--bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.topBarMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--thread-top-bar-menu-color);
}

.pinnedCountBanner {
  background-color: var(--pinned-count-banner-color);
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.pinnedCountText {
  color: var(--pinned-count-text-color);
  font-size: var(--xs-font-12);
  display: inline-flex;
  align-items: center;
}

a.pinnedCountText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chevronRight {
  vertical-align: middle;
}
