.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--settings-btn-bg);
  border-color: transparent;
}

.primary {
  background: var(--btn-bg-primary);
  padding: 12px 24px;
  color: var(--fg);
  border-radius: 4px;
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
