.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--settings-btn-bg);
  border-color: transparent;
  font-size: var(--m-font-16);
}

.primary {
  background: var(--btn-bg-primary);
  padding: 12px 24px;
  color: var(--fg);
  border-radius: 4px;
}

.secondary {
  border: 1px solid var(--btn-secondary-border);
  padding: 12px 24px;
  color: var(--fg);
  background: var(--shades-black-90);
  border-radius: 4px;
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
