.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--settings-btn-bg);
  border-color: transparent;
  padding: 12px 24px;
  border-radius: 4px;
}

.primary {
  background: var(--btn-bg-primary);
  color: var(--fg);
}

.secondary {
  background: var(--shades-black-90);
  color: var(--fg);
  border: 1px solid var(--btn-secondary-border);
}

.danger {
  background: var(--btn-bg-danger);
  color: var(--fg);
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}
