div.optionContainer {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

div.optionContainerSelected {
  background: var(--enumOption-background-primary-selected);
}

div.optionIcon {
  margin-right: 16px;
}

div.optionIconTop {
  align-self: flex-start;
}

div.optionIconCenter {
  align-self: center;
}

div.optionIconBottom {
  align-self: flex-end;
}

div.optionContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: var(--line-height-text);
  margin-right: 6px;
}

div.optionTitle {
  font-size: var(--m-font-16);
  font-weight: var(--semi-bold);
  color: var(--enumOption-title-primary-default);
  margin-bottom: 4px;
}

div.optionDescription {
  font-size: var(--xs-font-12);
  color: var(--enumOption-description-primary-default);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
