div.label {
  line-height: 1.5;
  padding: 4px 8px;
  border-radius: 8px;
  display: flex;
  word-break: break-all;
}

button.close {
  margin-left: 4px;
  color: inherit;
}

.default {
  color: var(--label-default-color);
  background-color: var(--label-default-bg);
}

.grey {
  color: var(--label-grey-color);
  background-color: var(--label-grey-bg);
}
