button.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

div.menuActionList {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  background-color: var(--menu-bg);
  color: var(--menu-color);
  border-radius: 4px;
  padding: 4px 0;
  line-height: var(--line-height-text);
  min-width: max-content;
}

div.menuActionListThreadActions {
  font-size: var(--m-font-16);
  top: 40px;
  right: -20px;
}

div.menuActionListMemberActions {
  font-size: var(--xs-font-12);
  background-color: var(--menu-bg-light);
  color: var(--menu-color-light);
  top: 0;
  right: 5px;
}

button.menuAction {
  color: inherit;
  z-index: 1;
  padding: 12px 16px;
  line-height: 1.5;
  font-size: inherit;
  justify-content: start;
}

button.menuAction:hover {
  color: var(--menu-color-hover);
}

div.menuActionIcon {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

div.menuActionListMemberActions div.menuActionIcon {
  height: 18px;
  width: 18px;
}

button.menuActionDangerous {
  color: var(--menu-color-dangerous);
}
button.menuActionDangerous:hover {
  color: var(--menu-color-dangerous-hover);
}

hr.separator {
  height: 1px;
  background: var(--menu-separator-color);
  margin: 10px 16px;
  max-width: 130px;
  border: none;
}
