div.orBreak hr {
  margin: 20px 0;
  height: 0;
  overflow: visible;
  text-align: center;
  border: none;
  border-top: #ffffff33 solid 1px;
}

div.orBreak hr:after {
  position: relative;
  top: -12px;
  padding: 0 8px;
  color: #8c889b;
  content: 'or';
  background-color: #191723;
}
