.messageContainer {
    overflow-y: scroll;
    border: 1px solid var(--pin-message-modal-border-color);
    border-radius: 7px;
    max-height: 400px;
    margin: 16px 32px;
}

.messageDate {
    color: var(--chat-timestamp-color);
    font-size: var(--xs-font-12);
    padding: 0px 0px 6px 0px;
    line-height: var(--line-height-text);
    text-align: left;
    margin-left: 16px;
}

.creator {
    font-size: small;
    color: var(--shades-white-60);
    font-size: var(--s-font-14);
    padding: 4px 24px;
    text-align: left;
}

.messageContent {
    margin-bottom: 1px;
}
