div.searchContainer {
  background-color: var(--text-input-bg);
  display: flex;
  align-items: center;
  margin: 1rem;
  border-radius: 16px;
  padding: 8px;
}

div.searchIcon {
  display: flex;
  color: var(--search-icon-color);
}

input.searchInput,
#searchInputID {
  background-color: transparent;
  font-size: var(--m-font-16);
  line-height: 1.5;
  padding: 4px 12px;
  flex: 1;
  border: none;
  color: var(--search-input-color);
  outline: none;
}

input.searchInput::placeholder {
  color: var(--search-input-placeholder);
}

button.clearSearch {
  color: var(--search-clear-color);
  transition: ease-in-out 0.15s;
  background: var(--search-clear-bg);
  border-radius: 50%;
  padding: 6px;
}

button.clearSearchDisabled {
  opacity: 0;
}
