div.searchContainer {
  background-color: var(--inputField-background-secondary-default);
  display: flex;
  align-items: center;
  margin: 1rem;
  border-radius: 8px;
  padding: 8px;
  flex: 1;
}

div.searchIcon {
  display: flex;
  color: var(--inputField-label-secondary-default);
}

input.searchInput,
#searchInputID {
  background-color: transparent;
  font-size: var(--m-font-16);
  line-height: 1.5;
  padding: 4px 12px;
  flex: 1;
  border: none;
  color: var(--inputField-label-primary-default);
  outline: none;
}

input.searchInput::placeholder {
  color: var(--inputField-label-secondary-default);
}

button.clearSearch {
  color: var(--inputField-clearIcon-primary-default);
  transition: ease-in-out 0.15s;
  background: var(--inputField-clearBackground-primary-default);
  border-radius: 50%;
  padding: 6px;
}

button.clearSearchDisabled {
  opacity: 0;
}
