div.tabsContainer {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  flex: 1;
}

div.tabsHeaderContainer {
  border-bottom: 1px solid var(--border);
  height: 56px;
}

.tabsHeaderContainerPill {
  display: flex;
  background-color: var(--menu-bg);
  border-radius: 8px;
  margin: 8px;
  align-items: center;
}

.tabHeader {
  flex: 1;
  font-size: var(--s-font-14);
  font-weight: var(--semi-bold);
  color: var(--tabs-header-active-color);
  height: 32px;
  border-radius: 4px;
  background-color: var(--tabs-header-active-background);
  margin: 4px;
}

.backgroundTabHeader {
  color: var(--tabs-header-background-color-pill);
  background-color: transparent;
}

.backgroundTabHeader:hover {
  color: var(--tabs-header-background-color-hover);
  transition: color 100ms;
}

.backgroundTabHeader:not(:hover) {
  transition: color 100ms;
}
