div.tabsContainer {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  flex: 1;
}
div.tabsHeaderContainer {
  display: flex;
}

div.tabHeader {
  flex: 1;
  padding: 16px;
  display: flex;
  justify-content: center;
  color: var(--tabs-header-active-color);
  border-bottom: 2px solid var(--tabs-header-active-border);
}

div.backgroundTabHeader {
  cursor: pointer;
  color: var(--tabs-header-background-color);
  border-bottom-color: var(--tabs-header-background-border);
}

div.backgroundTabHeader:hover {
  color: var(--tabs-header-background-color-hover);
  border-bottom-color: var(--tabs-header-background-border-hover);
}
