div.tabsContainer {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  flex: 1;
}

div.tabsHeaderContainer {
  display: flex;
}

.tabsHeaderContainerPill {
  display: flex;
  width: 100%;
}

.tabHeader {
  flex: 1;
  padding: 16px;
  font-size: var(--m-font-16);
  color: var(--tabs-header-active-color);
  border-bottom: 2px solid var(--tabs-header-active-border);
}

.backgroundTabHeader {
  color: var(--tabs-header-background-color);
  border-bottom-color: var(--tabs-header-background-border);
}

.backgroundTabHeader:hover {
  color: var(--tabs-header-background-color-hover);
  border-bottom-color: var(--tabs-header-background-border-hover);
}
