.tabHeader {
  flex: 1;
  font-size: var(--s-font-14);
  font-weight: var(--semi-bold);
  color: var(--tab-label-primary-active);
  height: 32px;
  border-radius: 4px;
  background-color: var(--tab-indicator-primary-active);
  margin: 4px;
}

.inActiveTabHeader {
  color: var(--tab-label-primary-default);
  background-color: transparent;
}

.inActiveTabHeader:hover {
  color: var(--tab-label-primary-hover);
  transition: color 100ms;
}

.inActiveTabHeader:not(:hover) {
  transition: color 100ms;
}
