.tabHeader {
  flex: 1;
  padding: 16px;
  font-size: var(--m-font-16);
  color: var(--tab-label-secondary-active);
  border-bottom: 2px solid var(--tab-indicator-secondary-active);
}

.inactiveTabHeader {
  color: var(--tab-label-secondary-default);
  border-bottom-color: var(--tab-indicator-secondary-default);
}

.inactiveTabHeader:hover {
  color: var(--tab-label-secondary-hover);
  border-bottom-color: var(--tab-indicator-secondary-hover);
}
