version: '3.9'
services:
  node:
    build:
      dockerfile: keyserver/Dockerfile
      context: ../
      args:
        - HOST_UID=${HOST_UID}
        - HOST_GID=${HOST_GID}
        - COMM_JSONCONFIG_secrets_alchemy=${COMM_JSONCONFIG_secrets_alchemy}
        - COMM_JSONCONFIG_secrets_walletconnect=${COMM_JSONCONFIG_secrets_walletconnect}
        - COMM_JSONCONFIG_secrets_geoip_license=${COMM_JSONCONFIG_secrets_geoip_license}
    image: commapp/node-keyserver:1.0
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://cache
      - COMM_LISTEN_ADDR=0.0.0.0
      - COMM_DATABASE_HOST=${COMM_DATABASE_HOST:-database}
      - COMM_DATABASE_DATABASE
      - COMM_DATABASE_USER
      - COMM_DATABASE_PASSWORD
      - COMM_DATABASE_TYPE=mariadb10.8
    depends_on:
      - cache
      - database
  database:
    image: mariadb:10.8.3-jammy
    restart: always
    expose:
      - '3306'
    command: >
      --max-allowed-packet=256M
      --local-infile=0
      --sql-mode=STRICT_ALL_TABLES
      --innodb-buffer-pool-size=1600M
      --innodb-ft-min-token-size=1
      --innodb-ft-enable-stopword=0
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=yes
      - MARIADB_DATABASE=$COMM_DATABASE_DATABASE
      - MARIADB_USER=$COMM_DATABASE_USER
      - MARIADB_PASSWORD=$COMM_DATABASE_PASSWORD
    volumes:
      - mysqldata:/var/lib/mysql
  cache:
    image: redis:6.2.6-bullseye
    restart: always
    expose:
      - '6379'
    command: redis-server --loglevel warning
volumes:
  mysqldata:
