div.addMemberItemsGroupHeader {
  font-size: var(--s-font-14);
  color: var(--add-members-group-header-color);
  margin: 16px;
}

button.addMemberItem {
  justify-content: space-between;
  color: var(--add-members-item-color);
  font-size: var(--l-font-18);
  width: 100%;
}

button.addMemberItem:hover {
  color: var(--add-members-item-color-hover);
}

button.addMemberItem:disabled {
  color: var(--add-members-item-disabled-color);
  cursor: not-allowed;
}

button.addMemberItem:hover:disabled {
  color: var(--add-members-item-disabled-color-hover);
}

button.addMemberItem .label {
  padding: 8px 16px;
}

button.addMemberItem .danger {
  color: var(--add-members-remove-pending-color);
}
button.addMemberItem:hover .danger {
  color: var(--add-members-remove-pending-color-hover);
}

div.userInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
}

div.username {
  margin-left: 8px;
}
