div.container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: flex-start;
  height: 80vh;
  padding-top: 16px;
  max-height: 100%;
}

div.mediaContainer {
  flex: 0 1 31%;
  width: 150px;
  height: 200px;
  margin: 5px;
}

img.media,
video.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.noMedia {
  margin-top: 16px;
  color: var(--text-background-tertiary-default);
  display: flex;
  flex: 1;
  justify-content: center;
}
