.container {
  padding: 16px 0;
}

.inputTitle {
  color: var(--text-background-primary-default);
  margin-bottom: 8px;
}

.button {
  width: 100%;
}

.errorMessage {
  color: var(--text-background-danger-default);
  margin-top: 8px;
  height: 20px;
}
