.container {
  padding: 0 32px;
}

.keyserverDetailsContainer {
  background-color: var(--panel-background-secondary-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  padding: 16px 0;
  border-radius: 8px;
  margin-top: 16px;
}

.keyserverDetailsHeaderContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.keyserverURL {
  color: var(--text-background-primary-default);
}

.keyserverRemoveTextContainer {
  color: var(--text-background-primary-default);
  margin: 16px 0 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.buttonContainer {
  background-color: var(--panel-background-secondary-default);
  padding: 16px 32px;
}

.button {
  width: 100%;
}
