div.modal_body {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 16px;
  background-color: #191723;
  outline: #282537 solid 1px;
}

div.form_title {
  padding: 6px 6px 0 0;
  font-size: var(--s-font-14);
  font-weight: var(--bold);
  color: var(--fg);
}

div.form_content {
  margin-top: 4px;
  margin-bottom: 8px;
  font-family: var(--font-stack);
  color: var(--fg);
}

div.form_footer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

div.form_footer > button:disabled {
  min-height: 48px;
  opacity: 0.5;
}

div.modal_form_error {
  margin-top: 16px;
  font-size: 14px;
  color: var(--error);
  font-style: italic;
  padding-left: 6px;
  align-self: center;
}
