div.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 324px;
  min-width: 360px;
  padding: 20px 20px;
  border-radius: 16px;
  background-color: #191723;
  outline: #282537 solid 1px;
}

div.modal_body h4 {
  color: white;
  font-family: sans-serif;
}

div.form_title {
  padding: 6px 6px 0 0;
  font-size: var(--s-font-14);
  font-weight: var(--bold);
  color: var(--fg);
}

div.form_content {
  margin-top: 4px;
  margin-bottom: 8px;
  font-family: var(--font-stack);
  color: var(--fg);
}

div.form_footer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

div.form_footer > button:disabled {
  min-height: 48px;
  opacity: 0.5;
}

div.modal_form_error {
  font-size: 14px;
  color: var(--error);
  font-style: italic;
  padding-left: 6px;
  align-self: center;
}

div.modal_body .input[type='text'],
div.modal_body .input[type='password'] {
  background: #282537;
  border: 1px solid #211e2d;
  transition: border 0.35s ease;
  border-radius: 8px;
}

div.modal_body .input[type='text']::placeholder,
div.modal_body .input[type='password']::placeholder {
  color: #8c889b;
}

div.modal_body .input[type='text']:focus,
div.modal_body .input[type='password']:focus {
  outline: none;
  border: #6a20e399 solid 1px;
  transition: border 0.35s ease;
}
