.input {
  padding-right: 50px;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px;
  padding: 6px;
  border: 0;
  border-radius: 50%;
  color: var(--fg);
}

.button:hover {
  background-color: var(--show-password-bg-hover);
}

.wrapper {
  position: relative;
}
