div.ethereumLogoContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 4px;
}

div.siweLoginFormContainer p {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

div.messageSigningStatements p {
  padding-bottom: 20px;
}

div.siweLoginFormContainer {
  display: flex;
  flex-direction: column;
}

div.walletConnectedText p {
  font-weight: bold;
}

div.connectButtonContainer {
  padding-top: 4px;
  padding-bottom: 12px;
}

div.loadingIndicator {
  display: flex;
  justify-content: center;
}

div.siweContainer {
  display: flex;
  flex-direction: column;
}
