div.ethereumLogoContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 4px;
}

div.siweLoginFormContainer p {
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
}

div.siweLoginFormContainer h4 {
  color: white;
  font-family: sans-serif;
}

div.headerSeparator hr {
  margin: 8px 0;
  border: none;
  border-top: #282537 solid 1px;
}

div.siweLoginFormContainer {
  display: flex;
  flex-direction: column;
}

div.connectButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}

div.loadingIndicator {
  display: flex;
  justify-content: center;
}

div.siweContainer {
  display: flex;
  flex-direction: column;
}
