div.container {
  position: fixed;
  width: 300px;
  top: 126px;
  bottom: 0;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #404040;
  background-color: #0d0d0d;
}
div.filters {
  color: #dddddd;
  overflow-y: auto;
  height: 100%;
}
div.option {
  margin: 5px 18px 5px 32px;
}
div.optionThread {
  min-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
div.optionThread input {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(1em + 8px);
  height: calc(1em + 8px);
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
div.optionThread label {
  font-weight: 600 !important;
  font-size: 15px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-indent: 24px;
}
div.optionCheckbox {
  display: block;
  content: '';
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
div.checkboxAfterOption {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
a.only {
  color: #888888;
  padding-left: 5px;
  font-size: 13px;
  cursor: pointer;
  display: none;
}
div.option:hover a.only {
  display: inline;
}
a.only:hover {
  text-decoration: underline;
  color: #eeeeee;
}
a.settingsCog {
  display: none;
  margin-left: auto;
  padding-left: 5px;
  cursor: pointer;
  color: #aaaaaa;
}
div.option:hover a.settingsCog {
  display: inline;
}
a.settingsCog:hover {
  color: #eeeeee;
}
div.optionDetails {
  font-style: italic;
  color: #888888;
  font-size: 13px;
  display: inline-block;
  text-indent: 24px;
  padding-left: 10px;
  padding-top: 1px;
}
div.searchContainer {
  padding: 8px 10px;
  flex-direction: row;
  display: flex;
}
.collapseButton {
  color: var(--filter-panel-fg);
  margin-left: 12px;
  margin-right: 6px;
  align-self: center;
  display: flex;
}
.collapseButton:hover {
  color: var(--fg);
}
div.search {
  display: flex;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--text-input-bg);
  align-items: center;
  flex-grow: 1;
  height: 20px;
}
svg.searchVector {
  fill: var(--filter-panel-fg);
  height: 20px;
  width: 20px;
}
div.search > input {
  color: white;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  flex-grow: 1;
  margin-left: 8px;
}
div.search > input:focus {
  outline: none;
}
svg.clearQuery {
  font-size: 15px;
  padding-bottom: 1px;
  padding-right: 2px;
  color: #cccccc;
}
svg.clearQuery:hover {
  font-size: 15px;
  padding-bottom: 1px;
  padding-right: 2px;
  color: white;
}
div.noResults {
  font-style: italic;
  text-align: center;
  font-size: 15px;
  color: #888888;
}
a.collapse {
  margin-left: auto;
  padding-left: 5px;
  cursor: pointer;
  color: #aaaaaa;
}
div.category {
  margin: 5px 18px 8px 18px;
}
div.extras {
  background-color: rgba(0, 0, 0, 0.89);
  color: #dddddd;
  padding: 8px 20px;
  font-size: 14px;
  display: flex;
}
div.extras > label {
  display: flex;
  align-items: center;
}
div.extras > label > span {
  margin-left: 8px;
}
