div.container {
  position: absolute;
  left: 4px;
  bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-weight: 600;
  background-color: white;
  border-radius: 3px;
  white-space: nowrap;
  line-height: normal;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}
span.thread {
  color: black;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
}
div.container > div.option {
  border-bottom: 1px solid #d3d3d3;
  padding: 1px 10px 1px 25px;
  position: relative;
}
div.container > div.option:hover {
  background-color: #f2f2f2;
}
div.container > div:last-child {
  border-bottom: none;
}
div.colorPreview {
  width: 12px;
  height: 12px;
  left: 6px;
  position: absolute;
  top: 4px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
div.threadName {
  padding-top: 1px;
}
