[package]
name = "identity"
version = "0.1.0"
edition = "2021"

[dependencies]
tonic = "0.6"
prost = "0.9"
futures-core = "0.3"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
opaque-ke = { version = "1.2.0", features = ["std"] }
argon2 = "0.3"
curve25519-dalek = "3"
sha2 = "0.9"
digest = "0.9"
clap = { version = "3.1.12", features = ["derive"] }
derive_more = "0.99"
rusoto_core = "0.47.0"
rusoto_dynamodb = "0.47.0"
tracing = "0.1"
tracing-subscriber = "0.3"
chrono = "0.4.19"

[build-dependencies]
tonic-build = "0.6"
