div.modalHeader {
  padding: 15px;
  font-weight: var(--semi-bold);
  color: var(--text-background-tertiary-default);
  background-color: var(--frame-background-tertiary-default);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

div.modalHeaderParentName {
  color: var(--link-background-secondary-default);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.container {
  height: 60vh;
  overflow: auto;
}
