.container {
  height: 580px;
  display: flex;
  flex-direction: column;
}

.userTagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.userRowsContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.addUserButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  color: var(--relationship-modal-color);
  font-size: var(--l-font-18);
  line-height: var(--line-height-display);
  background: transparent;
  border: none;
}

.addUserButtonUsername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
