.container {
  height: 625px;
  display: flex;
  flex-direction: column;
}

.userRowsContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.userListItemContainer {
  display: flex;
  color: var(--relationship-modal-color);
  font-size: var(--l-font-18);
  line-height: var(--line-height-display);
  padding: 8px;
}

.userListItemContainer:hover {
  cursor: pointer;
  background-color: var(--listItem-background-primary-hover);
  border-radius: 8px;
}

.avatarContainer {
  margin: 0 8px 0 16px;
}

.username {
  color: var(--text-background-secondary-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedUsername {
  color: var(--text-background-primary-default);
}

.confirmButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.error {
  padding-bottom: 8px;
  font-size: var(--s-font-14);
  line-height: var(--line-height-display);
  color: var(--error);
  padding-left: 6px;
  font-style: italic;
}
