.container {
  height: 625px;
  display: flex;
  flex-direction: column;
}

.userTagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 8px;
}

.userRowsContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8px;
}

.addUserButton {
  justify-content: space-between;
  padding: 16px;
  color: var(--relationship-modal-color);
  font-size: var(--l-font-18);
  line-height: var(--line-height-display);
}

.addUserButtonUsername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.confirmButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.error {
  padding-bottom: 8px;
  font-size: var(--s-font-14);
  line-height: var(--line-height-display);
  color: var(--error);
  padding-left: 6px;
  font-style: italic;
}
