.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: var(--relationship-modal-color);
  font-size: var(--l-font-18);
  line-height: var(--line-height-display);
}

.usernameContainer {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.button {
  font-size: var(--s-font-14);
  line-height: var(--line-height-text);
  color: var(--btn-bg-filled);
}

.edit_menu {
  position: relative;
}

div.userInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
