.panelContainer {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
}

.searchContainer {
  padding: 8px;
}

.userListContainer {
  overflow: auto;
  flex-grow: 1;
  flex-basis: 120px;
}

.noScroll {
  overflow: hidden;
}

.searchModalContent {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 60vh;
}

.emptyList {
  text-align: center;
  margin-top: 8px;
  color: var(--text-background-tertiary-default);
}
