.container {
  overflow: auto;
  flex-grow: 1;
  flex-basis: 120px;
}

.noScroll {
  overflow: hidden;
}

.searchModalContent {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 625px;
}
