div.appsDirectoryContainer {
  display: flex;
  flex-direction: column;
}

div.appsDirectoryList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

div.appListingContainer {
  color: var(--text-background-primary-default);
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

div.appListingTextContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h5.appName {
  font-weight: var(--semi-bold);
  margin-bottom: 4px;
}

small.appCopy {
  font-size: var(--xs-font-12);
}

.appListingIcon {
  padding: 0 20px 0 0;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.appListingIconState {
  padding: 0 0 0 20px;
  font-size: var(--xl-font-20);
}

div.iconReadOnly {
  color: var(--enumOption-input-secondary-disabled);
}

.iconSelected {
  color: var(--enumOption-input-secondary-selected);
}

.iconUnselected {
  color: var(--enumOption-input-secondary-default);
}
