div.appsDirectoryContainer {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 16px;
}

h4.appsHeader {
  color: var(--fg);
  padding: 20px 0 40px 40px;
  font-weight: var(--semi-bold);
}

div.appsDirectoryList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 32px;
}

div.appListingContainer {
  color: var(--fg);
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

div.appListingTextContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h5.appName {
  font-weight: var(--semi-bold);
  margin-bottom: 4px;
}

small.appCopy {
  font-size: var(--xs-font-12);
}

.appListingIcon {
  padding: 0 20px 0 0;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.appListingIconState {
  padding: 0 0 0 20px;
  font-size: var(--xl-font-20);
}

div.iconReadOnly {
  color: var(--app-list-icon-read-only-color);
}

.iconEnabled {
  color: var(--app-list-icon-enabled-color);
}

.iconDisabled {
  color: var(--app-list-icon-disabled-color);
}
