.container {
  font-size: var(--xs-font-12);
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.communityName {
  color: var(--thread-ancestor-color);
  font-size: var(--l-font-18);
  font-weight: var(--semi-bold);
  white-space: nowrap;
}

.ancestorThreadsContainer {
  border: 1px solid var(--topbar-lines);
  border-radius: 8px;
  display: flex;
  padding: 7px 12px;
  margin-right: 16px;
}

.ancestorName {
  color: var(--thread-ancestor-color);
  font-size: var(--xs-font-12);
  font-weight: var(--semi-bold);
  line-height: 1.5;
  white-space: nowrap;
}

svg.chevronRight {
  color: var(--thread-ancestor-separator-color);
  flex-shrink: 0;
}

svg.ancestorSeparator {
  align-self: center;
  padding: 0 8px;
}
