div.topBarContainer {
  display: flex;
  background-color: var(--bg);
  align-items: center;
  color: var(--thread-top-bar-color);
  height: 56px;
  overflow: hidden;
}

div.avatarContainer {
  margin: 0 12px 0 16px;
}

div.hide {
  height: 0px;
  opacity: 0;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out;
}

div.show {
  height: 56px;
  opacity: 1;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out;
}
