div.topBarContainer {
  display: flex;
  background-color: var(--bg);
  align-items: center;
  justify-content: space-between;
  color: var(--thread-top-bar-color);
  height: 56px;
}

div.topBarThreadInfo {
  display: flex;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
}

.topBarThreadInfo::-webkit-scrollbar {
  display: none;
}

div.threadColorSquare {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex: 0 0 auto;
  margin: 0 12px 0 16px;
}

div.hide {
  height: 0px;
  opacity: 0;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out;
}

div.show {
  height: 56px;
  opacity: 1;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out;
}
