.navigationPanelContainer {
  width: 160px;
  padding-top: 12px;
  height: 100%;
  background-color: var(--panel-background-primary-default);
}

.navigationPanelTab {
  display: flex;
  flex-direction: row;
  padding: 12px 0 12px 28px;
  cursor: pointer;
}

.navigationPanelTab p {
  color: var(--text-background-tertiary-default);
}

.navigationPanelTab:hover p,
div.current_tab p {
  color: var(--text-background-primary-default);
  stroke: var(--text-background-primary-default);
  fill: var(--text-background-primary-default);
}

.container p {
  display: flex;
  align-content: center;
}
