.container {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigationPanelContainer {
  flex-direction: row;
  display: flex;
  height: 56px;
}

.plusButton {
  margin: 12px;
  display: flex;
  cursor: pointer;
  color: var(--topbar-button-fg);
  align-items: center;
  justify-content: center;
  background-color: var(--topbar-button-bg);
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.plusButton:hover {
  background-color: var(--topbar-button-bg-hover);
}

.navigationPanelTab {
  display: flex;
  flex-direction: row;
  padding: 16px;
  cursor: pointer;
}

.navigationPanelTab svg {
  color: var(--color-disabled);
  stroke: var(--color-disabled);
  fill: var(--color-disabled);
}

.navigationPanelTab p {
  color: var(--color-disabled);
  margin-right: 8px;
  margin-left: 8px;
  font-size: var(--s-font-14);
  font-weight: var(--semi-bold);
}

.navigationPanelTab:hover p,
.navigationPanelTab:hover svg,
div.current_tab p,
div.current_tab svg {
  color: var(--fg);
  stroke: var(--fg);
  fill: var(--fg);
}

div.current_tab {
  border-bottom: 2px solid var(--tabs-header-active-border);
  box-sizing: border-box;
}

.chatIconWrapper {
  position: relative;
}

span.chatBadge {
  position: absolute;
  top: -4px;
  left: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  color: var(--fg);
  background: var(--unread-bg);
  border-radius: 13px;
  font-size: 8px;
  line-height: 1.25;
}

.tabs {
  display: flex;
  overflow: auto;
  max-width: calc(100% - 56px);
}
