div.modalBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div.avatarContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

div.formTitle {
  padding-top: 6px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
  color: var(--text-background-primary-default);
}

div.formContent {
  display: flex;
  font-family: var(--font-stack);
  margin-top: 8px;
  margin-bottom: 12px;
}

div.formContent textarea {
  padding: 12px;
  border: 1px solid var(--separator-background-primary-default);
  font-size: var(--m-font-16);
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 20px;
}

div.formNotice {
  color: var(--text-background-secondary-default);
  font-size: var(--xs-font-12);
  text-align: center;
}

hr {
  margin: 20px 0;
  height: 0;
  border: none;
  border-top: #ffffff33 solid 1px;
}

div.optionalSettingsContainer {
  color: var(--enumOption-icon-primary-default);
}

div.optionalSettingsLabel {
  color: var(--text-background-tertiary-default);
  padding-bottom: 20px;
}

div.createCommunityButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
}
