div.ancestryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--panel-background-tertiary-default);
  margin-top: 20px;
}

div.ancestryContainer p {
  color: var(--text-background-tertiary-default);
  margin-right: 6px;
}
