version: '3.9'
volumes:
  localstack:
services:
  # tunnelbroker
  tunnelbroker-server:
    depends_on:
      - localstack
      - rabbitmq
    build:
      dockerfile: services/tunnelbroker/Dockerfile
      context: ../
    image: commapp/tunnelbroker-server:0.5
    ports:
      - '${COMM_SERVICES_PORT_TUNNELBROKER}:50051'
    volumes:
      - $HOME/.aws/config:/home/comm/.aws/config:ro
      - $HOME/.aws/credentials:/home/comm/.aws/credentials:ro
  # backup
  backup-server:
    platform: linux/amd64
    depends_on:
      - localstack
      - blob-server
    build:
      dockerfile: services/backup/Dockerfile
      context: ../
    image: commapp/backup-server:0.2
    ports:
      - '${COMM_SERVICES_PORT_BACKUP}:50052'
    volumes:
      - $HOME/.aws/config:/home/comm/.aws/config:ro
      - $HOME/.aws/credentials:/home/comm/.aws/credentials:ro
  # blob
  blob-server:
    platform: linux/amd64
    depends_on:
      - localstack
    build:
      dockerfile: services/blob/Dockerfile
      context: ../
    image: commapp/blob-server:0.2.0
    ports:
      - '${COMM_SERVICES_PORT_BLOB}:50053'
    volumes:
      - $HOME/.aws/config:/home/comm/.aws/config:ro
      - $HOME/.aws/credentials:/home/comm/.aws/credentials:ro
  # identity
  identity-server:
    platform: linux/amd64
    depends_on:
      - localstack
    build:
      dockerfile: services/identity/Dockerfile
      context: ../
    image: commapp/identity-server:0.3
    ports:
      - '${COMM_SERVICES_PORT_IDENTITY}:50054'
  # feature-flags
  feature-flags-server:
    depends_on:
      - localstack
    build:
      dockerfile: services/feature-flags/Dockerfile
      context: ../
    image: commapp/feature-flags:0.1.1
    ports:
      - '${COMM_SERVICES_PORT_FEATURE_FLAGS}:50051'
    volumes:
      - $HOME/.aws/config:/home/comm/.aws/config:ro
      - $HOME/.aws/credentials:/home/comm/.aws/credentials:ro
  # reports
  reports-server:
    platform: linux/amd64
    depends_on:
      - localstack
      - blob-server
    build:
      dockerfile: services/reports/Dockerfile
      context: ../
    image: commapp/reports-server:0.1.0
    ports:
      - '${COMM_SERVICES_PORT_REPORTS}:50056'
    volumes:
      - $HOME/.aws/config:/home/comm/.aws/config:ro
      - $HOME/.aws/credentials:/home/comm/.aws/credentials:ro
  # localstack
  localstack:
    image: localstack/localstack
    hostname: localstack
    ports:
      - '4566:4566'
    environment:
      - SERVICES=s3,dynamodb
      - DATA_DIR=/tmp/localstack
      - HOSTNAME_EXTERNAL=localstack
    volumes:
      - localstack:/tmp/localstack
  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - '5672:5672'
      - '5671:5671'
      - '15672:15672'
    environment:
      - RABBITMQ_DEFAULT_USER=comm
      - RABBITMQ_DEFAULT_PASS=comm
