version: "3.9"
networks:
  services-net:
    name: services-net
volumes:
  localstack:
services:
  # tunnelbroker
  tunnelbroker-server:
    depends_on:
      - localstack
    build:
      dockerfile: services/tunnelbroker/Dockerfile
      context: ../
      args:
        - COMM_TEST_SERVICES=${COMM_TEST_SERVICES}
    image: commapp/tunnelbroker-server:0.2
    ports:
      - "${COMM_SERVICES_PORT_TUNNELBROKER}:50051"
    volumes:
      - $HOME/.aws/config:/root/.aws/config:ro
      - $HOME/.aws/credentials:/root/.aws/credentials:ro
      - ./tunnelbroker/tunnelbroker.ini:/root/tunnelbroker/tunnelbroker.ini:ro
  # backup
  backup-server:
    depends_on:
      - localstack
    networks:
      - services-net
    build:
      dockerfile: services/backup/Dockerfile
      context: ../
      args:
        - COMM_TEST_SERVICES=${COMM_TEST_SERVICES}
        - COMM_SERVICES_DEV_MODE=${COMM_SERVICES_DEV_MODE}
    image: commapp/backup-server:0.1
    ports:
      - "${COMM_SERVICES_PORT_BACKUP}:50051"
    volumes:
      - $HOME/.aws/credentials:/root/.aws/credentials:ro
  # blob
  blob-server:
    depends_on:
      - localstack
    networks:
      - services-net
    build:
      dockerfile: services/blob/Dockerfile
      context: ../
      args:
        - COMM_TEST_SERVICES=${COMM_TEST_SERVICES}
        - COMM_SERVICES_DEV_MODE=${COMM_SERVICES_DEV_MODE}
    image: commapp/blob-server:0.1
    ports:
      - "${COMM_SERVICES_PORT_BLOB}:50051"
    volumes:
      - $HOME/.aws/credentials:/root/.aws/credentials:ro
  # identity
  identity-server:
    depends_on:
      - localstack
    networks:
      - services-net
    build:
      dockerfile: services/identity/Dockerfile
      context: ../
    image: commapp/identity-server:0.1
    ports:
      - "${COMM_SERVICES_PORT_IDENTITY}:50051"
  # localstack
  localstack:
    image: localstack/localstack
    hostname: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,dynamodb
      - DATA_DIR=/tmp/localstack
      - HOSTNAME_EXTERNAL=localstack
    volumes:
      - localstack:/tmp/localstack
    networks:
      - services-net
