.container {
  display: flex;
  flex-direction: column;
  background: var(--community-bg);
  border-right: 1px solid var(--border-color);
  flex-grow: 1;
  overflow: auto;
}

.spacer {
  flex-grow: 1;
}

.header {
  border-bottom: 1px solid var(--community-drawer-lines);
  padding: 10px 0 10px 0;
  align-items: center;
  display: flex;
  margin-right: 16px;
}

.footer {
  border-top: 1px solid var(--community-drawer-lines);
  padding: 12px 0 12px 0;
  align-items: center;
  display: flex;
  margin-right: 16px;
}

.sideLine {
  width: 3px;
  height: 24px;
  border-radius: 0 4px 4px 0;
  margin-right: 14px;
}

.sideLineActive {
  background-color: var(--community-settings-selected);
}

.itemContainer {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
}

.itemContainer svg {
  color: var(--fg);
  padding: 0;
}

.settingsIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--settings-btn-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.drawerWrapper {
  width: 100%;
  overflow: auto;
}

.buttonTitle {
  font-weight: 500;
  font-size: var(--s-font-14);
  line-height: 22px;
  padding-left: 12px;
  color: var(--fg);
}

span.chatBadge {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--fg);
  background: var(--unread-bg);
  border-radius: 13px;
  font-size: var(--xs-font-12);
  line-height: 1.25;
  margin-right: 4px;
}

span.chatBadgePlus {
  width: 32px;
}
