.container {
  background-color: var(--drawer-bg);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-self: flex-start;
}

.hidden {
  display: none;
}
