.container {
  grid-area: sBar;
  background: var(--bg);
  color: var(--color);
  border-right: 1px solid var(--border-color);
  display: flex;
}

.appSwitcherContainer {
  width: 160px;
}

.container ul {
  list-style-type: none;
  padding-top: 24px;
  padding-left: 28px;
}

.container ul li {
  cursor: pointer;
  padding-bottom: 24px;
  line-height: 0;
}

.container p {
  display: flex;
  align-content: center;
}

.container ul a {
  color: var(--color-disabled);
}

.container svg {
  color: var(--color-disabled);
  padding-right: 12px;
}

.chatIconWrapper {
  position: relative;
}

div.chatBadge {
  position: absolute;
  top: -4px;
  left: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--fg);
  background: var(--unread-bg);
  border-radius: 13px;
  font-size: 8px;
  line-height: 1.25;
}

p.current-tab svg {
  color: var(--fg);
}

p.current-tab a,
p.current-tab svg {
  fill: var(--fg);
  color: var(--fg);
}
