.navigationPanelContainer {
  width: 160px;
  margin-top: 12px;
}

.navigationPanelTab {
  display: flex;
  flex-direction: row;
  padding: 12px 0 12px 28px;
  cursor: pointer;
}

.navigationPanelTab p {
  color: var(--color-disabled);
}

.navigationPanelTab:hover p,
div.current_tab p {
  color: var(--fg);
  stroke: var(--fg);
  fill: var(--fg);
}

.container p {
  display: flex;
  align-content: center;
}
