.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--settings-btn-bg);
  border-color: transparent;
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
