.container {
  grid-area: sBar;
  background: var(--bg);
  color: var(--color);
  border-right: 1px solid var(--border-color);
  display: flex;
  width: 100%;
}

.container ul {
  list-style-type: none;
}

.container ul li {
  cursor: pointer;
}

.container ul a {
  color: var(--color-disabled);
}

.container svg {
  color: var(--color-disabled);
}

div.chatBadge {
  display: inline-block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-left: 8px;
  color: white;
  background-color: red;
  border-radius: 13px;
  font-size: 18px;
  text-align: center;
}

p.current-tab svg {
  color: var(--fg);
}

p.current-tab a,
p.current-tab svg {
  fill: var(--fg);
  color: var(--fg);
}
