.iconWrapper {
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 2px;
}

.icon {
  color: var(--drawer-expand-button);
}

.text {
  color: var(--drawer-expand-button);
  font-size: var(--s-font-14);
  font-weight: var(--semi-bold);
}
