.container {
  font-size: var(--m-font-16);
  padding: 24px 32px;
}

.sectionHeaderRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionHeaderText {
  color: var(--fg);
  margin-bottom: 16px;
}

.description {
  font-size: var(--s-font-14);
  color: var(--fg);
  margin-top: 8px;
}

.inlineButton {
  display: inline;
  font-size: var(--s-font-14);
}

.editLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--modal-fg);
  font-size: var(--s-font-14);
}

.editLinkDescription {
  font-weight: var(--semi-bold);
  color: var(--modal-fg);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editLinkDescription p {
  font-size: var(--s-font-14);
}

.separator {
  border-color: var(--border-color);
  margin: 0;
}

.linkSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.linkRow {
  display: flex;
  font-size: var(--m-font-16);
  align-items: center;
  gap: 8px;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
