.container {
  font-size: var(--m-font-16);
}

.sectionHeaderRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionHeaderText {
  color: var(--text-background-primary-default);
}

.linkContentContainer {
  margin-top: 16px;
}

.description {
  font-size: var(--s-font-14);
  color: var(--text-background-primary-default);
  margin-top: 8px;
}

.inlineButton {
  display: inline;
  font-size: var(--s-font-14);
}

.editLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--text-background-secondary-default);
  font-size: var(--s-font-14);
}

.editLinkDescription {
  font-weight: var(--semi-bold);
  color: var(--text-background-secondary-default);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editLinkDescription p {
  font-size: var(--s-font-14);
}

.separator {
  border-color: var(--separator-background-primary-default);
  margin: 0;
}

.linkSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.linkRow {
  display: flex;
  font-size: var(--m-font-16);
  align-items: center;
  gap: 8px;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.buttonRowWithError {
  margin-top: 8px;
}

.errorContainer {
  display: flex;
  justify-content: center;
  font-size: var(--s-font-14);
  color: var(--text-background-danger-default);
}

.disableLinkRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--s-font-14);
}

.disableLinkButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
