.container {
  padding: 16px 32px 24px;
}

.description {
  font-size: var(--s-font-14);
  color: var(--modal-fg);
}

.sectionHeader {
  font-size: var(--m-font-16);
  color: var(--fg);
  margin: 32px 0 16px;
}
