div.subchannelsListContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  row-gap: 8px;
  width: 383px;
  height: 458px;
}

div.noSubchannels {
  text-align: center;
}

.subchannelContainer {
  align-items: flex-start;
  font-size: var(--m-font-18);
  line-height: var(--line-height-text);
  color: var(--subchannels-modal-color);
  padding: 8px 16px;
  column-gap: 8px;
}

.subchannelContainer:hover {
  color: var(--subchannels-modal-color-hover);
}

div.subchannelInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  overflow: hidden;
}

div.unread {
  color: var(--fg);
  font-weight: var(--semi-bold);
}

div.longTextEllipsis {
  align-self: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.lastMessage {
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
}

div.noMessage {
  text-align: center;
  font-style: italic;
}

div.lastActivity {
  white-space: nowrap;
}
