div.modalContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 594px;
}

/* https://github.com/missive/emoji-mart/discussions/663 */
em-emoji-picker {
  max-height: 300px;
}

div.modalBody {
  padding: 20px;
}

div.tabBody {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.avatarContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

div.emojiPickerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.colorSelectorContainer {
  margin: 20px 60px;
}

div.saveButtonContainer {
  display: flex;
  flex-direction: column;
}

div.saveAvatarButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  gap: 4px;
}
