[package]
name = "backup"
version = "0.1.0"
description = "Backup service"
homepage = "https://comm.app"
license = "BSD-3-Clause"
edition = "2021"

[dependencies]
anyhow = "1.0"
async-stream = "0.3"
aws-config = "0.51.0"
aws-sdk-dynamodb = "0.21.0"
aws-types = "0.51.0"
chrono = "0.4"
clap = { version = "4.0", features = ["derive", "env"] }
once_cell = "1.17"
prost = "0.11"
rust-lib = { path = "../rust-lib" }
rand = "0.8.5"
tokio = { version = "1.24", features = ["rt-multi-thread"]}
tokio-stream = "0.1"
tonic = "0.8"
tracing = "0.1"
tracing-futures =  { version = "0.2", features = ["futures-03"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"]}
uuid = { version = "1.2", features = ["v4"] }

[build-dependencies]
tonic-build = "0.8"
