[package]
name = "tunnelbroker"
description = "Tunnelbroker server"
homepage = "https://comm.app"
license = "BSD-3-Clause"
version = "0.5.0"
edition = "2021"
links = "tunnelbroker"

[dependencies]
a2 = "0.6"
anyhow = "1.0"
aws-config = "0.55"
aws-sdk-dynamodb = "0.27"
aws-types = "0.55"
base64 = "0.20"
clap = { version = "4.2", features = ["derive", "env"] }
env_logger = "0.9"
fcm = "0.9"
futures = "0.3"
futures-util = "0.3"
log = "0.4"
once_cell = "1.17"
openssl = { version = "0.10", features = ["vendored"] }
prost = "0.11"
prost-types = "0.11"
serde_json = "1.0"
tokio-stream = "0.1"
tokio-tungstenite = { version = "0.18.0", features = [ ] }
tokio = { version = "1.24", features = ["rt-multi-thread"]}
tonic = "0.8"
tracing = "0.1"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
tunnelbroker_messages = { path = "../../shared/tunnelbroker_messages" }
derive_more = "0.99.17"
lapin = "2.2.1"

[build-dependencies]
tonic-build = "0.8"
