[package]
name = "tunnelbroker"
description = "Tunnelbroker server"
homepage = "https://comm.app"
license = "BSD-3-Clause"
version = "0.5.0"
edition = "2021"
links = "tunnelbroker"

[dependencies]
cxx = "1.0"
tracing = "0.1"
tokio = { version = "1.24", features = ["rt-multi-thread"]}
tokio-stream = "0.1"
lazy_static = "1.4"
a2 = "0.6"
log = "0.4"
env_logger = "0.9"
fcm = "0.9"
anyhow = "1.0"
openssl = { version = "0.10", features = ["vendored"] }
base64 = "0.20"
tonic = "0.8"
prost = "0.11"
prost-types = "0.11"
futures = "0.3"
tokio-tungstenite = { version = "0.18.0", features = [ ] }
tracing-subscriber = "0.3.16"

[build-dependencies]
cxx-build = "1.0"
glob = "0.3"
tonic-build = "0.8"
