[package]
name = "tunnelbroker"
description = "Tunnelbroker server"
homepage = "https://comm.app"
license = "BSD-3-Clause"
version = "0.5.0"
edition = "2021"
links = "tunnelbroker"

[dependencies]
anyhow = "1.0"
aws-config = "0.55"
aws-sdk-dynamodb = "0.27"
clap = { version = "4.2", features = ["derive", "env"] }
futures-util = "0.3"
grpc_clients = { path = "../../shared/grpc_clients" }
once_cell = "1.17"
prost = "0.11"
serde_json = "1.0"
tokio-tungstenite = { version = "0.18.0", features = [ ] }
tokio = { version = "1.24", features = ["rt-multi-thread"]}
tonic = "0.8"
tracing = "0.1"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
tunnelbroker_messages = { path = "../../shared/tunnelbroker_messages" }
derive_more = "0.99.17"
lapin = "2.2.1"

[build-dependencies]
tonic-build = "0.8"
