div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  row-gap: 6px;
  width: 100%;
  padding: 6px 0;
}

div.containerLarge {
  row-gap: 36px;
}
