.container {
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

.active,
.container:hover {
  background-color: var(--color-selector-active-bg);
}

div.colorSplotch {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  cursor: pointer;
}
