div.modal_body {
  padding: 20px;
  background-color: var(--modal-bg);
  border-radius: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
div.modal_form_error {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  font-size: 16px;
  color: red;
  font-style: italic;
}
