div.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 16px;
}

div.contentContainer {
  overflow: scroll;
  height: 448px;
}

div.threadPickerOptionContainer {
  display: flex;
}

.threadPickerOptionButton {
  flex: 1;
  justify-content: left;
  padding: 12px 16px;
  font-size: var(--m-font-16);
}

.threadPickerOptionButton:hover {
  background-color: var(--thread-hover-bg);
  border-radius: 8px;
}

div.threadNameText {
  color: var(--shades-white-100);
  margin-left: 16px;
}

div.noResultsText {
  text-align: center;
  color: var(--shades-white-100);
  margin-top: 24px;
  font-weight: 500;
}
