.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80vh;
}

.content {
  overflow-y: scroll;
  border-top: 2px solid var(--border-color);
  padding: 16px 0;
}

.content > * {
  margin-bottom: 16px;
}

.loading {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 24px;
}

.footer {
  color: var(--modal-secondary-label);
  size: 14;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.button {
  margin: 10px 10px 10px 0;
}

.searchBarContainer {
  padding: 1rem;
  flex-grow: 1;
}
