.content {
  overflow-y: scroll;
  padding: 0 10px;
}

.content > * {
  margin-bottom: 16px;
}

.loading {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 24px;
}

.footer {
  color: var(--modal-secondary-label);
  size: 14;
  font-weight: 400;
  text-align: center;
  margin: 20px;
}
