.btn {
  all: unset;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  justify-content: center;
  padding: 8px 16px;
  transition: 300ms;
  text-align: center;
  cursor: pointer;
  transition: background-color 150ms;
}

.btn:hover {
  background-color: var(--violet-dark-80);
}
