.container {
  max-width: 432px;
  background-color: var(--comparison-cards);
  padding: 32px;
  border-radius: 16px;
}

.container:hover {
  cursor: pointer;
  background-color: var(--comparison-cards-hovered);
}

.readMoreText {
  color: var(--violet-dark-100);
  margin-top: 16px;
}
