.cycling_header {
  font-family: 'iA Writer Duo S', monospace;
  font-size: 72px;
  line-height: 1.35;
  white-space: pre-wrap;
}

.app_landing_subheading {
  font-family: 'iA Writer Duo S', monospace;
  background: #7e57c2;
  color: white;
  line-height: 1.35;
  padding: 5px;
  font-size: 62px;
}
