h1.cycling_header {
  font-family: 'iA Writer Duo S', monospace;
  font-size: 50px;
  margin: 0;
  white-space: pre-wrap;
}

.app_landing_subheading {
  font-weight: bold;
  padding-inline: 4px;
}

span.app_landing_subheading {
  background-color: #7e57c2;
}

p.app_landing_subheading {
  font-family: 'iA Writer Duo S', monospace;
  color: #7e57c2;
  font-size: 32px;
  padding-inline: 0px;
}

/* ===== MEDIUM-LARGE BREAKPOINT ===== */
@media (max-width: 1699px) {
  h1.cycling_header {
    font-size: 44px;
  }
}

/* ===== MEDIUM BREAKPOINT ===== */
@media (max-width: 1499px) {
  h1.cycling_header {
    font-size: 38px;
  }
}

/* ===== MEDIUM-SMALL BREAKPOINT ===== */
@media (max-width: 1299px) {
  h1.cycling_header {
    font-size: 30px;
  }
}

/* ===== SMALLEST BREAKPOINT ===== */
@media (max-width: 1099px) {
  h1.cycling_header {
    font-family: 'iA Writer Duo S', monospace;
    margin-top: 4vh;
    font-size: 22px;
    text-align: center;
  }

  .app_landing_subheading {
    margin-bottom: 6vh;
    text-align: center;
  }

  p.app_landing_subheading {
    font-size: 18px;
  }
}
