.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0 128px;
}

.heading {
  color: var(--white-80);
  margin-bottom: 48px;
}

.subheading {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 32px 40px 32px;
  color: var(--white-80);
  text-align: center;
}

.platfromHeader {
  margin: 32px 0 8px;
}

.buttonsContainer {
  display: flex;
  column-gap: 16px;
}

.buttonContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 4px 0;
}
