footer.wrapper {
  display: flex;
  justify-content: center;
  background: var(--black-100);
  position: sticky;
  top: 100vh;
}

.contentWrapper {
  width: 1850px;
  padding: 48px 32px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.socialIconsContainer {
  display: flex;
  align-items: flex-end;
  column-gap: 24px;
}

.legalContainer {
  border-top: 1px solid var(--black-70);
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.legalLinks {
  display: flex;
  column-gap: 32px;
  align-items: center;
}

.navLinkIcons {
  color: var(--white-60);
  margin-left: 8px;
}

.socialIcons {
  color: var(--white-100);
}

.links {
  color: var(--white-60);
  transition: 150ms;
  transition-property: color;
}

.links:hover,
.navLinkIcons:hover {
  color: var(--white-100);
  transition: 150ms;
  transition-property: color;
}

a.logo {
  color: var(--white-100);
  padding-bottom: 16px;
}

.copyrightText {
  color: var(--white-60);
}

@media screen and (max-width: 600px) {
  .navigation,
  .legalContainer {
    flex-direction: column;
  }

  .socialIcons,
  .legalLinks {
    margin-top: 16px;
  }

  .navigation {
    margin-bottom: 24px;
  }

  .legalContainer {
    padding-top: 24px;
  }
}
