/* ===== CSS FOOTER GRID LAYOUT ===== */
div.footer_grid {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  column-gap: 6em;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  transition-property: max-width;
  transition: 300ms;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'sitemap subscribe_updates';
  scroll-snap-align: center;
}

div.footer_legal {
  max-width: 1080px;
  transition-property: max-width;
  transition: 300ms;
}

div.sitemap {
  grid-area: sitemap;
}

div.sitemap a {
  display: block;
  padding-bottom: 4px;
  width: max-content;
}

div.inactive_tab a,
div.inactive_tab svg {
  color: #8a8f98;
  transition: 300ms;
}

div.inactive_tab:hover a,
div.inactive_tab:hover svg {
  color: white;
  transition: 300ms;
}

.active_tab a {
  color: white;
  transition: 300ms;
}

div.footer_logo a {
  font-size: 24px;
  font-weight: 500;
  color: white;
  padding-bottom: 8px;
}
div.footer_logo a:hover {
  color: #7e57c2;
}

div.subscribe_updates {
  grid-area: subscribe_updates;
  align-self: center;
}

/* ===== VISUAL EFFECTS ===== */
div.footer_blur {
  background-color: rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

/* ===== SMALLEST BREAKPOINT ===== */
@media (max-width: 1099px) {
  div.footer_grid {
    padding-left: 3%;
    padding-right: 3%;
    grid-template-columns: minmax(auto, 540px);
    justify-content: center;
    grid-template-areas:
      'subscribe_updates'
      'sitemap';
  }

  div.footer_container {
    padding-top: 5%;
  }
  div.sitemap {
    padding-top: 60px;
    grid-area: sitemap;
  }
}
