footer.wrapper {
  background: rgba(235, 235, 235, 0.05);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 100vh;
}

.contentWrapper {
  max-width: 1850px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding: 50px 0;
  grid-template-columns: 40px repeat(12, 1fr) 40px;
  column-gap: 1.5%;
  align-items: center;
  grid-template-areas: '. nav nav nav . . . sub sub sub sub sub sub .';
}

@media screen and (max-width: 1099px) {
  .contentWrapper {
    grid-template-columns: 16px repeat(6, 1fr) 16px;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5%;
    grid-template-areas:
      '. sub sub sub sub sub sub . '
      '. nav nav nav nav nav nav . ';
  }

  .submissionForm form {
    display: flex;
    flex-direction: column;
  }

  .submissionForm form input {
    margin-bottom: 24px;
  }
}

.navigation {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.navigation a {
  font-size: clamp(1rem, 0.8954rem + 0.5229vw, 1.5rem);
  font-weight: 400;
}

.navigation svg {
  margin-left: 8px;
}

.navigation a,
.navigation svg {
  color: #808080;
  transition: 150ms;
  transition-property: color;
}

.navigation a:hover,
.navigation a:hover svg {
  color: #ffffff;
  transition: 150ms;
  transition-property: color;
}

a.logo {
  font-family: var(--sans-serif);
  font-weight: 500;
  color: var(--logo-color);
  font-size: 28px;
  padding-bottom: 16px;
}

.submissionForm {
  grid-area: sub;
}
