:root {
  --purple: #7e57c2;
  --white: #fff;
  --white1: #ebedee;
  --grey: #808080;
  --btn-bg: var(--purple);
  --unselected: var(--grey);
  --btn-color: var(--white1);
  --logo-color: var(--white);
  --sub-heading-color: var(--purple);
}

/* ===== GENERAL PAGE STYLES ===== */
html {
  background: radial-gradient(ellipse at bottom, #1f252e, #111827) fixed;
  font-family: 'IBM Plex Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
  word-break: break-word;
}

/* Override browser default to achieve edge-to-edge footer translucency effect */
body {
  background-image: radial-gradient(
    circle at top left,
    #2d008888 0%,
    #ffffff00 50%
  );
  margin: 0;
  padding: 0;
}

html,
body,
:global(div#react-root) {
  height: 100%;
}

p {
  font-size: clamp(0.75rem, 0.5408rem + 1.0458vw, 1.75rem);
}

a {
  transition: 0.2s;
  text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}
