:root {
  --purple: #7e57c2;
  --white: #fff;
  --white1: #ebedee;
  --grey: #808080;
  --btn-bg: var(--purple);
  --unselected: var(--grey);
  --btn-color: var(--white1);
  --logo-color: var(--white);
  --sub-heading-color: var(--purple);
  --sans-serif: 'IBM Plex Sans', sans-serif;
}

/* ===== GENERAL PAGE STYLES ===== */

html,
body,
:global(div#react-root) {
  height: 100%;
}

p {
  font-size: clamp(0.75rem, 0.5408rem + 1.0458vw, 1.75rem);
}

a {
  transition: 0.2s;
  text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    img {
      image-rendering: unset !important;
    }
  }
}
