/* ===== CSS HEADER GRID LAYOUT ===== */
div.header_grid {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  column-gap: 6em;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  transition-property: max-width;
  transition: 300ms;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'logo top_nav social_icons';
}

div.header_legal {
  max-width: 1080px;
}

/* ===== LOGO ===== */
div.logo {
  grid-area: logo;
}

div.logo h1 {
  font-size: 1.75rem;
  font-family: IBM Plex Sans;
  font-weight: 500;
}

div.logo a {
  color: white;
}

div.logo a:hover {
  color: #7e57c2;
}

/* ===== NAVIGATION ===== */
div.top_nav {
  grid-area: top_nav;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.top_nav h1 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

div.top_nav div.active_tab,
div.top_nav div.inactive_tab {
  font-family: 'Inter', sans-serif;
}

div.inactive_tab {
  padding-left: 14px;
}

div.active_tab a {
  color: white;
  font-weight: 500;
  transition: 300ms;
}

div.inactive_tab a {
  color: #8a8f98;
  transition: 300ms;
}

div.top_nav a:hover {
  color: white;
}

/* ===== REQUEST ACCESS BUTTON ===== */
div.request_access {
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #7e57c2;
  color: #fff;
  transition: 300ms;
}

div.request_access:hover {
  color: #7e57c2;
  background-color: #ebedee;
  transition: 300ms;
}

div.request_access p {
  font-size: 1rem;
}

/* ===== TWITTER/GITHUB BUTTONS ===== */
div.social_icons {
  grid-area: social_icons;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

div.twitter_icon,
div.github_icon {
  margin-inline: 8px;
  padding: 16px;
  border-radius: 36px;
  transition: 300ms;
}

div.twitter_icon:hover,
div.github_icon:hover {
  background-color: #ebedee;
  transition: 300ms;
}

div.twitter_icon svg,
div.github_icon svg {
  transition: 300ms;
}

div.twitter_icon:hover svg {
  color: #1d9bf0;
  transition: 300ms;
}

div.github_icon:hover svg {
  color: #151013;
  transition: 300ms;
}

div.twitter_icon h1,
div.github_icon h1 {
  font-size: 32px;
}

@media (max-width: 1499px) {
  div.request_access p {
    font-size: 11px;
  }
  div.request_access {
    padding-inline: 10px;
    margin-right: 10px;
  }
}

/* ===== SMALLEST BREAKPOINT ===== */
@media (max-width: 1099px) {
  div.twitter_icon,
  div.github_icon {
    margin-inline: 4px;
    padding: 10px;
    border-radius: 36px;
    transition: 300ms;
  }

  div.header_grid {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0px;
    padding-bottom: 20px;
    grid-template-columns: minmax(auto, 540px);
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'logo social_icons'
      'top_nav top_nav';
  }

  div.social_icons {
    justify-self: flex-end;
    margin-left: 8px;
  }

  div.top_nav {
    grid-area: top_nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }

  div.active_tab,
  div.inactive_tab {
    margin-right: 10px;
  }

  div.request_access {
    display: none;
  }
}
