.header {
  color: var(--white-80);
  margin-bottom: 24px;
}

.header span {
  background: linear-gradient(90deg, #5d34b3 0%, #a314d5 49.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subHeader {
  color: var(--white-80);
  margin-bottom: 56px;
}

form {
  width: 92%;
}
@media (max-width: 1099px) {
  form {
    width: 100%;
  }
}

.contentWrapper {
  flex-basis: 300px;
}
