.cycling_header {
  --smallest-font-size: 30px;
  --largest-font-size: 72px;
  --font-scale: calc(1rem + 2vw);
  font-weight: bold;
  font-family: 'iA Writer Duo S', monospace;
  padding-bottom: 16px;
  font-size: clamp(
    var(--smallest-font-size),
    var(--font-scale),
    var(--largest-font-size)
  );
}

.sub_heading {
  --smallest-font-size: 16px;
  --largest-font-size: 50px;
  --font-scale: calc(0.75rem + 1.25vw);

  font-size: clamp(
    var(--smallest-font-size),
    var(--font-scale),
    var(--largest-font-size)
  );
}

.cycling_content,
.sub_heading {
  font-family: 'iA Writer Duo S', monospace;
  text-align: left;
  line-height: 1.35;
  letter-spacing: -0.01em;
}

.cycling_content {
  background: var(--sub-heading-color);
}

.sub_heading {
  color: var(--sub-heading-color);
}
