.header {
  color: var(--white-80);
  margin-bottom: 24px;
}

.header span {
  background: linear-gradient(90deg, #5d34b3 0%, #a314d5 49.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subHeader {
  color: var(--white-80);
  margin-bottom: 56px;
}

.heroInfo {
  display: flex;
  padding: 144px 0 224px 32px;
  flex-direction: column;
  flex: 1;
}

form {
  width: 92%;
}
@media screen and (max-width: 848px) {
  form {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .heroInfo {
    padding: 0;
    max-width: 716px;
  }
}
