.textContainer {
  width: 910px;
  max-width: 100vw;
  padding: 120px 32px;
}

.header {
  color: var(--white-80);
  margin-bottom: 40px;
}

.header span {
  background: linear-gradient(90deg, #5d34b3 0%, #a314d5 49.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkContainer {
  display: flex;
  align-items: center;
  width: fit-content;
}

.link {
  color: var(--white-100);
  text-decoration: underline;
  margin-right: 8px;
  transition: color 150ms;
}

.icon {
  color: var(--white-100);
  transition: color 150ms;
}

.linkContainer:hover .link,
.linkContainer:hover .icon {
  color: var(--violet-dark-100);
}
