@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .info_block {
    background: rgba(235, 235, 235, 0.05);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

.info_block {
  --border-radius: 8px;
  background: rgba(235, 235, 235, 0.05);
  border-radius: var(--border-radius);
  /*  36 / 28 = 1.28571429 */
  /* 36px is the max padding size, 28px is the max font-size */
  /* Padding scales down with text */
  padding: 1.28571429rem;
}

.title {
  --smallest-font-size: 30px;
  --largest-font-size: 50px;
  --smallest-padding-size: 16px;
  --largest-padding-size: 48px;
  --scale: calc(0.75rem + 2vw);

  font-family: 'iA Writer Duo S', monospace;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.01em;

  padding-bottom: clamp(
    var(--smallest-padding-size),
    var(--scale),
    var(--largest-padding-size)
  );
  text-align: left;

  font-size: clamp(
    var(--smallest-font-size),
    var(--scale),
    var(--largest-font-size)
  );
}

.description {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'IBM Plex Sans';
}
