@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .info_block {
    background: rgba(235, 235, 235, 0.05);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

.info_block {
  --border-radius: 8px;
  background: rgba(235, 235, 235, 0.05);
  border-radius: var(--border-radius);
  /*  36 / 28 = 1.28571429 */
  /* 36px is the max padding size, 28px is the max font-size */
  /* Padding scales down with text */
  padding: 1.28571429rem;
}

.title {
  font-family: 'iA Writer Duo S', monospace;
  font-style: normal;
  text-align: left;
  line-height: 1.35;
  padding-bottom: clamp(1rem, 0.5817rem + 2.0915vw, 3rem);
  font-size: clamp(1.875rem, 1.6136rem + 1.3072vw, 3.125rem);
}

.description {
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--sans-serif);
}
