.wrapper {
  padding: 16px 0;
  margin: 0 auto 48px auto;
  max-width: 1200px;
  padding-top: 72px;
}

.header {
  text-align: center;
  color: var(--white-80);
  margin-bottom: 48px;
}

.investorContainer {
  transition-property: max-width;
  transition: 300ms;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 32px;
  justify-content: center;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 72px;
}

div.headingContainer {
  text-align: center;
  padding-bottom: 72px;
}

p.subtitle {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 32px 40px 32px;
  color: var(--white-80);
}
