.wrapper {
  padding: 16px 0;
  margin: 0 auto 48px auto;
  max-width: 1200px;
}

.header {
  font-family: 'iA Writer Duo S', monospace;
  font-weight: 500;
  line-height: 1.35;
  text-align: center;
  --scale: calc(0.75rem + 2vw);
  --smallest-font-size: 30px;
  --largest-font-size: 50px;
  --smallest-padding-size: 32px;
  --largest-padding-size: 64px;

  padding-bottom: clamp(
    var(--smallest-padding-size),
    var(--scale),
    var(--largest-padding-size)
  );

  font-size: clamp(
    var(--smallest-font-size),
    var(--scale),
    var(--largest-font-size)
  );
}

.investorContainer {
  transition-property: max-width;
  transition: 300ms;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 32px;
  justify-content: center;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 72px;
}

div.headingContainer {
  text-align: center;
  padding-bottom: 72px;
}

p.subtitle {
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 16px 36px 16px;
  font-size: 1.6rem;
}
