div.body_grid {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  column-gap: 6em;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  transition-property: max-width;
  transition: 300ms;
}

.mono {
  font-family: 'iA Writer Duo S', monospace;
}

span.purple_accent {
  color: #7e57c2;
}

/* ===== CSS BODY GRID LAYOUT ===== */
div.body_grid {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hero_copy hero_image'
    'server_image server_copy'
    'keyserver_company keyserver_company'
    'keyserver_copy read_the_docs';
}

div.hero_copy {
  grid-area: hero_copy;
  align-self: center;
}
div.hero_image {
  grid-area: hero_image;
  object-fit: scale-down;
  align-self: center;
}
div.server_image {
  grid-area: server_image;
  object-fit: scale-down;
  align-self: center;
}
div.server_copy {
  grid-area: server_copy;
  align-self: center;
}
div.keyserver_company {
  grid-area: keyserver_company;
  text-align: center;
  padding-top: 80px;
}
div.read_the_docs {
  grid-area: read_the_docs;
  align-self: center;
  padding-bottom: 40px;
}

/* ===== LAYOUT HACKS ===== */
div.body_grid > div + .starting_section {
  padding-top: 80px;
}

.section {
  padding-top: 80px;
}

/* ===== MEDIUM BREAKPOINT ===== */
@media (max-width: 1499px) {
  div.body_grid {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* ===== SMALLEST BREAKPOINT ===== */
@media (max-width: 1099px) {
  /* ===== COMMON CSS GRID LAYOUT ===== */
  div.body_grid,
  div.app_landing_grid {
    padding-left: 3%;
    padding-right: 3%;
    grid-template-columns: minmax(auto, 540px);
    justify-content: center;
    padding-top: 0vh;
    padding-bottom: 2vh;
  }

  /* ===== CSS BODY GRID LAYOUT ===== */
  div.body_grid {
    grid-template-areas:
      'hero_image'
      'hero_copy'
      'server_image'
      'server_copy'
      'keyserver_company'
      'keyserver_copy'
      'read_the_docs';
  }

  div.keyserver_company {
    text-align: left;
    padding-top: 60px;
  }
  .keyserver_company > h1 {
    font-size: 24px;
  }
  div.keyserver_copy {
    padding-bottom: 0;
  }
  div.read_the_docs {
    padding-top: 20px;
    padding-bottom: 0;
  }

  /* ===== LAYOUT HACKS ===== */
  .section {
    padding-top: 20px;
  }
}
