.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-dark-page-background);
  padding: 96px 0;
}

.faqHeading {
  color: var(--white-100);
  margin-bottom: 64px;
}

.faqContainer {
  width: 1144px;
  max-width: 90vw;
}

.faqItemContainer {
  border-bottom: 1px solid var(--white-80);
  padding: 40px 0 24px;
  cursor: pointer;
}

.questionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionText {
  color: var(--white-100);
}

.icon {
  margin-left: 24px;
  transform: rotate(0deg);
  transition: transform 500ms;
}

.activeIcon {
  transform: rotate(180deg);
  transition: transform 500ms;
}

.answerContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.activeAnswerContainer {
  grid-template-rows: 1fr;
}

.answerText {
  color: var(--white-100);
  margin-top: 16px;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: underline;
  transition: color 150ms;
}

.link:hover {
  color: var(--violet-dark-100);
  transition: color 150ms;
}
