.answerText {
  color: var(--white-100);
  margin-top: 16px;
}

.link {
  color: inherit;
  text-decoration: underline;
  transition: color 150ms;
}

.link:hover {
  color: var(--violet-dark-100);
  transition: color 150ms;
}
