div.body_grid {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  column-gap: 6em;
  padding: 20px 60px 40px;
  transition-property: max-width;
  transition: 300ms;
}

div.body_grid h1 {
  font-size: clamp(1.5rem, 1.0817rem + 2.0915vw, 3.5rem);
}

.mono {
  font-family: 'iA Writer Duo S', monospace;
  padding-bottom: 24px;
}

.mono + p {
  padding-bottom: 24px;
}

span.purple_accent {
  color: #7e57c2;
}

.heading {
  color: var(--white-80);
  margin-bottom: 40px;
}

.heading + p {
  padding-bottom: 24px;
}

span.purple_gradient {
  background: linear-gradient(90deg, #5d34b3 0%, #a314d5 49.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.keyserver_company_section {
  display: flex;
  padding: 120px 32px;
  justify-content: center;
}

.keyserver_company_container {
  display: flex;
  width: 1376px;
  max-width: 90vw;
}

.read_the_docs {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 24px;
  margin-left: 112px;
}

@media (max-width: 1440px) {
  .keyserver_company_container {
    flex-direction: column;
  }

  .keyserver_company_copy {
    margin-bottom: 48px;
  }

  .read_the_docs {
    max-width: 504px;
    align-self: flex-start;
    margin: 0;
  }
}

/* ===== CSS BODY GRID LAYOUT ===== */
div.body_grid {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hero_copy hero_image'
    'server_image server_copy';
}

div.hero_copy {
  grid-area: hero_copy;
  align-self: center;
}
div.hero_image {
  grid-area: hero_image;
  object-fit: scale-down;
  align-self: center;
}
div.server_image {
  grid-area: server_image;
  object-fit: scale-down;
  align-self: center;
}
div.server_copy {
  grid-area: server_copy;
  align-self: center;
}

/* ===== LAYOUT HACKS ===== */
div.body_grid > div + .starting_section {
  padding-top: 80px;
}

.section {
  padding-top: 80px;
}

/* ===== MEDIUM BREAKPOINT ===== */
@media (max-width: 1499px) {
  div.body_grid {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* ===== SMALLEST BREAKPOINT ===== */
@media (max-width: 1099px) {
  /* ===== COMMON CSS GRID LAYOUT ===== */
  div.body_grid,
  div.app_landing_grid {
    grid-template-columns: minmax(auto, 540px);
    justify-content: center;
    padding: 0 3% 2vh;
  }

  /* ===== CSS BODY GRID LAYOUT ===== */
  div.body_grid {
    grid-template-areas:
      'hero_image'
      'hero_copy'
      'server_image'
      'server_copy';
  }

  /* ===== LAYOUT HACKS ===== */
  .section {
    padding-top: 20px;
  }
}
