.container {
  background: radial-gradient(ellipse at bottom, #1f252e, #111827) fixed;
  font-family: var(--sans-serif);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
  word-break: break-word;
  height: 100%;
  position: relative;
  z-index: var(--landing-page-z-index);
}

.innerContainer {
  background-color: var(--page-background);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.innerContainerMobileNav {
  overflow-y: hidden;
}

.pageContentContainer {
  position: relative;
}

.heroSection {
  display: flex;
  justify-content: center;
}

.heroContainer {
  width: 1850px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.heroImage {
  flex: 1;
  position: relative;
}

.heroImage picture img {
  object-fit: cover;
  object-position: left center;
  position: absolute;
  left: 120px;
  top: 120px;
  width: 624px;
  height: 472px;
}

@media screen and (max-width: 1280px) {
  .heroContainer {
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
  }

  .heroImage {
    margin-bottom: 24px;
    max-width: 600px;
  }

  .heroImage picture img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
