html {
  background: radial-gradient(ellipse at bottom, #1f252e, #111827);
  background-attachment: fixed;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

h1,
h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

h1.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  padding-left: 60px;
}

h1 {
  font-size: 58px;
}

span.purple {
  color: #7e57c2;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 24px;
}

div.grid {
  display: grid;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  row-gap: 14em;
  column-gap: 4em;
  grid-template-rows: 1fr 1fr 1fr 1/6fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hero_copy hero_image'
    'server_copy server_image'
    'keyserver_copy read_the_docs'
    'footer_logo subscribe_updates';
}

@media (max-width: 1499px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }
}

@media (max-width: 1099px) {
  div.grid {
    display: grid;
    padding-left: 60px;
    padding-right: 60px;
    row-gap: 2em;
    grid-template-columns: minmax(auto, 540px);
    justify-content: center;
    grid-template-areas:
      'hero_image'
      'hero_copy'
      'server_image'
      'server_copy'
      'keyserver_copy'
      'read_the_docs'
      'subscribe_updates'
      'footer_logo';
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 18px;
  }

  div.server_image {
    grid-area: server_image;
    height: 401px;
    width: 100%;
    background-image: url(../images/server_illustration_small.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: scale-down;
  }
}

div.hero_copy {
  grid-area: hero_copy;
  align-self: center;
}

div.hero_image {
  grid-area: hero_image;
  object-fit: scale-down;
  align-self: center;
}

div.server_copy {
  grid-area: server_copy;
  align-self: center;
}

div.server_image {
  grid-area: server_image;
  height: 535px;
  width: 100%;
  background-image: url(../images/server_illustration.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: scale-down;
}

div.keyserver_copy {
  grid-area: keyserver_copy;
  align-self: center;
}

div.read_the_docs {
  grid-area: read_the_docs;
  align-self: flex-end;
}

div.footer_logo {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  grid-area: footer_logo;
  align-self: center;
  font-weight: 600;
}

div.subscribe_updates {
  grid-area: subscribe_updates;
}

canvas.particles {
  position: fixed;
  z-index: -1;
}
