.container {
  background: radial-gradient(ellipse at bottom, #1f252e, #111827) fixed;
  font-family: var(--sans-serif);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
  word-break: break-word;
  height: 100%;
  position: relative;
  z-index: 0;
}

.innerContainer {
  background-image: radial-gradient(
    circle at top left,
    #2d008888 0%,
    #ffffff00 50%
  );
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.wrapper {
  transition-property: max-width;
  transition: 300ms;
  max-width: 1850px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  padding-top: 7vh;
  padding-bottom: 235px;
  grid-template-columns: 40px repeat(12, 1fr) 40px;
  grid-template-rows: repeat(auto-fill, 1fr);
  column-gap: 1.5%;
  row-gap: 75px;
  grid-template-areas:
    '.    hImg  hImg  hImg  hImg  .     hInfo hInfo hInfo hInfo hInfo hInfo hInfo .'
    '.    fImg  fImg  fImg  fImg  fImg  .     fInfo fInfo fInfo fInfo fInfo fInfo .'
    '.    cInfo cInfo cInfo cInfo cInfo cInfo .     cImg  cImg  cImg  cImg  cImg  cImg'
    '.    eImg  eImg  eImg  eImg  eImg  .     eInfo eInfo eInfo eInfo eInfo eInfo .'
    '.    sInfo sInfo sInfo sInfo sInfo sInfo .     sImg  sImg  sImg  sImg  sImg  .'
    'oImg oImg  oImg  oImg  oImg  oImg  .     oInfo oInfo oInfo oInfo oInfo oInfo .'
    '.    lInfo lInfo lInfo lInfo lInfo lInfo .     lImg  lImg  lImg  lImg  lImg  .';
}

@media screen and (max-width: 1099px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    padding-top: 7vh;
    padding-bottom: 235px;
    grid-template-columns: 16px repeat(6, 1fr) 16px;
    grid-template-rows: repeat(auto-fill, 1fr);
    column-gap: 1.5%;
    row-gap: 75px;
    grid-template-areas:
      '.    hInfo hInfo hInfo hInfo hInfo hInfo .'
      '.    fInfo fInfo fInfo fInfo fInfo fInfo .'
      '.    fImg  fImg  fImg  fImg  fImg  fImg  .'
      '.    cInfo cInfo cInfo cInfo cInfo cInfo .'
      '.    cImg  cImg  cImg  cImg  cImg  cImg  cImg'
      '.    eInfo eInfo eInfo eInfo eInfo eInfo .'
      '.    eImg  eImg  eImg  eImg  eImg  eImg  .'
      '.    sInfo sInfo sInfo sInfo sInfo sInfo .'
      '.    sImg  sImg  sImg  sImg  sImg  sImg  .'
      '.    oInfo oInfo oInfo oInfo oInfo oInfo .'
      'oImg oImg  oImg  oImg  oImg  oImg  oImg  .'
      '.    lInfo lInfo lInfo lInfo lInfo lInfo .'
      '.    lImg  lImg  lImg  lImg  lImg  lImg  .';
  }

  .heroImage {
    display: none;
  }

  .heroInfo {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }

  .federatedImage {
    justify-self: center;
  }

  .encryptedImage {
    justify-self: center;
    max-width: 585px;
  }

  .sovereignImage {
    justify-self: center;
  }
}

.heroImage {
  grid-area: hImg;
}

.heroInfo {
  grid-area: hInfo;
}

.federatedImage {
  grid-area: fImg;
}

.federatedInfo {
  grid-area: fInfo;
}

.customizableImage {
  grid-area: cImg;
}

.customizableInfo {
  grid-area: cInfo;
}

.encryptedImage {
  grid-area: eImg;
}

.encryptedInfo {
  grid-area: eInfo;
}

.sovereignImage {
  grid-area: sImg;
}

.sovereignInfo {
  grid-area: sInfo;
}

.openSourceImage {
  grid-area: oImg;
}

.openSourceInfo {
  grid-area: oInfo;
}

.lessNoisyImage {
  grid-area: lImg;
}

.lessNoisyInfo {
  grid-area: lInfo;
}
