nav.mobileNav {
  position: absolute;
  top: -110vh;
  bottom: auto;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: var(--mobile-nav-z-index);
  background-color: transparent;
  padding: 8px 16px 0;
  transition: top 500ms, background-color 0ms 500ms;
}

nav.activeMobileNav {
  top: 0;
  transition: top 500ms;
  background-color: var(--comparison-cards);
}

div.tabContainer {
  border-bottom: 1px solid var(--black-90);
  -webkit-tap-highlight-color: transparent;
}

.tab {
  color: var(--white-60);
  transition: color 150ms;
}

.activeTab {
  color: var(--white-100);
}

.tabContent {
  padding: 16px 0;
}

div.socialIconsContainer {
  display: flex;
  column-gap: 24px;
  margin-top: 16px;
}

div.socialIconsContainer a {
  -webkit-tap-highlight-color: transparent;
}

.icon {
  color: var(--white-60);
}
