.buttonContainer {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid white;
  color: white;
  background: transparent;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;
  font-family: var(--sans-serif);
  font-size: 24px;
  padding: 30px;
  height: 160px;
  transition: 0.2s;
}

.buttonText {
  align-self: flex-end;
}

.button:hover {
  background-color: white;
  color: black;
}

.button img {
  transition: 0.8s;
}

.button:hover img {
  filter: invert(1);
}

.cornerIcon {
  align-self: flex-start;
  padding-left: 5px;
}

@media (max-width: 1440px) {
  .button {
    font-size: 18px;
    padding: 15px 20px;
    height: 88px;
  }
  .buttonText {
    align-self: center;
  }
  .cornerIcon {
    align-self: center;
  }
}
