html,
body {
  background: #242529 !important;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #7e57c2;
  box-shadow: -12px 20px 50px rgba(126, 87, 194, 0.5);
  border-color: white;
  border-width: 2px;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 10px;
  width: 241px;
}
@media screen and (max-width: 400px) {
  .button {
    width: 140px;
  }
}

body > div > :global(div.iekbcc0) {
  word-break: initial;
}
[data-rk] :global(._9pm4ki5) {
  animation: initial !important;
  -webkit-animation: initial !important;
}
body > div > :global(div.iekbcc0) > div {
  bottom: initial !important;
}
body > div > :global(div.iekbcc0) > div > div > div > div {
  border: 0 !important;
}

:global(div#walletconnect-wrapper) {
  word-break: initial;
  color: initial;
}
:global(div.walletconnect-modal__footer) {
  overflow: hidden;
  justify-content: flex-start;
}
