html,
body {
  background: #242529 !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

div.connectedWalletInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.connectedWalletInfo > div {
  width: 100%;
}

.walletDisplayText {
  font-size: 24px;
  padding: 5px;
}
.wrapper > p {
  text-align: center;
  padding: 5px;
  font-size: 15px;
}
.button {
  margin-top: 20px;
  background: #7e57c2;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* Classes from node_modules/@rainbow-me/rainbowkit/dist/components/index.css */
body > div > :global(div.iekbcc0) {
  word-break: initial;
}
[data-rk] :global(._9pm4ki5) {
  animation: initial !important;
  -webkit-animation: initial !important;
}
body > div > :global(div.iekbcc0) > div {
  bottom: initial !important;
}
body > div > :global(div.iekbcc0) > div > div > div > div {
  border: 0 !important;
}

:global(div#walletconnect-wrapper) {
  word-break: initial;
  color: initial;
}
:global(div.walletconnect-modal__footer) {
  overflow: hidden;
  justify-content: flex-start;
}
