html,
body {
  background: #242529 !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

div.connectedWalletInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.connectedWalletInfo > div {
  width: 100%;
}

.walletDisplayText {
  display: flex;
  width: 100%;
  padding-bottom: 6px;
}

.walletDisplayText p {
  font-size: 16px;
  font-weight: bold;
}

.wrapper > p {
  padding-top: 16px;
  font-size: 15px;
}

.wrapper a {
  color: #2a5db0;
}

.button {
  margin-top: 20px;
  background: #6a20e3;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* Classes from node_modules/@rainbow-me/rainbowkit/dist/components/index.css */
body > div > :global(div.iekbcc0) {
  word-break: initial;
}
[data-rk] :global(._9pm4ki5) {
  animation: initial !important;
  -webkit-animation: initial !important;
}
body > div > :global(div.iekbcc0) > div {
  bottom: initial !important;
}
body > div > :global(div.iekbcc0) > div > div > div > div {
  border: 0 !important;
}

:global(div#walletconnect-wrapper) {
  word-break: initial;
  color: initial;
}
:global(div.walletconnect-modal__footer) {
  overflow: hidden;
  justify-content: flex-start;
}
