div.star_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

@keyframes parallax {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6000px);
  }
}

div.stars_small {
  width: 1px;
  height: 1px;
  border-radius: 1px;
  animation: parallax 240s linear infinite;
  box-shadow: 469px 4282px #fff, 217px 1548px #fff, 3669px 4093px #fff,
    2939px 2328px #fff, 5674px 888px #fff, 595px 3862px #fff, 5444px 2204px #fff,
    2349px 1286px #fff, 4863px 4319px #fff, 1095px 5033px #fff,
    3042px 249px #fff, 4012px 475px #fff, 636px 2276px #fff, 4323px 1636px #fff,
    5358px 2723px #fff, 3464px 4541px #fff, 3994px 823px #fff, 15px 3114px #fff,
    3122px 1894px #fff, 3574px 5604px #fff, 4624px 3230px #fff,
    3803px 5024px #fff, 239px 1375px #fff, 1981px 2047px #fff, 3265px 68px #fff,
    4226px 641px #fff, 2680px 96px #fff, 5623px 1642px #fff, 1274px 3332px #fff,
    526px 1545px #fff, 4514px 3352px #fff, 849px 2509px #fff, 2781px 1323px #fff,
    1173px 3737px #fff, 5036px 623px #fff, 5288px 4467px #fff,
    1862px 4723px #fff, 3117px 1790px #fff, 597px 4755px #fff,
    3719px 1032px #fff, 4669px 3521px #fff, 4868px 4440px #fff,
    3718px 5435px #fff, 4240px 1259px #fff, 4111px 1178px #fff,
    4190px 4731px #fff, 2209px 4784px #fff, 5082px 5283px #fff,
    1715px 4961px #fff, 4852px 384px #fff, 3331px 2698px #fff,
    1191px 3215px #fff, 4996px 4022px #fff, 4006px 5519px #fff,
    1630px 5837px #fff, 5251px 3377px #fff, 4016px 1554px #fff,
    1013px 2784px #fff, 1396px 1320px #fff, 918px 2952px #fff,
    1289px 1012px #fff, 1834px 1871px #fff, 5048px 1731px #fff,
    5096px 4218px #fff, 2623px 3137px #fff, 3110px 4003px #fff,
    5507px 5658px #fff, 5050px 4122px #fff, 110px 2104px #fff,
    1939px 1891px #fff, 1540px 4906px #fff, 2353px 3753px #fff,
    5702px 1871px #fff, 4818px 4641px #fff, 1741px 4366px #fff,
    2093px 337px #fff, 4002px 162px #fff, 4945px 1089px #fff, 2765px 3043px #fff,
    4837px 1275px #fff, 1405px 1837px #fff, 1684px 3345px #fff,
    1998px 282px #fff, 5152px 4259px #fff, 521px 5615px #fff, 554px 3359px #fff,
    2425px 3683px #fff, 1140px 1315px #fff, 5757px 2307px #fff,
    2622px 4605px #fff, 1038px 5031px #fff, 1220px 2088px #fff,
    2176px 2612px #fff, 60px 3897px #fff, 1724px 3961px #fff, 1812px 3265px #fff,
    5932px 4420px #fff, 5383px 4826px #fff, 3219px 4933px #fff, 175px 771px #fff,
    2789px 2714px #fff, 1029px 505px #fff, 3888px 573px #fff, 5939px 2244px #fff,
    3298px 778px #fff, 4150px 1702px #fff, 3949px 1084px #fff,
    2960px 4032px #fff, 1839px 1373px #fff, 5621px 2056px #fff,
    5683px 326px #fff, 2605px 452px #fff, 2001px 3798px #fff, 2414px 4677px #fff,
    3810px 618px #fff, 1956px 2295px #fff, 5332px 4989px #fff, 912px 4641px #fff,
    4289px 4549px #fff, 1137px 3918px #fff, 1075px 5908px #fff,
    378px 4941px #fff, 199px 5635px #fff, 2946px 2824px #fff, 5378px 5674px #fff,
    3559px 3231px #fff, 2994px 3333px #fff, 3791px 5815px #fff,
    2985px 1129px #fff, 3941px 4667px #fff, 5054px 3862px #fff, 2717px 29px #fff,
    3972px 2840px #fff, 5557px 2482px #fff, 508px 5393px #fff, 1112px 5px #fff,
    4396px 3776px #fff, 2346px 5526px #fff, 5111px 4862px #fff,
    1123px 3425px #fff, 2447px 5346px #fff, 3225px 2236px #fff,
    3127px 5711px #fff, 5307px 4931px #fff, 3530px 534px #fff,
    2744px 2185px #fff, 3363px 1149px #fff, 1552px 5822px #fff,
    1723px 4117px #fff, 5513px 1282px #fff, 5615px 228px #fff,
    2669px 5752px #fff, 4312px 5218px #fff, 2369px 1909px #fff,
    2258px 875px #fff, 5553px 2953px #fff, 1476px 1781px #fff,
    4423px 1749px #fff, 510px 2559px #fff, 1259px 5342px #fff,
    2355px 3349px #fff, 1820px 5176px #fff, 4646px 1690px #fff,
    4331px 1680px #fff, 5208px 5454px #fff, 3014px 703px #fff,
    2019px 2366px #fff, 5077px 5524px #fff, 5453px 4502px #fff,
    2795px 5499px #fff, 4646px 3962px #fff, 4919px 2664px #fff,
    4468px 3526px #fff, 4551px 695px #fff, 31px 5755px #fff, 1275px 3444px #fff,
    2848px 3810px #fff, 5934px 3668px #fff, 2689px 380px #fff,
    1176px 4492px #fff, 1383px 972px #fff, 5089px 5619px #fff,
    3474px 4472px #fff, 5616px 5376px #fff, 214px 5568px #fff,
    2539px 4668px #fff, 3916px 4887px #fff, 37px 2576px #fff, 2739px 4918px #fff,
    5439px 4560px #fff, 672px 3285px #fff, 2850px 3160px #fff,
    2862px 2323px #fff, 5619px 5300px #fff, 1815px 1163px #fff,
    3862px 4818px #fff, 718px 1968px #fff, 4596px 1517px #fff, 1530px 868px #fff,
    613px 846px #fff, 1778px 4829px #fff, 3287px 123px #fff, 1692px 1022px #fff,
    2582px 3228px #fff, 4849px 3982px #fff, 3290px 4241px #fff,
    4348px 5973px #fff, 3478px 3287px #fff, 5788px 1624px #fff,
    2127px 2086px #fff, 620px 2002px #fff, 3769px 2280px #fff,
    1174px 5663px #fff, 2847px 4498px #fff, 668px 1736px #fff, 782px 4104px #fff,
    2033px 1994px #fff, 5113px 3418px #fff, 2861px 5467px #fff,
    2685px 5537px #fff, 1816px 4257px #fff, 1019px 2704px #fff,
    177px 5648px #fff, 1076px 4140px #fff, 5748px 565px #fff, 3883px 3362px #fff,
    4548px 1628px #fff, 560px 5769px #fff, 604px 3400px #fff, 5886px 4135px #fff,
    4998px 3719px #fff, 4312px 4751px #fff, 4654px 3567px #fff,
    5665px 5482px #fff, 1947px 231px #fff, 5565px 5915px #fff,
    4128px 3711px #fff, 755px 3106px #fff, 22px 3422px #fff, 1493px 1823px #fff,
    1627px 3236px #fff, 4209px 5780px #fff, 5766px 3658px #fff,
    4484px 3740px #fff, 5110px 5912px #fff, 265px 4291px #fff,
    5936px 4786px #fff, 3028px 2101px #fff, 2619px 3954px #fff,
    2647px 5586px #fff, 4276px 4795px #fff, 263px 5961px #fff,
    5924px 5803px #fff, 2382px 2280px #fff, 4593px 728px #fff,
    4341px 3669px #fff, 1378px 3634px #fff, 4090px 1269px #fff,
    3697px 3378px #fff, 2679px 5303px #fff, 2183px 1503px #fff,
    3825px 5320px #fff, 5998px 1125px #fff, 2817px 2266px #fff,
    5007px 2905px #fff, 4528px 29px #fff, 2979px 2081px #fff, 4955px 709px #fff,
    737px 4207px #fff, 2818px 3185px #fff, 24px 4043px #fff, 1361px 3316px #fff,
    4217px 3748px #fff, 781px 2966px #fff, 4226px 4536px #fff, 319px 5095px #fff,
    2371px 5949px #fff, 1363px 267px #fff, 2370px 3646px #fff, 986px 5906px #fff,
    2397px 3100px #fff, 1166px 4294px #fff, 5966px 5685px #fff,
    2329px 5511px #fff, 1619px 1660px #fff, 2200px 3199px #fff,
    3818px 3217px #fff, 5842px 4111px #fff, 5323px 18px #fff, 4690px 5219px #fff,
    2997px 226px #fff, 5364px 3985px #fff, 1025px 4169px #fff,
    4559px 5784px #fff, 2147px 3113px #fff, 5683px 3050px #fff,
    2155px 1373px #fff, 1911px 950px #fff, 1049px 3075px #fff,
    1199px 5068px #fff, 4291px 3806px #fff, 2596px 5191px #fff,
    2159px 3188px #fff, 959px 3388px #fff, 141px 542px #fff, 349px 5774px #fff,
    3758px 2474px #fff, 2839px 864px #fff, 978px 2429px #fff, 1353px 2782px #fff,
    1868px 4675px #fff, 2337px 4940px #fff, 558px 2899px #fff,
    5066px 1033px #fff, 1597px 1414px #fff, 3389px 1953px #fff,
    2765px 1085px #fff, 4635px 4021px #fff, 5512px 1264px #fff,
    3817px 923px #fff, 4663px 4633px #fff, 5724px 251px #fff, 5878px 5634px #fff,
    4808px 2416px #fff, 1972px 1498px #fff, 2696px 4180px #fff,
    3278px 5146px #fff, 4182px 394px #fff, 276px 2825px #fff, 1178px 3741px #fff,
    2670px 2641px #fff, 4217px 5799px #fff, 2275px 4815px #fff,
    3224px 3224px #fff, 3832px 3662px #fff, 2583px 4031px #fff,
    1462px 4196px #fff, 3215px 2972px #fff, 3052px 3221px #fff,
    918px 1245px #fff, 1125px 2957px #fff, 1255px 5525px #fff,
    2308px 1503px #fff, 1699px 90px #fff, 1723px 200px #fff, 4576px 3090px #fff,
    3505px 637px #fff, 1392px 3390px #fff, 5036px 914px #fff, 5156px 4558px #fff,
    5996px 1959px #fff, 4578px 4835px #fff, 1570px 4922px #fff,
    3437px 4519px #fff, 4382px 1866px #fff, 5460px 5344px #fff,
    347px 3434px #fff, 4097px 3160px #fff, 1871px 3767px #fff, 963px 925px #fff,
    89px 5158px #fff, 2708px 2365px #fff, 4135px 240px #fff, 1658px 3849px #fff,
    2508px 76px #fff, 1919px 5792px #fff, 2669px 4162px #fff, 1176px 5613px #fff,
    1213px 1215px #fff, 714px 5421px #fff, 4850px 4599px #fff, 22px 3834px #fff,
    4116px 5093px #fff, 226px 2590px #fff, 5364px 2800px #fff, 5103px 672px #fff,
    3900px 1317px #fff, 2728px 1317px #fff, 2018px 5119px #fff,
    5557px 4253px #fff, 695px 2578px #fff, 5705px 2897px #fff,
    2892px 2746px #fff, 3671px 5796px #fff, 4235px 4579px #fff,
    769px 1227px #fff, 4677px 93px #fff, 595px 5681px #fff, 1067px 5318px #fff,
    5596px 2698px #fff, 966px 1629px #fff, 3381px 4305px #fff, 3845px 204px #fff,
    4853px 4963px #fff, 1973px 1597px #fff, 4044px 4110px #fff,
    3857px 2693px #fff, 646px 3956px #fff, 2080px 3068px #fff,
    5200px 3233px #fff, 2956px 4417px #fff, 1082px 5615px #fff,
    4317px 4445px #fff, 1963px 4788px #fff, 2027px 2317px #fff,
    1877px 4846px #fff, 1789px 5971px #fff, 3481px 3889px #fff,
    3834px 4067px #fff, 797px 1032px #fff, 1819px 1797px #fff,
    2865px 4944px #fff, 4072px 3048px #fff, 866px 3476px #fff,
    3673px 5382px #fff, 1486px 2387px #fff, 5519px 5471px #fff,
    2766px 4433px #fff, 2827px 1616px #fff, 2328px 2206px #fff,
    1730px 3782px #fff, 1334px 3111px #fff, 4037px 5652px #fff,
    5955px 5417px #fff, 5770px 4237px #fff, 779px 2933px #fff, 848px 5732px #fff,
    541px 5301px #fff, 4888px 1812px #fff, 3636px 147px #fff, 5667px 3024px #fff,
    5166px 5076px #fff, 5834px 5287px #fff, 4833px 1912px #fff,
    3830px 109px #fff, 807px 4104px #fff, 4860px 2715px #fff, 3102px 1397px #fff,
    3741px 5737px #fff, 2377px 4132px #fff, 623px 1032px #fff,
    4166px 4102px #fff, 114px 1134px #fff, 1346px 2472px #fff, 351px 2124px #fff,
    1684px 4853px #fff, 3866px 184px #fff, 4703px 5897px #fff,
    4446px 4015px #fff, 453px 4120px #fff, 5255px 5821px #fff,
    4289px 4391px #fff, 2721px 2623px #fff, 3166px 2355px #fff,
    3122px 3924px #fff, 1165px 356px #fff, 525px 1345px #fff, 5001px 2710px #fff,
    866px 1457px #fff, 4826px 2923px #fff, 1521px 1118px #fff,
    3602px 4619px #fff, 1120px 2409px #fff, 1234px 2554px #fff,
    4551px 432px #fff, 605px 4774px #fff, 3571px 4241px #fff, 4201px 5759px #fff,
    2411px 2026px #fff, 682px 5153px #fff, 4087px 4048px #fff,
    1333px 1606px #fff, 5713px 4081px #fff, 4325px 4982px #fff,
    4602px 4996px #fff, 1777px 331px #fff, 2207px 1523px #fff, 626px 420px #fff,
    2392px 3902px #fff, 2458px 500px #fff, 2937px 2180px #fff,
    5846px 5121px #fff, 376px 3519px #fff, 5457px 976px #fff, 832px 1863px #fff,
    3985px 737px #fff, 5608px 665px #fff, 4517px 2013px #fff, 2340px 2113px #fff,
    3190px 3447px #fff, 5072px 1551px #fff, 2173px 5082px #fff,
    5295px 2279px #fff, 1700px 2817px #fff, 2846px 4787px #fff,
    4963px 1494px #fff, 516px 4586px #fff, 5253px 1691px #fff, 1367px 370px #fff,
    612px 1322px #fff, 1686px 5663px #fff, 4027px 1470px #fff, 3606px 355px #fff,
    5211px 4175px #fff, 963px 1935px #fff, 811px 2899px #fff, 85px 1628px #fff,
    4068px 4010px #fff, 3246px 5103px #fff, 3594px 5691px #fff,
    2575px 2936px #fff, 285px 1639px #fff, 2483px 2941px #fff,
    2652px 2895px #fff, 5761px 5376px #fff, 988px 3278px #fff,
    5986px 4822px #fff, 1330px 5716px #fff, 1817px 1693px #fff,
    2365px 4294px #fff, 2885px 548px #fff, 5280px 1474px #fff,
    1381px 2735px #fff, 3488px 4955px #fff, 1031px 5995px #fff,
    365px 3045px #fff, 638px 2071px #fff, 5143px 5408px #fff, 3703px 4631px #fff,
    4414px 4738px #fff, 4433px 1561px #fff, 5328px 2842px #fff,
    2787px 3695px #fff, 5186px 1885px #fff, 2007px 2979px #fff,
    1158px 1698px #fff, 4122px 5878px #fff, 4768px 4486px #fff, 397px 722px #fff,
    1028px 3595px #fff, 5411px 4689px #fff, 315px 4862px #fff,
    5664px 3639px #fff, 1109px 358px #fff, 2728px 4560px #fff, 271px 1232px #fff,
    1387px 3906px #fff, 2854px 643px #fff, 3346px 3856px #fff,
    3857px 3128px #fff, 4164px 1670px #fff, 1461px 2408px #fff, 37px 5598px #fff,
    2451px 4071px #fff, 3438px 2542px #fff, 543px 1967px #fff, 2990px 780px #fff,
    3503px 1831px #fff, 5760px 5185px #fff, 3407px 430px #fff,
    5123px 5304px #fff, 1977px 793px #fff, 2920px 2060px #fff,
    2518px 5806px #fff, 1504px 5619px #fff, 3228px 2769px #fff,
    4625px 3309px #fff, 3315px 3993px #fff, 4779px 366px #fff, 624px 5630px #fff,
    3461px 611px #fff, 3697px 3317px #fff, 1462px 1327px #fff,
    4614px 3058px #fff, 4878px 3622px #fff, 2347px 704px #fff,
    5506px 1060px #fff, 2613px 4678px #fff, 4913px 852px #fff,
    5172px 3003px #fff, 3946px 530px #fff, 3998px 1251px #fff,
    3843px 3367px #fff, 2607px 1252px #fff, 5495px 1329px #fff,
    5011px 2192px #fff, 1620px 2067px #fff, 5504px 4652px #fff,
    979px 5631px #fff, 4335px 4469px #fff, 467px 2937px #fff, 1983px 1816px #fff,
    3875px 2379px #fff, 4932px 4591px #fff, 124px 101px #fff, 5298px 2792px #fff,
    1655px 2000px #fff, 3048px 5220px #fff, 327px 3225px #fff,
    1531px 5467px #fff, 5461px 1118px #fff, 2383px 4543px #fff,
    1556px 3881px #fff, 3368px 2009px #fff, 2567px 2583px #fff,
    3953px 4919px #fff, 4454px 3708px #fff, 5904px 524px #fff,
    5592px 4502px #fff, 5321px 1827px #fff, 3097px 89px #fff, 5286px 173px #fff,
    5487px 1195px #fff, 1551px 2726px #fff, 3563px 3468px #fff,
    5601px 672px #fff, 246px 530px #fff, 1654px 1452px #fff, 5949px 1975px #fff,
    4553px 3371px #fff, 908px 2022px #fff, 5403px 1715px #fff, 332px 2161px #fff,
    3566px 5162px #fff, 1279px 211px #fff, 2266px 3437px #fff,
    1540px 1707px #fff, 3623px 680px #fff, 4201px 1381px #fff,
    2042px 2742px #fff, 5134px 1092px #fff, 1117px 1938px #fff,
    5005px 3109px #fff, 1381px 3391px #fff, 3732px 5340px #fff,
    5533px 5039px #fff, 622px 2007px #fff, 3098px 991px #fff, 5120px 3694px #fff,
    974px 1203px #fff, 3391px 1147px #fff, 3055px 3336px #fff,
    3218px 3958px #fff, 751px 3290px #fff, 969px 2476px #fff, 4791px 5443px #fff,
    1756px 3847px #fff, 1360px 4647px #fff, 2955px 27px #fff, 948px 2261px #fff,
    3946px 2630px #fff, 2328px 2915px #fff, 1083px 1718px #fff,
    1081px 5555px #fff, 5446px 2196px #fff, 5502px 1790px #fff,
    2118px 5654px #fff, 1130px 1415px #fff, 3626px 625px #fff,
    2789px 4876px #fff, 432px 4497px #fff, 5815px 1402px #fff, 322px 4436px #fff,
    3943px 3341px #fff, 4779px 4204px #fff, 4666px 5399px #fff,
    4199px 1313px #fff, 5622px 100px #fff, 3788px 3838px #fff,
    5275px 4702px #fff, 1578px 5462px #fff, 789px 2181px #fff,
    5153px 5920px #fff, 2378px 1891px #fff, 2764px 1464px #fff,
    3763px 2302px #fff, 2567px 5985px #fff, 4149px 3872px #fff,
    1955px 2076px #fff, 5695px 4168px #fff, 5484px 3398px #fff,
    5654px 3349px #fff, 1158px 5877px #fff, 5692px 3782px #fff,
    4603px 5950px #fff, 2189px 3637px #fff, 810px 5746px #fff,
    4220px 3385px #fff, 4953px 3848px #fff, 2553px 3507px #fff,
    1413px 672px #fff, 3564px 5771px #fff, 3455px 5441px #fff,
    5208px 4353px #fff, 253px 5607px #fff, 3206px 2182px #fff,
    5002px 1470px #fff, 5179px 5933px #fff, 3651px 2562px #fff, 5296px 95px #fff,
    387px 966px #fff, 3203px 4346px #fff, 4568px 123px #fff, 1271px 687px #fff,
    5036px 1656px #fff, 2536px 1952px #fff, 1045px 4633px #fff,
    1988px 722px #fff, 3104px 2012px #fff, 3067px 3412px #fff,
    1352px 4583px #fff, 4010px 1432px #fff, 4176px 5937px #fff,
    3291px 3991px #fff, 5853px 4190px #fff, 576px 17px #fff, 2308px 4683px #fff,
    1383px 5621px #fff, 1172px 5581px #fff, 1928px 3375px #fff,
    2879px 1023px #fff, 2545px 4654px #fff, 2115px 3157px #fff,
    4343px 2272px #fff, 2504px 3764px #fff, 1722px 5885px #fff,
    5993px 2404px #fff, 786px 4636px #fff, 2531px 3932px #fff,
    1029px 3880px #fff, 5480px 4853px #fff, 2987px 935px #fff,
    3547px 4711px #fff, 1200px 1692px #fff, 2944px 3085px #fff,
    3879px 2647px #fff, 1886px 4930px #fff, 3478px 2059px #fff,
    4950px 2695px #fff, 5781px 4354px #fff, 106px 5164px #fff,
    1536px 1432px #fff, 4201px 1363px #fff, 120px 4012px #fff,
    1406px 4232px #fff, 1289px 4926px #fff, 2391px 714px #fff, 30px 2919px #fff,
    2851px 2413px #fff, 4309px 3491px #fff, 4041px 3679px #fff,
    3422px 5524px #fff, 1651px 3034px #fff, 5795px 4147px #fff,
    2824px 1835px #fff, 3792px 4245px #fff, 1739px 2189px #fff,
    5834px 1826px #fff, 3564px 5504px #fff, 4843px 2709px #fff,
    1856px 3778px #fff, 4188px 2110px #fff, 2568px 530px #fff,
    2152px 2188px #fff, 3736px 3194px #fff, 2355px 303px #fff, 4158px 255px #fff,
    1391px 90px #fff, 4078px 1166px #fff, 4075px 5218px #fff, 6000px 1902px #fff,
    1058px 5899px #fff, 4725px 977px #fff, 3622px 5584px #fff,
    5296px 3959px #fff, 1636px 5028px #fff, 2072px 2715px #fff,
    5446px 4408px #fff, 1470px 2997px #fff, 1117px 4955px #fff,
    3989px 3929px #fff, 1216px 566px #fff, 2230px 1898px #fff, 580px 2071px #fff,
    5434px 1179px #fff, 4768px 5704px #fff, 708px 221px #fff, 343px 3102px #fff,
    1258px 2766px #fff, 1497px 2619px #fff, 225px 3614px #fff,
    3881px 2716px #fff, 1938px 3795px #fff, 3617px 1395px #fff,
    1492px 3959px #fff, 5869px 792px #fff, 1489px 3226px #fff, 4973px 403px #fff,
    5112px 4020px #fff, 2351px 2394px #fff, 4813px 4037px #fff,
    2400px 1695px #fff, 3812px 4900px #fff, 5909px 2273px #fff,
    1971px 5964px #fff, 1592px 977px #fff, 2117px 4028px #fff,
    3788px 5501px #fff, 5218px 5104px #fff, 1126px 677px #fff, 1504px 414px #fff,
    1535px 1514px #fff, 2674px 3655px #fff, 1918px 1978px #fff,
    5806px 318px #fff, 4778px 4281px #fff, 4529px 1704px #fff,
    2820px 4998px #fff, 1599px 2917px #fff, 237px 4312px #fff,
    3752px 5771px #fff, 3580px 1513px #fff, 2822px 5076px #fff,
    5427px 4453px #fff, 3369px 5493px #fff, 4925px 3662px #fff,
    3571px 5732px #fff, 2603px 3083px #fff, 2514px 1042px #fff,
    4509px 2030px #fff, 701px 2166px #fff, 4860px 5305px #fff,
    3321px 3119px #fff, 2578px 3224px #fff, 3611px 447px #fff,
    5738px 4797px #fff, 598px 932px #fff, 1036px 3889px #fff, 4504px 2307px #fff,
    744px 4712px #fff, 906px 3942px #fff, 5378px 5620px #fff, 5485px 82px #fff,
    5270px 2184px #fff, 1357px 685px #fff, 5806px 5874px #fff,
    2993px 2057px #fff, 2738px 4861px #fff, 1135px 4523px #fff,
    3209px 3291px #fff, 601px 5672px #fff, 3847px 2464px #fff, 1235px 667px #fff,
    1789px 1469px #fff, 375px 3437px #fff, 2811px 1133px #fff,
    4959px 3352px #fff, 2886px 1911px #fff, 3096px 4687px #fff,
    4195px 3305px #fff, 5119px 3327px #fff, 789px 3050px #fff,
    1550px 1666px #fff, 5636px 5202px #fff, 2133px 5776px #fff, 4119px 58px #fff,
    4596px 3104px #fff, 5673px 1478px #fff, 506px 216px #fff, 1314px 2350px #fff,
    893px 4034px #fff, 472px 253px #fff, 3393px 4192px #fff, 2044px 5961px #fff,
    2024px 4668px #fff, 944px 4328px #fff, 976px 1894px #fff, 3085px 2636px #fff,
    4204px 5966px #fff, 3499px 4527px #fff, 5542px 804px #fff, 2883px 292px #fff,
    5363px 878px #fff, 1908px 3367px #fff, 2314px 1453px #fff,
    2582px 3337px #fff, 4105px 987px #fff, 2461px 4108px #fff, 590px 3749px #fff,
    1888px 3441px #fff, 1931px 689px #fff, 5528px 1407px #fff,
    1068px 5072px #fff, 3232px 4317px #fff, 983px 4097px #fff,
    5620px 3156px #fff, 4416px 5678px #fff, 5280px 3316px #fff,
    1636px 5540px #fff, 649px 4684px #fff, 5901px 4924px #fff,
    3578px 1203px #fff, 3936px 353px #fff, 5607px 5985px #fff,
    1598px 5452px #fff, 21px 139px #fff, 2907px 1141px #fff, 919px 5145px #fff,
    5783px 1181px #fff, 5442px 1731px #fff, 465px 1439px #fff,
    1276px 5307px #fff, 1157px 1945px #fff, 1981px 1095px #fff,
    1193px 1184px #fff, 4264px 3881px #fff, 1208px 2852px #fff, 3147px 77px #fff,
    284px 2554px #fff, 4515px 1621px #fff, 2226px 4665px #fff, 946px 2503px #fff,
    2520px 5066px #fff, 5212px 11px #fff, 3971px 5211px #fff, 2079px 3755px #fff,
    86px 763px #fff, 5876px 3035px #fff, 4018px 275px #fff, 5720px 4004px #fff,
    2021px 516px #fff, 3160px 5837px #fff, 5309px 4325px #fff,
    2886px 5726px #fff, 2112px 5783px #fff, 4250px 570px #fff,
    3394px 3106px #fff, 5848px 886px #fff, 4902px 2980px #fff,
    5701px 1905px #fff, 1337px 249px #fff, 573px 374px #fff, 1356px 3665px #fff,
    112px 2142px #fff, 1274px 2969px #fff, 672px 4118px #fff, 5732px 5291px #fff,
    5420px 232px #fff, 725px 2564px #fff, 3163px 2586px #fff, 3038px 1429px #fff,
    132px 340px #fff, 3664px 4450px #fff, 5718px 5006px #fff, 2370px 5515px #fff,
    2168px 2739px #fff, 1765px 3558px #fff, 614px 5160px #fff,
    2614px 1559px #fff, 1256px 264px #fff, 1275px 2421px #fff,
    5641px 5685px #fff, 3484px 2957px #fff, 3676px 5289px #fff,
    482px 2362px #fff, 1937px 3884px #fff, 2057px 1187px #fff, 47px 3131px #fff,
    2268px 2341px #fff, 1350px 5587px #fff, 5121px 389px #fff,
    2573px 3556px #fff, 631px 2275px #fff, 4862px 2418px #fff,
    2950px 3320px #fff, 2703px 4385px #fff, 786px 3677px #fff, 3186px 53px #fff,
    1038px 3078px #fff, 5594px 4370px #fff, 386px 2483px #fff,
    1729px 1641px #fff, 483px 4736px #fff, 2622px 1669px #fff,
    3651px 5892px #fff, 1562px 1146px #fff, 345px 3137px #fff,
    5544px 4243px #fff, 465px 3277px #fff, 4442px 920px #fff, 4459px 2166px #fff,
    1028px 4051px #fff, 4303px 704px #fff, 6000px 871px #fff, 3578px 3479px #fff,
    1091px 3013px #fff, 1503px 2221px #fff, 158px 1078px #fff,
    1077px 2710px #fff, 1626px 3058px #fff, 3591px 3341px #fff, 90px 2608px #fff,
    2925px 3431px #fff, 1984px 2794px #fff, 5526px 4328px #fff,
    865px 3321px #fff, 4198px 4510px #fff, 3501px 106px #fff, 5167px 4078px #fff,
    2709px 5755px #fff, 50px 3224px #fff, 5023px 2406px #fff, 4907px 4020px #fff,
    2001px 3927px #fff, 33px 1258px #fff, 2847px 4624px #fff, 2997px 3977px #fff,
    885px 3608px #fff, 777px 4046px #fff, 1622px 3178px #fff, 5017px 3090px #fff,
    3372px 5552px #fff, 1382px 5813px #fff, 5103px 4770px #fff,
    4611px 2131px #fff, 513px 2206px #fff, 2762px 1551px #fff,
    4679px 2697px #fff, 4683px 3791px #fff, 5791px 1313px #fff,
    1820px 3382px #fff, 5634px 3660px #fff, 5922px 2660px #fff,
    3068px 4763px #fff, 3518px 346px #fff, 4020px 2569px #fff,
    1365px 2580px #fff, 3186px 1793px #fff, 5521px 1595px #fff,
    3377px 1474px #fff, 92px 4682px #fff, 5986px 1655px #fff, 2712px 5191px #fff,
    3752px 1355px #fff, 5556px 2308px #fff, 3604px 5460px #fff,
    5517px 3886px #fff, 3675px 3764px #fff, 3272px 5444px #fff,
    3358px 926px #fff, 910px 5505px #fff, 2642px 1592px #fff, 2657px 2651px #fff,
    4249px 1140px #fff, 2777px 1954px #fff, 5279px 3800px #fff,
    5260px 2210px #fff, 4874px 546px #fff, 17px 1383px #fff, 4571px 2776px #fff,
    3818px 4496px #fff, 1529px 5897px #fff, 3546px 2353px #fff, 28px 5778px #fff,
    4249px 3134px #fff, 4479px 5423px #fff, 5px 831px #fff, 2510px 3191px #fff,
    2050px 985px #fff, 5615px 2300px #fff, 2831px 1331px #fff,
    1719px 5616px #fff, 294px 3772px #fff, 4553px 2860px #fff,
    4778px 1865px #fff, 4659px 5686px #fff, 4694px 2523px #fff, 653px 995px #fff,
    22px 5543px #fff, 3247px 3810px #fff, 3495px 2232px #fff, 2540px 5727px #fff,
    2710px 1299px #fff, 4702px 472px #fff, 321px 2159px #fff, 2952px 328px #fff,
    823px 1258px #fff, 425px 539px #fff, 4349px 1332px #fff, 5192px 5666px #fff,
    4475px 1930px #fff, 2848px 158px #fff, 2447px 3317px #fff,
    5441px 3355px #fff, 4203px 3646px #fff, 149px 1707px #fff,
    4571px 2486px #fff, 223px 1618px #fff, 2px 1831px #fff, 1414px 2478px #fff,
    1651px 3302px #fff, 5782px 4679px #fff, 2977px 232px #fff,
    5069px 5414px #fff, 5859px 1965px #fff, 2218px 3989px #fff,
    5467px 3767px #fff, 1796px 5637px #fff, 2447px 5398px #fff,
    5573px 4204px #fff, 104px 1375px #fff, 4703px 2242px #fff,
    2077px 2313px #fff, 316px 5957px #fff, 2475px 3062px #fff,
    2671px 5193px #fff, 3512px 4373px #fff, 2090px 4360px #fff,
    1954px 3248px #fff, 1124px 5547px #fff, 2792px 322px #fff, 814px 477px #fff,
    2504px 2905px #fff, 2114px 4171px #fff, 4021px 15px #fff, 1473px 3039px #fff,
    1477px 3304px #fff, 3383px 587px #fff, 5369px 4932px #fff,
    3336px 3186px #fff, 5477px 5059px #fff, 1939px 5526px #fff,
    2199px 4911px #fff, 1714px 4445px #fff, 5322px 509px #fff,
    2638px 2566px #fff, 4914px 364px #fff, 355px 3487px #fff, 4962px 425px #fff,
    3630px 4837px #fff, 231px 2070px #fff, 4733px 196px #fff, 4603px 643px #fff,
    5627px 3449px #fff, 2048px 5213px #fff, 3539px 3190px #fff,
    2849px 4631px #fff, 1768px 624px #fff, 3234px 4672px #fff,
    1974px 1970px #fff, 3498px 794px #fff, 27px 1989px #fff, 5638px 5590px #fff,
    890px 2071px #fff, 3582px 4206px #fff, 5777px 98px #fff, 5680px 3563px #fff,
    2716px 3338px #fff, 5164px 3739px #fff, 135px 3474px #fff,
    4590px 1047px #fff, 4616px 2531px #fff, 3139px 989px #fff,
    3274px 1785px #fff, 4093px 1325px #fff, 5587px 2159px #fff,
    471px 4389px #fff, 3889px 4563px #fff, 2638px 3949px #fff,
    5347px 1620px #fff, 5593px 1425px #fff, 5077px 2543px #fff,
    3495px 3808px #fff, 2764px 1511px #fff, 5160px 4025px #fff,
    4935px 1586px #fff, 4077px 3437px #fff, 2889px 2014px #fff,
    4046px 1478px #fff, 1856px 1105px #fff, 2633px 2534px #fff,
    3807px 2732px #fff, 2155px 177px #fff, 3858px 4450px #fff,
    5371px 3176px #fff, 477px 5339px #fff, 5031px 5066px #fff,
    1241px 4279px #fff, 1652px 2626px #fff, 4023px 3300px #fff,
    2533px 4657px #fff, 337px 3803px #fff, 523px 3917px #fff, 2010px 5625px #fff,
    5633px 5957px #fff, 1364px 2898px #fff, 942px 4688px #fff,
    5796px 5575px #fff, 4452px 2298px #fff, 415px 3846px #fff,
    2364px 3577px #fff, 1906px 762px #fff, 3172px 2836px #fff,
    5836px 3094px #fff, 176px 4468px #fff, 813px 419px #fff, 2647px 2537px #fff,
    814px 3710px #fff, 4377px 4361px #fff, 2567px 5923px #fff,
    4267px 3649px #fff, 1411px 16px #fff, 5769px 1611px #fff, 4729px 1691px #fff,
    1756px 2296px #fff, 2152px 5079px #fff, 4664px 5177px #fff,
    2764px 3866px #fff, 700px 4955px #fff, 5814px 224px #fff, 5746px 377px #fff,
    4876px 4469px #fff, 421px 2783px #fff, 5573px 2562px #fff,
    4926px 4762px #fff, 2197px 1904px #fff, 5914px 5947px #fff, 62px 3202px #fff,
    574px 4448px #fff, 1903px 5363px #fff, 5128px 5663px #fff,
    5675px 5873px #fff, 3694px 918px #fff, 4313px 5214px #fff,
    3884px 5167px #fff, 2797px 1642px #fff, 2301px 522px #fff,
    5579px 3952px #fff, 3501px 2300px #fff, 1919px 46px #fff, 5407px 2778px #fff,
    3202px 3603px #fff, 4941px 2015px #fff, 512px 2883px #fff,
    4572px 5496px #fff, 2484px 4852px #fff, 599px 2210px #fff,
    5865px 3580px #fff, 539px 5745px #fff, 794px 2288px #fff, 3895px 2134px #fff,
    1346px 3226px #fff, 745px 23px #fff, 2676px 1432px #fff, 1911px 2369px #fff,
    4487px 4829px #fff, 5720px 1618px #fff, 3876px 2609px #fff,
    5610px 5998px #fff, 5742px 5408px #fff, 3491px 1490px #fff,
    1387px 4233px #fff, 3546px 2783px #fff, 5383px 2684px #fff,
    2445px 5724px #fff, 1265px 4196px #fff, 1242px 77px #fff, 1912px 4967px #fff,
    5131px 1682px #fff, 2899px 4785px #fff, 135px 2527px #fff, 2428px 743px #fff,
    4048px 965px #fff, 3053px 4339px #fff, 982px 4210px #fff, 325px 1692px #fff,
    5796px 4119px #fff, 3409px 4585px #fff, 1532px 980px #fff, 2213px 850px #fff,
    2388px 4453px #fff, 19px 1463px #fff, 4441px 5927px #fff, 4950px 3470px #fff,
    1374px 1037px #fff, 1560px 4774px #fff, 1601px 4749px #fff,
    5511px 5347px #fff, 20px 1757px #fff, 3837px 2053px #fff, 1515px 1800px #fff,
    5960px 5530px #fff, 4289px 507px #fff, 5963px 907px #fff, 4984px 102px #fff,
    3467px 2474px #fff, 5532px 2141px #fff, 1411px 700px #fff, 430px 3266px #fff,
    3323px 1761px #fff, 108px 112px #fff, 3077px 5149px #fff, 4899px 549px #fff,
    1632px 4725px #fff, 5703px 1363px #fff, 1658px 3505px #fff, 2933px 53px #fff,
    4691px 320px #fff, 4467px 460px #fff, 325px 955px #fff, 4410px 433px #fff,
    4400px 5403px #fff, 3878px 4431px #fff, 3093px 2903px #fff,
    3056px 5651px #fff, 3435px 3595px #fff, 393px 4415px #fff, 823px 5647px #fff,
    2877px 2091px #fff, 4428px 1431px #fff, 5503px 4398px #fff, 797px 19px #fff,
    2693px 4254px #fff, 5692px 5546px #fff, 4928px 750px #fff,
    5282px 3671px #fff, 2880px 2890px #fff, 2000px 5429px #fff,
    3111px 3888px #fff, 4874px 2923px #fff, 5914px 2218px #fff,
    4600px 5469px #fff, 3212px 4212px #fff, 4404px 5672px #fff,
    4390px 3968px #fff, 5321px 1283px #fff, 5499px 2249px #fff, 2213px 96px #fff,
    5811px 5075px #fff, 837px 5440px #fff, 5385px 3275px #fff,
    3797px 5152px #fff, 2655px 745px #fff, 2825px 715px #fff, 2776px 5649px #fff,
    2671px 3395px #fff, 592px 4490px #fff, 1208px 813px #fff, 2341px 3829px #fff,
    14px 4580px #fff, 5811px 5543px #fff, 597px 318px #fff, 1281px 5962px #fff,
    1030px 301px #fff, 3937px 2863px #fff, 1147px 3217px #fff, 2663px 75px #fff,
    2469px 688px #fff, 544px 1432px #fff, 854px 237px #fff, 3441px 1160px #fff,
    3072px 126px #fff, 1255px 289px #fff, 1192px 5798px #fff, 2333px 4975px #fff,
    686px 1830px #fff, 5636px 3422px #fff, 3652px 442px #fff, 3747px 3409px #fff,
    1350px 2473px #fff, 224px 5183px #fff, 200px 4374px #fff, 1645px 1545px #fff,
    1916px 2053px #fff, 1558px 4742px #fff, 5184px 5061px #fff,
    264px 1018px #fff, 2484px 5829px #fff, 5857px 1915px #fff,
    2837px 5383px #fff, 3846px 705px #fff, 120px 5143px #fff, 3132px 3763px #fff,
    3745px 1315px #fff, 11px 3997px #fff, 2843px 1365px #fff, 3974px 2295px #fff,
    4782px 5968px #fff, 4716px 5670px #fff, 3020px 2292px #fff,
    1490px 4583px #fff, 1300px 5551px #fff, 1168px 5858px #fff,
    728px 2681px #fff, 2102px 90px #fff, 2914px 5689px #fff, 4676px 4976px #fff,
    5816px 1659px #fff, 3581px 5619px #fff, 3132px 883px #fff;
}

div.stars_medium {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  animation: parallax 180s linear infinite;
  box-shadow: 317px 5695px #fff, 1413px 5752px #fff, 858px 2611px #fff,
    3927px 1754px #fff, 3024px 4972px #fff, 3816px 1466px #fff,
    5168px 4275px #fff, 1536px 2975px #fff, 5132px 2366px #fff,
    4161px 2741px #fff, 4370px 5435px #fff, 3832px 3098px #fff,
    3725px 1654px #fff, 1269px 3396px #fff, 3459px 1667px #fff,
    1700px 3829px #fff, 5891px 674px #fff, 623px 601px #fff, 783px 3478px #fff,
    877px 1677px #fff, 327px 4593px #fff, 791px 1304px #fff, 5341px 1809px #fff,
    5719px 5067px #fff, 4778px 5100px #fff, 4947px 5259px #fff,
    1256px 2430px #fff, 4567px 412px #fff, 3974px 1960px #fff,
    4772px 3790px #fff, 1094px 126px #fff, 5005px 2391px #fff,
    2118px 5449px #fff, 3586px 4663px #fff, 1985px 3293px #fff,
    4679px 4452px #fff, 168px 2668px #fff, 2115px 5283px #fff,
    3307px 5812px #fff, 3018px 4776px #fff, 1675px 3090px #fff,
    4202px 2632px #fff, 1513px 4541px #fff, 3360px 2480px #fff,
    4642px 2167px #fff, 3613px 1698px #fff, 438px 3230px #fff,
    4112px 5167px #fff, 4378px 998px #fff, 5300px 4055px #fff,
    4097px 1562px #fff, 4639px 1090px #fff, 66px 546px #fff, 970px 1700px #fff,
    2924px 2426px #fff, 4921px 3242px #fff, 2090px 2011px #fff,
    1855px 4307px #fff, 5160px 919px #fff, 5119px 1304px #fff, 300px 2223px #fff,
    2647px 5182px #fff, 3394px 5039px #fff, 3080px 3664px #fff,
    5986px 5107px #fff, 4788px 4032px #fff, 5743px 5696px #fff,
    3026px 395px #fff, 3783px 2075px #fff, 3766px 4217px #fff,
    3638px 3759px #fff, 1052px 3579px #fff, 4746px 4847px #fff,
    5488px 5829px #fff, 109px 5840px #fff, 5440px 732px #fff, 1317px 214px #fff,
    849px 5299px #fff, 3900px 4635px #fff, 2210px 5382px #fff,
    1738px 4024px #fff, 539px 5372px #fff, 545px 2185px #fff, 1126px 4324px #fff,
    1857px 2009px #fff, 1837px 2907px #fff, 2274px 3692px #fff,
    4116px 4099px #fff, 1182px 3461px #fff, 1954px 3556px #fff,
    3137px 2157px #fff, 5086px 1243px #fff, 5208px 5418px #fff,
    765px 5096px #fff, 349px 564px #fff, 31px 5339px #fff, 5243px 5256px #fff,
    2250px 4101px #fff, 2818px 3411px #fff, 2740px 5399px #fff,
    2584px 1030px #fff, 190px 3908px #fff, 1623px 2400px #fff,
    4326px 3896px #fff, 4210px 5974px #fff, 463px 1738px #fff,
    4974px 1684px #fff, 1215px 183px #fff, 2499px 279px #fff, 5226px 5078px #fff,
    3849px 5869px #fff, 5697px 3344px #fff, 5531px 169px #fff, 848px 5700px #fff,
    2946px 4557px #fff, 5203px 5288px #fff, 282px 4836px #fff,
    3671px 4987px #fff, 1462px 3421px #fff, 558px 4981px #fff,
    3232px 2392px #fff, 109px 4819px #fff, 3147px 1150px #fff,
    5088px 4939px #fff, 956px 4654px #fff, 4247px 614px #fff, 2629px 106px #fff,
    5978px 3023px #fff, 3257px 1601px #fff, 3319px 1702px #fff,
    5057px 3893px #fff, 1609px 2232px #fff, 3147px 3917px #fff,
    849px 2807px #fff, 1302px 381px #fff, 2845px 2730px #fff, 564px 1203px #fff,
    3455px 4141px #fff, 4624px 3700px #fff, 2972px 3318px #fff,
    5967px 2726px #fff, 3205px 5272px #fff, 3551px 540px #fff,
    2993px 3623px #fff, 4806px 2346px #fff, 3680px 135px #fff,
    2182px 1557px #fff, 4725px 5442px #fff, 1860px 3484px #fff,
    2026px 2424px #fff, 3613px 696px #fff, 684px 3883px #fff, 1203px 2280px #fff,
    4298px 2648px #fff, 2383px 5547px #fff, 751px 4839px #fff,
    4886px 5509px #fff, 3576px 4554px #fff, 2159px 4183px #fff,
    698px 1246px #fff, 5810px 2113px #fff, 1520px 4636px #fff,
    1076px 3193px #fff, 2686px 5836px #fff, 2489px 3040px #fff,
    626px 2188px #fff, 5676px 2622px #fff, 4290px 5311px #fff,
    2569px 2145px #fff, 3459px 4736px #fff, 1949px 5487px #fff,
    4894px 5382px #fff, 743px 4855px #fff, 1495px 5284px #fff,
    5639px 2101px #fff, 5933px 775px #fff, 1811px 5691px #fff,
    4854px 4860px #fff, 1370px 3121px #fff, 5334px 351px #fff,
    4481px 5957px #fff, 3893px 5041px #fff, 5965px 5315px #fff,
    838px 5656px #fff, 206px 64px #fff, 1759px 1688px #fff, 981px 506px #fff,
    2446px 1828px #fff, 5268px 3335px #fff, 5272px 5940px #fff,
    420px 3078px #fff, 1817px 3603px #fff, 113px 5872px #fff, 3460px 4208px #fff,
    2797px 921px #fff, 3579px 5031px #fff, 2483px 1184px #fff,
    4971px 5892px #fff, 1050px 5855px #fff, 2393px 3326px #fff,
    815px 5739px #fff, 2329px 349px #fff, 289px 4432px #fff, 1153px 434px #fff,
    921px 1552px #fff, 4444px 5920px #fff, 254px 1551px #fff, 4290px 3070px #fff,
    3737px 2097px #fff, 1488px 2171px #fff, 2491px 1689px #fff,
    153px 4211px #fff, 2443px 4768px #fff, 5439px 2202px #fff,
    1941px 4348px #fff, 1068px 4228px #fff, 1239px 4838px #fff,
    5935px 5411px #fff, 4638px 1896px #fff, 5368px 1426px #fff,
    2993px 2321px #fff, 914px 3820px #fff, 5699px 3319px #fff,
    2598px 4845px #fff, 2417px 3397px #fff, 4088px 746px #fff,
    1289px 3178px #fff, 627px 1752px #fff, 1625px 5599px #fff,
    2366px 5003px #fff, 4263px 54px #fff, 2671px 2388px #fff, 1864px 1985px #fff,
    3655px 2124px #fff, 4108px 42px #fff, 5443px 2997px #fff, 4333px 2231px #fff,
    2212px 233px #fff, 4541px 1155px #fff, 5107px 1903px #fff,
    5594px 4874px #fff, 2275px 5021px #fff, 2626px 2040px #fff,
    1852px 4333px #fff, 235px 2671px #fff, 5636px 4901px #fff,
    3050px 3813px #fff, 3470px 2319px #fff, 3073px 2648px #fff,
    4174px 5498px #fff, 1105px 753px #fff, 5242px 588px #fff, 2115px 5980px #fff,
    4070px 111px #fff, 5098px 5978px #fff, 5954px 3022px #fff, 1858px 660px #fff,
    4343px 5552px #fff, 2637px 5455px #fff, 490px 5480px #fff,
    4091px 1032px #fff, 4136px 135px #fff, 4959px 3692px #fff, 653px 4047px #fff,
    3890px 3301px #fff, 5910px 4133px #fff, 2540px 3437px #fff,
    2185px 991px #fff, 3184px 5251px #fff, 5247px 1507px #fff, 532px 1838px #fff,
    1152px 3488px #fff, 3381px 3713px #fff, 2345px 3340px #fff,
    3013px 4732px #fff, 678px 5399px #fff, 49px 5511px #fff, 4181px 5284px #fff,
    4463px 2701px #fff, 4328px 4392px #fff, 26px 2230px #fff, 4765px 3215px #fff,
    3630px 264px #fff, 542px 3087px #fff, 4521px 4084px #fff, 4870px 2521px #fff,
    5319px 2652px #fff, 758px 3683px #fff, 1141px 4994px #fff,
    4790px 4739px #fff, 5184px 4070px #fff, 1252px 5384px #fff,
    3811px 2818px #fff, 3200px 3997px #fff, 1710px 2594px #fff,
    5164px 1613px #fff, 3034px 2224px #fff, 3786px 4456px #fff,
    5222px 4438px #fff, 5469px 5477px #fff, 3583px 5570px #fff,
    2903px 2335px #fff, 3799px 5212px #fff, 3043px 3449px #fff, 595px 528px #fff,
    2961px 1448px #fff, 4491px 5305px #fff, 2486px 4791px #fff,
    4062px 544px #fff, 1487px 2294px #fff, 3591px 610px #fff, 3191px 144px #fff,
    4898px 1790px #fff, 1810px 2698px #fff, 689px 1461px #fff, 3432px 515px #fff,
    4510px 27px #fff, 1230px 1682px #fff, 3547px 5848px #fff, 57px 4929px #fff,
    37px 4208px #fff, 2446px 4723px #fff, 2781px 1114px #fff, 148px 220px #fff,
    2250px 5910px #fff, 1579px 5699px #fff, 2301px 1327px #fff,
    835px 2303px #fff, 4707px 4674px #fff, 3110px 1180px #fff, 100px 4629px #fff,
    5989px 4564px #fff, 3535px 4461px #fff, 4065px 257px #fff,
    3121px 5062px #fff, 2072px 699px #fff, 2507px 69px #fff, 3705px 2918px #fff,
    3197px 4623px #fff, 3177px 1264px #fff, 128px 3261px #fff, 1028px 696px #fff,
    2155px 2291px #fff, 2120px 3509px #fff, 2428px 756px #fff, 1179px 319px #fff,
    176px 3905px #fff, 1748px 1767px #fff, 1911px 3888px #fff,
    1417px 4375px #fff, 667px 2513px #fff, 4464px 1407px #fff,
    4368px 5884px #fff, 3513px 2949px #fff, 619px 2355px #fff,
    3143px 4218px #fff, 3715px 4306px #fff, 5416px 1065px #fff,
    1026px 5169px #fff, 781px 5463px #fff, 1812px 1938px #fff, 36px 5532px #fff,
    1062px 1789px #fff, 4859px 5058px #fff, 2023px 350px #fff,
    4263px 3991px #fff, 4417px 5071px #fff, 4145px 2328px #fff,
    1549px 3445px #fff, 3004px 4130px #fff, 1444px 4434px #fff,
    2415px 3795px #fff, 5000px 3164px #fff, 4482px 5123px #fff,
    5729px 3246px #fff, 5861px 4383px #fff, 5123px 5456px #fff,
    314px 4490px #fff, 4305px 3235px #fff, 1545px 3684px #fff, 5869px 895px #fff,
    3065px 137px #fff, 784px 5900px #fff, 3337px 1215px #fff, 1303px 2347px #fff,
    5064px 1306px #fff, 4451px 4887px #fff, 4450px 4314px #fff,
    1648px 5909px #fff, 1469px 1592px #fff, 253px 2563px #fff, 484px 3091px #fff,
    3702px 455px #fff, 411px 210px #fff, 1219px 868px #fff, 4711px 1200px #fff,
    1813px 181px #fff, 3035px 1718px #fff, 3967px 3954px #fff,
    5940px 4541px #fff, 2303px 1676px #fff, 565px 5560px #fff,
    5329px 3748px #fff, 5340px 5209px #fff, 2688px 2342px #fff,
    1876px 5300px #fff, 805px 5153px #fff, 4723px 4048px #fff, 1078px 837px #fff,
    5663px 5623px #fff, 3364px 5668px #fff, 2507px 4473px #fff,
    5746px 5215px #fff, 3991px 5203px #fff, 4672px 4271px #fff,
    684px 1426px #fff, 5410px 2954px #fff, 1224px 5668px #fff, 5019px 560px #fff,
    2745px 3671px #fff, 5119px 2708px #fff, 525px 5490px #fff,
    2025px 4261px #fff, 5016px 3722px #fff, 235px 759px #fff, 370px 5890px #fff,
    3006px 2989px #fff, 759px 2267px #fff, 4260px 5123px #fff,
    3753px 3708px #fff, 5689px 3933px #fff, 2944px 1170px #fff,
    5479px 2936px #fff, 5880px 5665px #fff, 1924px 3773px #fff, 41px 5444px #fff,
    1281px 625px #fff, 533px 1221px #fff, 3836px 633px #fff, 5157px 5864px #fff,
    3740px 2834px #fff, 1727px 2290px #fff, 5309px 4594px #fff,
    1428px 4639px #fff, 5559px 5241px #fff, 2027px 3097px #fff,
    1639px 1598px #fff, 2072px 1798px #fff, 5736px 5368px #fff,
    4539px 4536px #fff, 2588px 4425px #fff, 3786px 625px #fff, 5692px 227px #fff,
    5463px 5695px #fff, 1954px 169px #fff, 1848px 4425px #fff,
    2600px 2341px #fff, 1256px 4522px #fff, 2078px 1253px #fff,
    2982px 4182px #fff, 2543px 5621px #fff, 1312px 1169px #fff,
    4413px 153px #fff, 3291px 4364px #fff, 3749px 2559px #fff,
    2168px 3545px #fff, 1526px 844px #fff, 246px 3492px #fff, 2570px 1544px #fff,
    2911px 1129px #fff, 3797px 1608px #fff, 5045px 4813px #fff,
    3797px 3383px #fff, 806px 4575px #fff, 5069px 4648px #fff,
    5084px 4542px #fff, 954px 4604px #fff, 2550px 4868px #fff, 5398px 842px #fff,
    2006px 5901px #fff, 2320px 5536px #fff, 3320px 2618px #fff,
    2213px 1006px #fff, 5404px 5569px #fff, 5159px 275px #fff,
    2667px 3011px #fff, 3100px 5502px #fff, 3935px 4004px #fff, 971px 509px #fff,
    4182px 5401px #fff, 4285px 4606px #fff, 2621px 4250px #fff,
    1508px 4940px #fff, 4096px 5058px #fff, 2329px 5951px #fff,
    1022px 291px #fff, 4359px 2331px #fff, 4302px 998px #fff, 2594px 398px #fff,
    4445px 80px #fff, 3397px 2093px #fff, 5905px 1542px #fff, 5554px 1052px #fff,
    2744px 494px #fff, 5885px 4117px #fff, 5704px 4216px #fff,
    5832px 3528px #fff, 4482px 3337px #fff, 4603px 202px #fff,
    4871px 2655px #fff, 3772px 1772px #fff, 5581px 4924px #fff, 2409px 48px #fff,
    3px 1339px #fff, 1842px 4888px #fff, 1875px 4188px #fff, 4754px 4382px #fff,
    5783px 575px #fff, 1717px 2064px #fff, 632px 2634px #fff, 5901px 5555px #fff,
    2233px 46px #fff, 5523px 1926px #fff, 1493px 535px #fff, 2589px 3048px #fff,
    1280px 2535px #fff, 3848px 1558px #fff, 1692px 2855px #fff,
    3822px 3923px #fff, 3635px 4836px #fff, 4100px 3512px #fff,
    3733px 4650px #fff, 3006px 3941px #fff, 3805px 3403px #fff,
    5021px 3208px #fff, 1254px 5796px #fff, 4070px 3341px #fff,
    4250px 820px #fff, 3395px 2318px #fff, 384px 691px #fff, 2876px 1848px #fff,
    380px 2021px #fff, 1020px 3465px #fff, 48px 521px #fff, 1174px 826px #fff,
    3121px 3312px #fff, 1048px 1410px #fff, 4698px 4815px #fff, 436px 349px #fff,
    4201px 4288px #fff, 3781px 3980px #fff, 2475px 5748px #fff,
    4968px 2992px #fff, 2155px 860px #fff, 4819px 4516px #fff,
    5741px 3006px #fff, 2076px 5654px #fff, 3903px 4849px #fff,
    4194px 3886px #fff, 1524px 4647px #fff, 4778px 1656px #fff,
    3530px 242px #fff, 4295px 2837px #fff, 1533px 332px #fff, 3999px 5157px #fff,
    1822px 2097px #fff, 3740px 2521px #fff, 1318px 1512px #fff,
    5883px 786px #fff, 1648px 2748px #fff, 4435px 2601px #fff,
    3642px 3739px #fff, 5070px 4088px #fff, 627px 3354px #fff,
    5607px 2426px #fff, 163px 856px #fff, 565px 3431px #fff, 5998px 523px #fff,
    3669px 3013px #fff, 1369px 4419px #fff, 192px 4429px #fff,
    3722px 4434px #fff, 515px 1881px #fff, 857px 3925px #fff, 9px 4826px #fff,
    4084px 4667px #fff, 1029px 2108px #fff, 5401px 3320px #fff,
    1773px 1651px #fff, 795px 2642px #fff, 4226px 3733px #fff,
    2086px 3490px #fff, 4951px 3030px #fff, 5877px 535px #fff, 20px 1335px #fff,
    889px 3213px #fff, 4268px 5836px #fff, 1906px 2951px #fff,
    4202px 4344px #fff, 5333px 2439px #fff;
}

div.stars_large {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  animation: parallax 120s linear infinite;
  box-shadow: 173px 936px #fff, 3525px 2100px #fff, 4399px 5277px #fff,
    2194px 3207px #fff, 4079px 440px #fff, 2478px 1461px #fff,
    3704px 1493px #fff, 2854px 4604px #fff, 5213px 2574px #fff,
    4310px 3675px #fff, 5398px 4682px #fff, 3691px 272px #fff,
    2494px 2293px #fff, 5658px 4078px #fff, 1640px 4301px #fff,
    1812px 783px #fff, 3422px 1244px #fff, 4685px 2232px #fff, 5604px 439px #fff,
    2389px 592px #fff, 3494px 5926px #fff, 3003px 811px #fff, 752px 4252px #fff,
    31px 1568px #fff, 1997px 2359px #fff, 134px 3651px #fff, 3581px 3208px #fff,
    3385px 1606px #fff, 4535px 663px #fff, 745px 1872px #fff, 645px 3437px #fff,
    201px 1215px #fff, 5048px 665px #fff, 5530px 182px #fff, 737px 3626px #fff,
    248px 4194px #fff, 2669px 4450px #fff, 3951px 2515px #fff,
    1090px 5574px #fff, 1584px 768px #fff, 1747px 261px #fff, 2989px 4547px #fff,
    5790px 4818px #fff, 1331px 392px #fff, 879px 3027px #fff, 3336px 1451px #fff,
    4710px 4284px #fff, 5073px 1916px #fff, 2981px 732px #fff, 787px 4494px #fff,
    4875px 5438px #fff, 5765px 117px #fff, 294px 3900px #fff, 157px 4182px #fff,
    5034px 1717px #fff, 5071px 3776px #fff, 3231px 3908px #fff,
    3559px 2252px #fff, 4994px 3614px #fff, 3659px 1528px #fff,
    5438px 4574px #fff, 1727px 2508px #fff, 3490px 5977px #fff,
    2733px 697px #fff, 3936px 1363px #fff, 1571px 164px #fff, 2119px 1175px #fff,
    1533px 5618px #fff, 3016px 2694px #fff, 3334px 1169px #fff,
    2245px 3409px #fff, 2978px 4789px #fff, 4102px 4128px #fff, 4575px 5px #fff,
    1593px 1341px #fff, 4815px 5679px #fff, 3476px 377px #fff, 1006px 93px #fff,
    5551px 4391px #fff, 2779px 338px #fff, 1038px 1149px #fff,
    4712px 1179px #fff, 718px 2436px #fff, 5416px 3866px #fff,
    2679px 4326px #fff, 1164px 2425px #fff, 448px 786px #fff, 139px 2491px #fff,
    1793px 4816px #fff, 235px 550px #fff, 2953px 5432px #fff, 5641px 2543px #fff,
    5207px 1096px #fff, 336px 3814px #fff, 680px 1533px #fff, 3394px 969px #fff,
    3892px 4733px #fff, 614px 1549px #fff, 1143px 1417px #fff,
    1923px 1620px #fff, 225px 1032px #fff, 2579px 5552px #fff, 5791px 766px #fff,
    2062px 2188px #fff, 3404px 603px #fff, 3996px 527px #fff, 1232px 4943px #fff,
    4074px 852px #fff, 2853px 944px #fff, 5716px 4282px #fff, 1160px 1963px #fff,
    298px 112px #fff, 5498px 5952px #fff, 5204px 5715px #fff, 4693px 1839px #fff,
    5201px 1040px #fff, 4205px 3516px #fff, 1143px 2206px #fff,
    4104px 3150px #fff, 4775px 4308px #fff, 2904px 2314px #fff,
    5789px 234px #fff, 714px 5768px #fff, 3374px 435px #fff, 4358px 4161px #fff,
    4693px 5293px #fff, 5944px 1765px #fff, 1351px 1414px #fff,
    362px 1006px #fff, 2321px 1392px #fff, 3771px 1448px #fff,
    5198px 3910px #fff, 1992px 2264px #fff, 5598px 3207px #fff,
    5428px 2703px #fff, 3839px 4246px #fff, 3569px 3757px #fff,
    5527px 5057px #fff, 5803px 3960px #fff, 4612px 1006px #fff,
    624px 1988px #fff, 4530px 1765px #fff, 1479px 1852px #fff,
    3526px 2583px #fff, 5183px 3771px #fff, 5602px 923px #fff, 3557px 176px #fff,
    5728px 2403px #fff, 1552px 4125px #fff, 5298px 5701px #fff,
    1850px 2138px #fff, 5163px 4590px #fff, 4569px 3851px #fff,
    2320px 4224px #fff, 1777px 3159px #fff, 1924px 1268px #fff,
    2346px 857px #fff, 3388px 2140px #fff, 1098px 1552px #fff,
    4443px 2871px #fff, 3646px 5630px #fff, 5843px 4486px #fff,
    1838px 2131px #fff, 3853px 949px #fff, 1666px 2235px #fff,
    1791px 3227px #fff, 1059px 2004px #fff, 4735px 4947px #fff,
    5255px 4574px #fff, 2930px 3534px #fff, 319px 1200px #fff,
    1459px 5193px #fff, 2814px 5330px #fff, 2246px 4483px #fff,
    4249px 5648px #fff, 5381px 191px #fff, 4533px 1708px #fff, 1128px 410px #fff,
    3278px 2560px #fff, 4876px 359px #fff, 5631px 3658px #fff, 756px 5963px #fff,
    3418px 5460px #fff, 576px 3485px #fff, 5059px 577px #fff, 2654px 4765px #fff,
    370px 469px #fff, 3359px 4949px #fff, 2172px 4555px #fff, 1744px 3538px #fff,
    5823px 3276px #fff, 3783px 1932px #fff, 643px 1572px #fff,
    4160px 5928px #fff, 8px 5974px #fff, 2804px 2605px #fff, 5808px 5614px #fff,
    1647px 5048px #fff, 4168px 691px #fff, 3692px 457px #fff, 4880px 3239px #fff,
    3260px 1592px #fff, 2634px 500px #fff, 3902px 1752px #fff,
    1282px 4464px #fff, 3825px 3051px #fff, 2923px 4946px #fff,
    5373px 626px #fff, 2654px 1838px #fff, 4838px 5394px #fff, 5594px 35px #fff,
    1835px 1985px #fff, 3305px 2547px #fff, 3185px 3375px #fff,
    3249px 5882px #fff, 4249px 4863px #fff, 5732px 5610px #fff,
    4130px 5532px #fff, 371px 2185px #fff, 2837px 3963px #fff,
    3991px 1723px #fff, 3534px 4381px #fff, 2440px 1502px #fff,
    2489px 1842px #fff, 3482px 1223px #fff, 4589px 2103px #fff,
    1551px 841px #fff, 4228px 588px #fff, 1167px 1315px #fff, 2818px 1521px #fff,
    4998px 5903px #fff, 1909px 910px #fff, 2921px 4016px #fff,
    5893px 2889px #fff, 5746px 2586px #fff, 670px 3059px #fff,
    2933px 3363px #fff, 291px 5168px #fff, 2819px 3875px #fff,
    5669px 5954px #fff, 3053px 1862px #fff, 2575px 5005px #fff,
    4385px 1112px #fff, 2223px 4456px #fff, 551px 222px #fff, 4674px 4886px #fff,
    1990px 4613px #fff, 2526px 2337px #fff, 4348px 4429px #fff,
    1765px 5907px #fff, 130px 324px #fff, 4640px 1751px #fff, 1641px 3453px #fff,
    2761px 2159px #fff, 2462px 5788px #fff, 1179px 3336px #fff,
    5945px 3999px #fff, 3894px 4012px #fff, 812px 5549px #fff,
    5347px 2253px #fff, 1869px 3350px #fff, 4681px 3625px #fff,
    3378px 3382px #fff, 4348px 3648px #fff, 3268px 1496px #fff, 16px 3627px #fff,
    5761px 5460px #fff, 3987px 5609px #fff, 319px 2915px #fff,
    4486px 1228px #fff, 1566px 2218px #fff, 109px 1327px #fff,
    2317px 5180px #fff, 2664px 1190px #fff, 3160px 5696px #fff,
    5591px 5773px #fff, 2288px 1422px #fff, 2341px 5310px #fff,
    5928px 2852px #fff, 2245px 5665px #fff, 2721px 4607px #fff,
    1112px 2143px #fff, 2594px 4059px #fff, 4096px 1886px #fff,
    2017px 4885px #fff, 2603px 3256px #fff, 2724px 3304px #fff,
    3806px 3184px #fff, 3970px 1722px #fff, 2075px 2167px #fff,
    1681px 5949px #fff, 1665px 344px #fff, 4647px 5517px #fff, 4390px 552px #fff,
    2668px 1427px #fff, 631px 1276px #fff, 2163px 3366px #fff,
    5852px 4620px #fff, 2685px 1377px #fff, 4601px 3247px #fff, 495px 75px #fff,
    4830px 4636px #fff, 1204px 2933px #fff, 4805px 3773px #fff,
    1881px 986px #fff, 4754px 876px #fff, 2934px 4482px #fff, 4599px 1330px #fff,
    1903px 2568px #fff, 4479px 952px #fff, 1546px 4403px #fff,
    2853px 2420px #fff, 831px 1597px #fff, 2401px 3803px #fff, 1391px 305px #fff,
    4982px 1064px #fff, 2194px 3452px #fff, 3958px 2531px #fff,
    4193px 1217px #fff, 2841px 3327px #fff, 5054px 1036px #fff,
    3560px 3479px #fff, 4170px 4726px #fff, 5367px 439px #fff,
    2557px 4650px #fff, 2741px 3450px #fff, 2700px 5016px #fff,
    3512px 1872px #fff, 521px 4403px #fff, 2929px 5561px #fff,
    5374px 4636px #fff, 1451px 2598px #fff, 4316px 4131px #fff,
    3931px 978px #fff, 351px 524px #fff, 3471px 5228px #fff, 87px 5212px #fff,
    3542px 5990px #fff, 5466px 3222px #fff, 4620px 1694px #fff,
    2985px 3524px #fff, 2534px 462px #fff, 893px 886px #fff, 5647px 2579px #fff,
    4634px 1117px #fff, 2925px 3194px #fff, 4374px 1243px #fff,
    1677px 3954px #fff, 4241px 4724px #fff, 643px 3258px #fff,
    4206px 2354px #fff, 3851px 2934px #fff, 5302px 4139px #fff,
    4924px 351px #fff, 3px 2227px #fff, 3020px 5969px #fff, 4035px 2093px #fff,
    1414px 2491px #fff, 3318px 4277px #fff, 5605px 5314px #fff,
    1530px 5707px #fff, 3384px 3063px #fff, 3447px 4592px #fff,
    5542px 531px #fff, 5246px 2519px #fff, 2322px 689px #fff, 3603px 4239px #fff,
    5695px 2044px #fff, 5023px 2949px #fff, 1011px 484px #fff,
    1631px 3888px #fff, 5907px 3044px #fff, 2586px 4211px #fff,
    5600px 245px #fff, 2926px 5707px #fff, 1851px 2912px #fff,
    2573px 1611px #fff, 2649px 5214px #fff, 1356px 4376px #fff,
    5779px 1138px #fff, 2959px 610px #fff, 1607px 5802px #fff,
    2251px 1765px #fff, 5168px 961px #fff, 4087px 5809px #fff,
    4189px 1813px #fff, 4424px 763px #fff, 3684px 4319px #fff, 4363px 66px #fff,
    383px 4351px #fff, 4102px 3288px #fff, 2497px 3985px #fff,
    1078px 3372px #fff, 5876px 3155px #fff, 3446px 5140px #fff,
    3987px 1314px #fff, 2507px 5997px #fff, 2915px 3240px #fff,
    1254px 3263px #fff, 4781px 615px #fff;
}
