@keyframes parallax {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6000px);
  }
}

div.stars_small {
  width: 1px;
  height: 1px;
  border-radius: 1px;
  animation: parallax 120s linear infinite;
  box-shadow: 946px 2798px #fff, 332px 4554px #fff, 581px 112px #fff,
    668px 5390px #fff, 1522px 4396px #fff, 1325px 4137px #fff,
    1952px 5981px #fff, 1405px 5866px #fff, 656px 2953px #fff,
    1654px 4804px #fff, 837px 1884px #fff, 189px 3743px #fff, 1075px 3514px #fff,
    215px 3030px #fff, 385px 4148px #fff, 1651px 2357px #fff, 8px 3301px #fff,
    354px 113px #fff, 112px 5385px #fff, 1172px 3634px #fff, 1865px 4956px #fff,
    130px 3150px #fff, 1280px 4604px #fff, 1792px 4416px #fff,
    1452px 5032px #fff, 1156px 3537px #fff, 1374px 2766px #fff, 1239px 96px #fff,
    272px 5076px #fff, 821px 486px #fff, 1539px 5635px #fff, 1983px 3425px #fff,
    1404px 5926px #fff, 776px 3816px #fff, 229px 2441px #fff, 1050px 4036px #fff,
    445px 3794px #fff, 292px 1219px #fff, 519px 2263px #fff, 380px 4352px #fff,
    928px 1791px #fff, 172px 1281px #fff, 1194px 663px #fff, 189px 4415px #fff,
    1318px 559px #fff, 624px 3071px #fff, 265px 5703px #fff, 812px 5614px #fff,
    1779px 2201px #fff, 1996px 2849px #fff, 379px 2307px #fff, 224px 3554px #fff,
    1499px 2332px #fff, 1786px 607px #fff, 1725px 1767px #fff,
    1482px 1741px #fff, 475px 3183px #fff, 1189px 880px #fff, 827px 5976px #fff,
    1191px 1754px #fff, 177px 3870px #fff, 660px 4326px #fff, 1708px 4050px #fff,
    1262px 2569px #fff, 1404px 5137px #fff, 1425px 1328px #fff,
    1993px 2553px #fff, 281px 3892px #fff, 1327px 1210px #fff, 460px 2357px #fff,
    1956px 4232px #fff, 119px 4949px #fff, 907px 3472px #fff, 655px 2748px #fff,
    1035px 335px #fff, 946px 3824px #fff, 775px 4763px #fff, 1001px 5003px #fff,
    643px 2512px #fff, 1782px 4482px #fff, 1605px 4109px #fff, 25px 3px #fff,
    307px 4492px #fff, 1225px 965px #fff, 1661px 97px #fff, 239px 1402px #fff,
    1412px 3196px #fff, 410px 5340px #fff, 121px 2629px #fff, 1779px 392px #fff,
    417px 1604px #fff, 1048px 1154px #fff, 538px 2142px #fff, 918px 4980px #fff,
    1940px 5176px #fff, 391px 510px #fff, 621px 1063px #fff, 1981px 2566px #fff,
    1534px 53px #fff, 846px 5937px #fff, 587px 3897px #fff, 1221px 976px #fff,
    1246px 4064px #fff, 1410px 5361px #fff, 141px 5778px #fff,
    1828px 4929px #fff, 601px 5258px #fff, 1541px 205px #fff, 1156px 1775px #fff,
    1576px 5632px #fff, 1404px 3923px #fff, 1334px 5936px #fff, 747px 827px #fff,
    382px 2822px #fff, 81px 5157px #fff, 917px 151px #fff, 1652px 3782px #fff,
    1213px 3102px #fff, 327px 4012px #fff, 1165px 4265px #fff,
    1222px 4367px #fff, 847px 4333px #fff, 905px 5234px #fff, 724px 4029px #fff,
    1095px 5294px #fff, 706px 460px #fff, 1539px 2332px #fff, 312px 44px #fff,
    1260px 2369px #fff, 203px 5829px #fff, 1617px 1372px #fff,
    1545px 2474px #fff, 725px 3091px #fff, 1535px 5922px #fff,
    1840px 5629px #fff, 1647px 4730px #fff, 1318px 3723px #fff,
    448px 2104px #fff, 1863px 1018px #fff, 1731px 327px #fff, 1889px 4456px #fff,
    836px 4008px #fff, 63px 3433px #fff, 1418px 3906px #fff, 1167px 3901px #fff,
    743px 559px #fff, 503px 1657px #fff, 524px 2752px #fff, 496px 3064px #fff,
    1254px 2886px #fff, 1303px 450px #fff, 1477px 3366px #fff, 944px 4485px #fff,
    1563px 5256px #fff, 1685px 1091px #fff, 1049px 1470px #fff,
    1751px 4952px #fff, 1122px 4735px #fff, 1068px 818px #fff, 658px 227px #fff,
    1129px 2875px #fff, 1434px 4366px #fff, 1612px 3067px #fff,
    170px 4398px #fff, 85px 1903px #fff, 1161px 4917px #fff, 1258px 1000px #fff,
    711px 3679px #fff, 1710px 5222px #fff, 1979px 3670px #fff, 651px 5620px #fff,
    158px 5304px #fff, 1397px 4301px #fff, 1902px 698px #fff, 1166px 5854px #fff,
    1904px 2264px #fff, 1870px 3415px #fff, 1911px 3145px #fff,
    722px 3507px #fff, 1543px 3249px #fff, 323px 3431px #fff, 1633px 3101px #fff,
    40px 75px #fff, 165px 2461px #fff, 1534px 4569px #fff, 847px 1635px #fff,
    454px 949px #fff, 59px 3851px #fff, 1541px 3542px #fff, 1994px 238px #fff,
    1267px 3389px #fff, 1216px 1760px #fff, 207px 4036px #fff, 1942px 985px #fff,
    1157px 5372px #fff, 361px 3439px #fff, 1128px 2979px #fff, 229px 658px #fff,
    1598px 2690px #fff, 550px 2277px #fff, 839px 419px #fff, 1891px 269px #fff,
    1865px 1905px #fff, 211px 5853px #fff, 986px 4160px #fff, 182px 5113px #fff,
    1021px 418px #fff, 459px 5950px #fff, 317px 903px #fff, 221px 3006px #fff,
    914px 657px #fff, 919px 2148px #fff, 1020px 3740px #fff, 594px 3837px #fff,
    1185px 3937px #fff, 248px 2588px #fff, 1179px 3103px #fff, 1851px 46px #fff,
    613px 4572px #fff, 783px 97px #fff, 1191px 3189px #fff, 1631px 113px #fff,
    795px 4007px #fff, 1735px 5786px #fff, 891px 2268px #fff, 1626px 5713px #fff,
    60px 3024px #fff, 113px 3621px #fff, 1861px 1389px #fff, 848px 1350px #fff,
    738px 396px #fff, 892px 1496px #fff, 504px 1379px #fff, 1776px 50px #fff,
    477px 3537px #fff, 133px 1085px #fff, 1300px 3890px #fff, 983px 1445px #fff,
    773px 1797px #fff, 776px 383px #fff, 173px 3134px #fff, 1632px 4790px #fff,
    1600px 2967px #fff, 1671px 3890px #fff, 900px 1340px #fff,
    1071px 3725px #fff, 1343px 1447px #fff, 929px 2191px #fff,
    1365px 5608px #fff, 1714px 5908px #fff, 718px 651px #fff, 934px 857px #fff,
    1399px 2143px #fff, 917px 3452px #fff, 1594px 4701px #fff,
    1298px 3687px #fff, 1320px 3240px #fff, 991px 5148px #fff, 490px 1064px #fff,
    1757px 5839px #fff, 445px 4109px #fff, 1302px 5105px #fff, 790px 5826px #fff,
    1771px 1468px #fff, 1248px 812px #fff, 675px 5705px #fff, 1122px 1036px #fff,
    423px 1542px #fff, 555px 2740px #fff, 1381px 4907px #fff, 37px 2634px #fff,
    1101px 2268px #fff, 1564px 3073px #fff, 90px 1502px #fff, 1923px 2832px #fff,
    675px 3250px #fff, 63px 4525px #fff, 897px 3175px #fff, 1618px 557px #fff,
    873px 1074px #fff, 448px 1302px #fff, 1121px 279px #fff, 258px 1835px #fff,
    529px 2336px #fff, 482px 4367px #fff, 869px 136px #fff, 1921px 1717px #fff,
    443px 5608px #fff, 1341px 60px #fff, 183px 5075px #fff, 547px 5404px #fff,
    225px 690px #fff, 1623px 458px #fff, 1337px 1937px #fff, 1467px 3642px #fff,
    322px 2268px #fff, 1220px 1940px #fff, 297px 3292px #fff, 1171px 5646px #fff,
    1869px 2810px #fff, 1066px 3179px #fff, 797px 5905px #fff,
    1003px 1970px #fff, 462px 4517px #fff, 768px 2331px #fff, 113px 671px #fff,
    1911px 4057px #fff, 1185px 536px #fff, 1044px 2494px #fff,
    1023px 4315px #fff, 1817px 5621px #fff, 158px 44px #fff, 698px 5657px #fff,
    145px 4110px #fff, 1960px 3435px #fff, 1px 4337px #fff, 1117px 5161px #fff,
    1503px 3141px #fff, 993px 1276px #fff, 601px 1304px #fff, 169px 4927px #fff,
    1605px 4943px #fff, 1644px 2397px #fff, 1563px 2234px #fff,
    1910px 4510px #fff, 819px 1448px #fff, 1234px 1813px #fff, 284px 3620px #fff,
    61px 4452px #fff, 753px 3465px #fff, 145px 1390px #fff, 297px 3600px #fff,
    1174px 2742px #fff, 1898px 5032px #fff, 292px 5290px #fff, 822px 3890px #fff,
    1150px 2840px #fff, 1790px 695px #fff, 1072px 2876px #fff, 405px 2955px #fff,
    1065px 2532px #fff, 872px 1828px #fff, 109px 2302px #fff, 397px 3910px #fff,
    95px 5714px #fff, 1242px 2201px #fff, 1751px 387px #fff, 1254px 2073px #fff,
    1202px 2435px #fff, 1525px 2327px #fff, 663px 2850px #fff,
    1865px 4917px #fff, 293px 4328px #fff, 1914px 5984px #fff, 56px 4851px #fff,
    1118px 5534px #fff, 160px 3962px #fff, 1336px 5781px #fff, 554px 372px #fff,
    246px 5799px #fff, 1244px 3239px #fff, 501px 1786px #fff, 1790px 5786px #fff,
    377px 5844px #fff, 1253px 3751px #fff, 1558px 3829px #fff, 605px 1710px #fff,
    758px 2806px #fff, 489px 2806px #fff, 193px 4481px #fff, 193px 83px #fff,
    1480px 2581px #fff, 1132px 1028px #fff, 1237px 1255px #fff,
    1255px 1567px #fff, 1168px 1237px #fff, 1685px 1174px #fff,
    1602px 5791px #fff, 812px 336px #fff, 556px 1703px #fff, 1069px 3494px #fff,
    1295px 5945px #fff, 105px 492px #fff, 1910px 2406px #fff, 945px 5848px #fff,
    743px 713px #fff, 1999px 3017px #fff, 1750px 2837px #fff, 1456px 3991px #fff,
    1542px 5262px #fff, 547px 2897px #fff, 1770px 5294px #fff, 109px 1679px #fff,
    234px 516px #fff, 681px 5390px #fff, 683px 1318px #fff, 1941px 5201px #fff,
    1755px 2802px #fff, 442px 1721px #fff, 987px 1620px #fff, 851px 3902px #fff,
    242px 534px #fff, 774px 1238px #fff, 1387px 3714px #fff, 935px 1607px #fff,
    1959px 2951px #fff, 366px 950px #fff, 738px 149px #fff, 557px 1440px #fff,
    1268px 2952px #fff, 352px 1472px #fff, 1600px 2965px #fff, 1789px 189px #fff,
    1086px 3322px #fff, 758px 5610px #fff, 930px 2207px #fff, 1796px 2140px #fff,
    293px 2744px #fff, 606px 3986px #fff, 541px 2276px #fff, 353px 1866px #fff,
    1393px 5832px #fff, 954px 5861px #fff, 1424px 431px #fff, 749px 1180px #fff,
    842px 5541px #fff, 1332px 1443px #fff, 1075px 1175px #fff, 873px 5016px #fff,
    1176px 5667px #fff, 1480px 226px #fff, 1880px 4089px #fff, 924px 3287px #fff,
    915px 4799px #fff, 388px 1616px #fff, 1521px 395px #fff, 535px 5979px #fff,
    1706px 36px #fff, 677px 1955px #fff, 799px 1247px #fff, 258px 1376px #fff,
    454px 1372px #fff, 1168px 380px #fff, 1964px 2004px #fff, 286px 1708px #fff,
    499px 5807px #fff, 1667px 3480px #fff, 567px 4832px #fff, 939px 1396px #fff,
    772px 225px #fff, 1794px 2543px #fff, 573px 5535px #fff, 472px 2882px #fff,
    1884px 4473px #fff, 1227px 3618px #fff, 1225px 3239px #fff,
    1285px 1161px #fff, 417px 641px #fff, 523px 51px #fff, 1913px 1712px #fff,
    301px 4043px #fff, 686px 4150px #fff, 1385px 5818px #fff, 578px 2213px #fff,
    474px 3748px #fff, 155px 490px #fff, 1291px 3726px #fff, 1923px 1461px #fff,
    819px 4248px #fff, 335px 1576px #fff, 1956px 522px #fff, 1942px 3700px #fff,
    993px 4484px #fff, 773px 270px #fff, 274px 2936px #fff, 314px 1966px #fff,
    1543px 2537px #fff, 1665px 1441px #fff, 1245px 5923px #fff, 878px 586px #fff,
    635px 2189px #fff, 1212px 3817px #fff, 698px 1761px #fff, 443px 2503px #fff,
    372px 5839px #fff, 1106px 4327px #fff, 1963px 5070px #fff,
    1950px 2379px #fff, 593px 1330px #fff, 1534px 1281px #fff,
    1762px 3832px #fff, 421px 4140px #fff, 181px 5654px #fff, 1861px 600px #fff,
    489px 921px #fff, 496px 349px #fff, 1371px 2245px #fff, 552px 23px #fff,
    1667px 456px #fff, 1200px 2750px #fff, 878px 2629px #fff, 1393px 1964px #fff,
    1573px 1242px #fff, 1025px 3449px #fff, 406px 1994px #fff, 1828px 899px #fff,
    1816px 166px #fff, 187px 3453px #fff, 1536px 425px #fff, 318px 5338px #fff,
    361px 3889px #fff, 1873px 1466px #fff, 1661px 382px #fff, 1312px 3965px #fff,
    1472px 997px #fff, 1026px 2943px #fff, 1268px 616px #fff, 314px 191px #fff,
    149px 1438px #fff, 1913px 4855px #fff, 59px 4625px #fff, 1810px 2100px #fff,
    856px 3075px #fff, 577px 714px #fff, 532px 2646px #fff, 1014px 4965px #fff,
    1171px 5170px #fff, 1914px 2921px #fff, 847px 3807px #fff,
    1717px 1593px #fff, 1779px 3943px #fff, 1231px 2126px #fff,
    1621px 490px #fff, 724px 2736px #fff, 1980px 3783px #fff, 1083px 2287px #fff,
    818px 2860px #fff, 1963px 1566px #fff, 14px 4742px #fff, 440px 3554px #fff,
    1864px 1042px #fff, 1188px 715px #fff, 1365px 3955px #fff, 380px 1984px #fff,
    1323px 1327px #fff, 274px 732px #fff, 446px 3507px #fff, 735px 4298px #fff,
    696px 548px #fff, 684px 4559px #fff, 1011px 583px #fff, 245px 2443px #fff,
    1859px 1562px #fff, 291px 4478px #fff, 158px 1681px #fff, 1214px 2323px #fff,
    1796px 4891px #fff, 747px 3481px #fff, 661px 1859px #fff, 1805px 101px #fff,
    425px 5022px #fff, 140px 868px #fff, 769px 1584px #fff, 1591px 2644px #fff,
    573px 5910px #fff, 796px 1964px #fff, 359px 3626px #fff, 1215px 1125px #fff,
    849px 1310px #fff, 535px 5198px #fff, 172px 1834px #fff, 1577px 4869px #fff,
    958px 4509px #fff, 330px 3346px #fff, 36px 5983px #fff, 45px 672px #fff,
    547px 3664px #fff, 1700px 5116px #fff, 421px 195px #fff, 1351px 2843px #fff,
    957px 3306px #fff, 1552px 4364px #fff, 54px 2650px #fff, 822px 4811px #fff,
    1369px 2536px #fff, 691px 2047px #fff, 1682px 3906px #fff, 814px 4854px #fff,
    1774px 3249px #fff, 160px 2387px #fff, 270px 649px #fff, 179px 4786px #fff,
    1087px 5104px #fff, 9px 3687px #fff, 1528px 5825px #fff, 1321px 1438px #fff,
    1291px 4225px #fff, 1617px 5480px #fff, 537px 3039px #fff, 352px 2835px #fff,
    1884px 2762px #fff, 656px 324px #fff, 846px 2470px #fff, 1765px 2085px #fff,
    1692px 679px #fff, 208px 4978px #fff, 557px 5721px #fff, 1516px 264px #fff,
    1467px 4979px #fff, 1348px 459px #fff, 522px 3818px #fff, 820px 1697px #fff,
    1487px 5776px #fff, 1037px 941px #fff, 1991px 5637px #fff, 559px 826px #fff,
    445px 5485px #fff, 55px 2210px #fff, 429px 4856px #fff, 267px 2985px #fff,
    608px 2497px #fff, 1372px 1915px #fff, 256px 2759px #fff, 1889px 2592px #fff,
    57px 5539px #fff, 511px 1791px #fff, 1309px 1690px #fff, 1691px 677px #fff,
    576px 4938px #fff, 1880px 2457px #fff, 617px 1540px #fff, 437px 3859px #fff,
    1323px 5407px #fff, 185px 2619px #fff, 347px 480px #fff, 1312px 5538px #fff,
    701px 4404px #fff, 1749px 1079px #fff, 311px 1813px #fff, 395px 4837px #fff,
    747px 707px #fff, 1415px 2021px #fff, 680px 392px #fff, 668px 1824px #fff,
    141px 1505px #fff, 702px 548px #fff, 1430px 154px #fff, 1334px 2987px #fff,
    1282px 5562px #fff, 1157px 3451px #fff, 1827px 1488px #fff,
    1491px 3266px #fff, 1322px 2667px #fff, 1829px 3267px #fff,
    1909px 3415px #fff, 1091px 34px #fff, 1496px 2014px #fff, 1677px 350px #fff,
    1469px 756px #fff, 969px 5451px #fff, 159px 3296px #fff, 982px 4888px #fff,
    1079px 2010px #fff, 641px 2478px #fff, 1366px 97px #fff, 400px 1879px #fff,
    1970px 1303px #fff, 379px 2565px #fff, 1459px 2831px #fff,
    1444px 2114px #fff, 1314px 4759px #fff, 1627px 2571px #fff,
    379px 5349px #fff, 283px 2922px #fff, 1637px 2419px #fff, 1883px 1955px #fff,
    1460px 2949px #fff, 1529px 3404px #fff, 1424px 1198px #fff, 642px 138px #fff,
    1562px 5183px #fff, 1117px 2614px #fff, 46px 3107px #fff, 1143px 4577px #fff,
    1355px 5432px #fff, 1174px 4976px #fff, 1553px 827px #fff,
    1003px 3312px #fff, 819px 1411px #fff, 1396px 5952px #fff, 392px 4419px #fff,
    431px 1251px #fff, 339px 1295px #fff, 1749px 2797px #fff, 1318px 2684px #fff,
    38px 1762px #fff, 1601px 5488px #fff, 996px 4813px #fff, 825px 1321px #fff,
    1825px 5268px #fff, 156px 5317px #fff, 1185px 1097px #fff, 1074px 670px #fff,
    34px 54px #fff, 1939px 5325px #fff, 93px 759px #fff, 203px 2778px #fff,
    1623px 5237px #fff, 1209px 5715px #fff, 548px 961px #fff, 606px 672px #fff,
    1885px 1454px #fff, 524px 2894px #fff, 821px 2824px #fff, 1606px 3139px #fff,
    250px 2051px #fff, 1119px 468px #fff, 185px 3320px #fff, 7px 4590px #fff,
    842px 4490px #fff, 1242px 1182px #fff, 1155px 2220px #fff,
    1663px 3694px #fff, 747px 2484px #fff, 1313px 3984px #fff,
    1487px 3075px #fff, 981px 3397px #fff, 671px 3557px #fff, 1358px 5885px #fff,
    661px 4530px #fff, 1308px 2388px #fff, 860px 4003px #fff, 1415px 3823px #fff,
    212px 2206px #fff, 329px 97px #fff, 1763px 4529px #fff, 520px 3324px #fff,
    573px 683px #fff, 1679px 1565px #fff, 1888px 1521px #fff, 1997px 3872px #fff,
    1873px 4217px #fff, 1094px 4241px #fff, 749px 3498px #fff, 502px 5592px #fff,
    1872px 3305px #fff, 1750px 5394px #fff, 857px 4114px #fff,
    1255px 1350px #fff, 1482px 3155px #fff, 1324px 784px #fff,
    1164px 2702px #fff, 371px 5440px #fff, 1601px 1578px #fff,
    1909px 2998px #fff, 1686px 931px #fff, 201px 2299px #fff, 1292px 3112px #fff,
    1059px 1431px #fff, 798px 3374px #fff, 1069px 592px #fff, 1722px 4483px #fff,
    1472px 1207px #fff, 868px 2398px #fff, 486px 3696px #fff, 1721px 4251px #fff,
    1288px 4191px #fff, 476px 1028px #fff, 1889px 3084px #fff, 138px 385px #fff,
    1640px 4831px #fff, 1632px 936px #fff, 1266px 1710px #fff,
    1396px 1910px #fff, 843px 3214px #fff, 22px 5370px #fff, 400px 3058px #fff,
    704px 4552px #fff, 1561px 5922px #fff, 319px 4009px #fff, 1321px 2376px #fff,
    360px 3265px #fff, 946px 4558px #fff, 1329px 4082px #fff, 1628px 2378px #fff,
    305px 715px #fff, 1377px 5433px #fff, 188px 4816px #fff, 1734px 3902px #fff,
    836px 4297px #fff, 1186px 4270px #fff, 1687px 2913px #fff, 1238px 617px #fff,
    171px 5469px #fff, 10px 3935px #fff, 1749px 4280px #fff, 1703px 2669px #fff,
    1450px 4071px #fff, 1649px 1036px #fff, 180px 3910px #fff,
    1643px 1957px #fff, 911px 1359px #fff, 1301px 930px #fff, 1868px 5234px #fff,
    615px 618px #fff, 1402px 726px #fff, 1272px 5391px #fff, 1075px 4626px #fff,
    741px 3736px #fff, 227px 5504px #fff, 597px 5413px #fff, 446px 5200px #fff,
    240px 894px #fff, 1256px 2622px #fff, 1031px 589px #fff, 1132px 219px #fff,
    53px 3478px #fff, 1972px 5308px #fff, 1378px 1538px #fff, 688px 1447px #fff,
    152px 3825px #fff, 1474px 2288px #fff, 179px 5437px #fff, 1665px 4894px #fff,
    219px 5553px #fff, 1697px 1072px #fff, 971px 1929px #fff, 1699px 515px #fff,
    83px 1725px #fff, 978px 3196px #fff, 265px 4414px #fff, 150px 3136px #fff,
    1271px 4354px #fff, 1654px 3529px #fff, 261px 964px #fff, 1271px 4282px #fff,
    1533px 562px #fff, 1035px 4285px #fff, 597px 5609px #fff, 473px 3907px #fff,
    129px 4697px #fff, 1511px 3383px #fff, 378px 5325px #fff, 1821px 4071px #fff,
    1209px 5037px #fff, 1520px 1834px #fff, 1432px 4101px #fff,
    1800px 5813px #fff, 978px 622px #fff, 596px 3733px #fff, 1582px 2274px #fff,
    1631px 494px #fff, 1630px 5764px #fff, 1126px 1622px #fff,
    1603px 3215px #fff, 1997px 5122px #fff, 1468px 5782px #fff,
    544px 3517px #fff, 29px 2490px #fff, 1129px 3379px #fff, 366px 5666px #fff,
    1654px 5553px #fff, 1610px 841px #fff, 700px 991px #fff, 491px 3064px #fff,
    1278px 2226px #fff, 1714px 3493px #fff, 1397px 3826px #fff,
    1819px 714px #fff, 517px 3851px #fff, 1410px 579px #fff, 1664px 2813px #fff,
    560px 4946px #fff, 742px 1346px #fff, 238px 4906px #fff, 694px 544px #fff,
    1546px 4332px #fff, 1028px 3571px #fff, 1433px 3662px #fff,
    590px 4106px #fff, 752px 5501px #fff, 1823px 2949px #fff, 1937px 5780px #fff,
    657px 3605px #fff, 758px 5086px #fff, 968px 2498px #fff, 474px 2135px #fff,
    1324px 2102px #fff, 7px 2177px #fff, 1096px 4665px #fff, 640px 5839px #fff,
    1690px 1184px #fff, 1868px 1036px #fff, 1800px 73px #fff, 1878px 5938px #fff,
    1545px 1044px #fff, 1834px 5152px #fff, 1889px 973px #fff, 395px 4421px #fff,
    775px 243px #fff, 703px 3647px #fff, 747px 2093px #fff, 178px 322px #fff,
    445px 4701px #fff, 231px 2279px #fff, 1302px 3086px #fff, 181px 4116px #fff,
    1780px 3222px #fff, 276px 2666px #fff, 691px 2804px #fff, 371px 4600px #fff,
    1455px 2044px #fff, 1317px 3467px #fff, 134px 4897px #fff, 640px 5276px #fff,
    1382px 3345px #fff, 906px 354px #fff, 1980px 4670px #fff, 240px 5553px #fff,
    590px 5638px #fff, 968px 1805px #fff, 424px 2935px #fff, 1415px 473px #fff,
    1863px 4217px #fff, 902px 1530px #fff, 729px 5964px #fff, 1321px 2348px #fff,
    664px 2771px #fff, 522px 774px #fff, 1515px 3210px #fff, 202px 4215px #fff,
    1147px 1185px #fff, 1466px 3656px #fff, 104px 191px #fff, 1692px 228px #fff,
    770px 2088px #fff, 420px 5076px #fff, 1209px 292px #fff, 31px 1276px #fff,
    1820px 5706px #fff, 649px 5268px #fff, 937px 2193px #fff, 1990px 3439px #fff,
    1424px 2638px #fff, 763px 3230px #fff, 3px 5381px #fff, 690px 965px #fff,
    606px 4445px #fff, 1304px 4628px #fff, 1115px 4786px #fff,
    1553px 5563px #fff, 1108px 44px #fff, 1000px 4708px #fff, 1517px 4227px #fff,
    1216px 2033px #fff, 840px 4247px #fff, 583px 3170px #fff, 680px 3286px #fff,
    247px 587px #fff, 963px 3081px #fff, 1811px 5102px #fff, 1607px 5210px #fff,
    1329px 3207px #fff, 623px 4454px #fff, 872px 2864px #fff, 330px 4912px #fff,
    549px 3666px #fff, 331px 1985px #fff, 14px 781px #fff, 1895px 2790px #fff,
    1655px 3387px #fff, 711px 3785px #fff, 980px 5355px #fff, 1388px 2999px #fff,
    400px 3534px #fff, 433px 1449px #fff, 328px 4170px #fff, 457px 950px #fff,
    1523px 3857px #fff, 1765px 324px #fff, 52px 3857px #fff, 1402px 2896px #fff,
    1684px 3336px #fff, 477px 5646px #fff, 1820px 5125px #fff,
    1962px 3407px #fff, 1833px 2341px #fff, 1682px 4843px #fff,
    1702px 5589px #fff, 1180px 2333px #fff, 150px 5491px #fff,
    1109px 4417px #fff, 1298px 4907px #fff, 1291px 321px #fff,
    1905px 4210px #fff, 1133px 1285px #fff, 1768px 3044px #fff,
    207px 1817px #fff, 420px 5607px #fff, 1847px 2771px #fff, 223px 1841px #fff,
    334px 3620px #fff, 1217px 4531px #fff, 663px 4951px #fff, 1930px 2272px #fff,
    774px 4957px #fff, 847px 4029px #fff, 1999px 2920px #fff, 1730px 4566px #fff,
    709px 1608px #fff, 421px 2743px #fff, 222px 1312px #fff, 1104px 3721px #fff,
    513px 5944px #fff, 82px 4882px #fff, 1421px 902px #fff, 568px 4174px #fff,
    1778px 4322px #fff, 1175px 5934px #fff, 1192px 3414px #fff,
    604px 1806px #fff, 836px 1612px #fff, 1329px 1354px #fff, 810px 112px #fff,
    1253px 3421px #fff, 614px 5440px #fff, 242px 5251px #fff, 221px 1305px #fff,
    303px 4579px #fff, 1505px 5058px #fff, 1962px 2518px #fff, 915px 4968px #fff,
    1100px 2691px #fff, 1249px 3622px #fff, 1880px 5812px #fff, 76px 836px #fff,
    1122px 1312px #fff, 911px 3750px #fff, 649px 338px #fff, 1363px 4095px #fff,
    1504px 2370px #fff, 477px 1695px #fff, 1380px 3620px #fff, 843px 4695px #fff,
    1476px 940px #fff, 1551px 339px #fff, 700px 2348px #fff, 1648px 5573px #fff,
    1989px 5566px #fff, 928px 5640px #fff, 1722px 2188px #fff,
    1392px 2605px #fff, 1774px 1001px #fff, 117px 1435px #fff, 319px 4413px #fff,
    1046px 4526px #fff, 108px 4185px #fff, 706px 3888px #fff, 1676px 4808px #fff,
    382px 5918px #fff, 1722px 971px #fff, 1372px 110px #fff, 643px 2928px #fff,
    88px 5288px #fff, 1112px 1758px #fff, 665px 177px #fff, 1815px 4766px #fff,
    390px 3737px #fff, 1962px 1500px #fff, 333px 2667px #fff, 1728px 5296px #fff,
    1956px 1357px #fff, 986px 1574px #fff, 1464px 124px #fff, 420px 1886px #fff,
    851px 4192px #fff, 1811px 5692px #fff, 1704px 5399px #fff, 56px 1755px #fff,
    1776px 1897px #fff, 1211px 3438px #fff, 603px 4564px #fff,
    1124px 1230px #fff, 1663px 3617px #fff, 3px 2027px #fff, 503px 5878px #fff,
    616px 5309px #fff, 36px 1270px #fff, 815px 2333px #fff, 1338px 527px #fff,
    466px 713px #fff, 1996px 145px #fff, 831px 4722px #fff, 850px 1495px #fff,
    734px 3229px #fff, 425px 2813px #fff, 939px 1359px #fff, 500px 2890px #fff,
    176px 2572px #fff, 1871px 5172px #fff, 344px 3817px #fff, 1925px 4810px #fff,
    1198px 3197px #fff, 903px 1055px #fff, 1198px 2597px #fff, 962px 3035px #fff,
    300px 767px #fff, 366px 1375px #fff, 482px 5408px #fff, 1833px 2826px #fff,
    1932px 512px #fff, 1840px 5667px #fff, 435px 4192px #fff, 1560px 2182px #fff,
    1782px 195px #fff, 1671px 2337px #fff, 1385px 5521px #fff, 496px 4754px #fff,
    1413px 3388px #fff, 1341px 1547px #fff, 788px 5479px #fff,
    1486px 2057px #fff, 1651px 2961px #fff, 114px 2499px #fff,
    1523px 4466px #fff, 326px 1493px #fff, 39px 3255px #fff, 283px 5444px #fff,
    1868px 2033px #fff, 730px 1423px #fff, 223px 99px #fff, 1211px 1241px #fff,
    1454px 2384px #fff, 497px 4695px #fff, 1836px 67px #fff, 423px 3382px #fff,
    678px 1563px #fff, 1614px 4289px #fff, 1578px 5530px #fff,
    1252px 1713px #fff, 396px 4008px #fff, 1764px 5040px #fff,
    1807px 5637px #fff, 1656px 5874px #fff, 806px 5000px #fff,
    1048px 3016px #fff, 73px 705px #fff, 1602px 1522px #fff, 1px 1199px #fff,
    575px 787px #fff, 1485px 5429px #fff, 1841px 3350px #fff, 423px 3859px #fff,
    890px 2892px #fff, 22px 1898px #fff, 895px 1478px #fff, 1873px 2045px #fff,
    1416px 5914px #fff, 1802px 2209px #fff, 79px 1965px #fff, 443px 3956px #fff,
    1637px 280px #fff, 935px 3327px #fff, 381px 625px #fff, 1064px 288px #fff,
    1210px 2325px #fff, 974px 2014px #fff, 1083px 5834px #fff,
    1608px 5190px #fff, 1999px 3922px #fff, 1497px 1591px #fff,
    675px 2303px #fff, 303px 2195px #fff, 443px 3093px #fff, 165px 2015px #fff,
    794px 2097px #fff, 1196px 4068px #fff, 1183px 1909px #fff, 275px 608px #fff,
    746px 4458px #fff, 933px 3331px #fff, 629px 732px #fff, 746px 5031px #fff,
    1423px 5285px #fff, 1957px 4149px #fff, 758px 1224px #fff, 947px 4143px #fff,
    1510px 1981px #fff, 431px 4765px #fff, 781px 4635px #fff, 1456px 28px #fff,
    163px 257px #fff, 1750px 2250px #fff, 61px 3465px #fff, 367px 5668px #fff,
    82px 5923px #fff, 375px 2141px #fff, 83px 2161px #fff, 841px 34px #fff,
    1788px 10px #fff, 39px 5210px #fff, 611px 2868px #fff, 1572px 3043px #fff,
    1168px 675px #fff, 1219px 5911px #fff, 301px 5602px #fff, 1741px 3200px #fff,
    890px 4137px #fff, 604px 3355px #fff, 15px 1833px #fff, 1916px 631px #fff,
    528px 513px #fff, 228px 5581px #fff, 1257px 1434px #fff, 1994px 5982px #fff,
    50px 1657px #fff, 1306px 2045px #fff, 939px 4578px #fff, 1848px 1779px #fff,
    753px 1796px #fff, 1127px 3980px #fff, 1283px 777px #fff, 483px 1836px #fff,
    1285px 5344px #fff, 1446px 3905px #fff, 168px 5443px #fff,
    1591px 3823px #fff, 534px 56px #fff, 1363px 4654px #fff, 1112px 1258px #fff,
    569px 3626px #fff, 923px 1987px #fff, 41px 4619px #fff, 1802px 4061px #fff,
    679px 290px #fff, 594px 2596px #fff, 1002px 3146px #fff, 1236px 1532px #fff,
    127px 4389px #fff, 680px 3744px #fff, 944px 5304px #fff, 1279px 1672px #fff,
    1450px 1808px #fff, 1948px 2786px #fff, 1793px 1446px #fff,
    855px 4137px #fff, 1531px 5825px #fff, 1673px 4813px #fff, 814px 3405px #fff,
    108px 1878px #fff, 451px 1632px #fff, 1397px 3665px #fff, 1454px 334px #fff,
    1919px 1987px #fff, 295px 2516px #fff, 855px 5123px #fff, 1247px 1749px #fff,
    873px 2096px #fff, 1493px 561px #fff, 1284px 2764px #fff, 1150px 364px #fff,
    458px 3175px #fff, 1289px 1409px #fff, 963px 3657px #fff, 145px 5720px #fff,
    805px 4095px #fff, 200px 2716px #fff, 1173px 1763px #fff, 1806px 415px #fff,
    336px 1589px #fff, 1211px 4232px #fff, 599px 5837px #fff, 1461px 5560px #fff,
    266px 4919px #fff, 983px 5325px #fff, 50px 1965px #fff, 1074px 3862px #fff,
    577px 4997px #fff, 1839px 2764px #fff, 1628px 33px #fff, 1329px 791px #fff,
    1448px 4007px #fff, 1447px 1157px #fff, 1803px 5075px #fff,
    1556px 3591px #fff, 1662px 2451px #fff, 490px 1174px #fff,
    1298px 5892px #fff, 1973px 4073px #fff, 673px 5043px #fff, 795px 550px #fff,
    764px 2583px #fff, 1543px 4233px #fff, 1941px 5984px #fff, 525px 24px #fff,
    11px 3328px #fff, 1552px 2470px #fff, 562px 2200px #fff, 643px 2061px #fff,
    576px 5529px #fff, 523px 1497px #fff, 740px 4960px #fff, 101px 1015px #fff,
    1472px 2247px #fff, 1720px 4508px #fff, 1846px 3964px #fff,
    1637px 733px #fff, 78px 3356px #fff, 1832px 5689px #fff, 1227px 5207px #fff,
    285px 2459px #fff, 543px 914px #fff, 941px 4100px #fff, 1830px 366px #fff,
    966px 3067px #fff, 527px 1741px #fff, 1572px 695px #fff, 879px 814px #fff,
    627px 4170px #fff, 261px 4888px #fff, 359px 3778px #fff, 1468px 3514px #fff,
    1239px 1909px #fff, 1148px 2377px #fff, 228px 2800px #fff, 180px 2603px #fff,
    447px 5526px #fff, 325px 2059px #fff, 312px 3742px #fff, 498px 858px #fff,
    443px 2286px #fff, 215px 3028px #fff, 765px 5864px #fff, 870px 795px #fff,
    977px 1400px #fff, 1770px 1523px #fff, 531px 5888px #fff, 931px 1546px #fff,
    656px 3992px #fff, 1737px 1040px #fff, 823px 3094px #fff, 1818px 544px #fff,
    1543px 2969px #fff, 811px 879px #fff, 1543px 330px #fff, 475px 5324px #fff,
    510px 5341px #fff, 1558px 4212px #fff, 750px 4094px #fff, 244px 1012px #fff,
    1805px 3431px #fff, 1892px 438px #fff, 364px 2943px #fff, 213px 5622px #fff,
    1372px 2006px #fff, 879px 4595px #fff, 363px 607px #fff, 861px 5796px #fff,
    1797px 2860px #fff, 387px 1185px #fff, 824px 223px #fff, 584px 3540px #fff,
    1021px 670px #fff, 287px 5635px #fff, 843px 4237px #fff, 1607px 1681px #fff,
    1598px 5402px #fff, 160px 85px #fff, 1003px 4398px #fff, 519px 683px #fff,
    1070px 1980px #fff, 1322px 1064px #fff, 1778px 1672px #fff,
    1283px 1509px #fff, 362px 1418px #fff, 642px 3526px #fff, 403px 854px #fff,
    949px 1045px #fff, 729px 1692px #fff, 1989px 1706px #fff, 1395px 4212px #fff,
    937px 4227px #fff, 860px 3615px #fff, 1428px 1917px #fff, 1610px 5527px #fff,
    1014px 4315px #fff, 457px 5713px #fff, 1083px 3151px #fff,
    1516px 1435px #fff, 1824px 2648px #fff, 1570px 921px #fff, 1659px 146px #fff,
    1433px 1701px #fff, 599px 2903px #fff, 1905px 1843px #fff, 149px 4759px #fff,
    717px 4320px #fff, 942px 108px #fff, 1203px 3373px #fff, 519px 5319px #fff;
}

div.stars_medium {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  animation: parallax 90s linear infinite;
  box-shadow: 395px 5883px #fff, 336px 743px #fff, 1998px 635px #fff,
    330px 3351px #fff, 1964px 1555px #fff, 1110px 4495px #fff,
    1267px 3230px #fff, 745px 2864px #fff, 1120px 3440px #fff,
    1306px 4026px #fff, 1158px 371px #fff, 1244px 2274px #fff,
    1055px 5636px #fff, 1388px 992px #fff, 1329px 2605px #fff, 468px 5349px #fff,
    1328px 2945px #fff, 1311px 3995px #fff, 893px 1883px #fff, 303px 5120px #fff,
    191px 4078px #fff, 1531px 554px #fff, 1113px 697px #fff, 1692px 4430px #fff,
    377px 460px #fff, 482px 4861px #fff, 1221px 5106px #fff, 144px 5148px #fff,
    67px 1213px #fff, 265px 868px #fff, 622px 6000px #fff, 1100px 4056px #fff,
    1479px 2383px #fff, 708px 5443px #fff, 468px 2655px #fff, 96px 5172px #fff,
    305px 2376px #fff, 1426px 3894px #fff, 1534px 2223px #fff,
    1748px 2759px #fff, 1767px 3317px #fff, 1674px 3849px #fff,
    1149px 4413px #fff, 1871px 5708px #fff, 928px 1045px #fff,
    1514px 4842px #fff, 822px 5193px #fff, 281px 5515px #fff, 1814px 714px #fff,
    277px 3786px #fff, 1593px 2585px #fff, 302px 4429px #fff, 776px 389px #fff,
    1105px 503px #fff, 1166px 4142px #fff, 813px 1575px #fff, 1953px 5006px #fff,
    1230px 2376px #fff, 1968px 3348px #fff, 552px 4546px #fff,
    1898px 4950px #fff, 464px 1292px #fff, 543px 3697px #fff, 1123px 4517px #fff,
    1060px 3793px #fff, 858px 5236px #fff, 1817px 4032px #fff, 1937px 661px #fff,
    341px 1626px #fff, 962px 5858px #fff, 842px 5582px #fff, 98px 1347px #fff,
    717px 5589px #fff, 645px 5232px #fff, 1280px 2979px #fff, 703px 1324px #fff,
    1787px 3755px #fff, 794px 4382px #fff, 378px 893px #fff, 1343px 994px #fff,
    165px 4280px #fff, 450px 5262px #fff, 1561px 5565px #fff, 259px 1814px #fff,
    1853px 1378px #fff, 1602px 3190px #fff, 1126px 5473px #fff,
    279px 4789px #fff, 1288px 2720px #fff, 1004px 781px #fff, 767px 2173px #fff,
    1472px 1914px #fff, 1846px 1335px #fff, 38px 1375px #fff, 1714px 2383px #fff,
    1741px 2233px #fff, 1010px 4584px #fff, 1550px 1371px #fff,
    1257px 1403px #fff, 1408px 4398px #fff, 159px 5496px #fff, 322px 5822px #fff,
    348px 5566px #fff, 173px 635px #fff, 1014px 1342px #fff, 928px 4364px #fff,
    217px 3011px #fff, 874px 3330px #fff, 516px 4560px #fff, 1619px 1972px #fff,
    861px 1448px #fff, 678px 5068px #fff, 1162px 5041px #fff, 240px 4873px #fff,
    317px 5433px #fff, 135px 329px #fff, 640px 5747px #fff, 957px 1396px #fff,
    1150px 3893px #fff, 1197px 5809px #fff, 1877px 5788px #fff,
    1089px 3072px #fff, 1263px 4756px #fff, 292px 2973px #fff, 931px 3898px #fff,
    735px 4674px #fff, 1823px 1202px #fff, 1806px 5979px #fff, 895px 3729px #fff,
    25px 278px #fff, 889px 774px #fff, 1654px 2841px #fff, 270px 3762px #fff,
    957px 1376px #fff, 1674px 319px #fff, 878px 4390px #fff, 1316px 2917px #fff,
    1537px 678px #fff, 1969px 4553px #fff, 604px 1235px #fff, 638px 5345px #fff,
    1519px 1188px #fff, 979px 4490px #fff, 1568px 634px #fff, 1509px 2391px #fff,
    1813px 3427px #fff, 1028px 3496px #fff, 364px 1862px #fff,
    1470px 3302px #fff, 117px 1968px #fff, 1798px 1301px #fff,
    1397px 1594px #fff, 1643px 5216px #fff, 760px 26px #fff, 1124px 2781px #fff,
    866px 1355px #fff, 507px 5274px #fff, 1005px 53px #fff, 712px 1230px #fff,
    589px 2244px #fff, 953px 1220px #fff, 1371px 3953px #fff, 1675px 3852px #fff,
    378px 3969px #fff, 1586px 5370px #fff, 1101px 1012px #fff, 934px 5333px #fff,
    930px 3213px #fff, 1880px 4735px #fff, 512px 5934px #fff, 342px 3010px #fff,
    255px 3126px #fff, 471px 3744px #fff, 1043px 3795px #fff, 1746px 5923px #fff,
    1219px 3658px #fff, 362px 1003px #fff, 914px 5222px #fff, 1167px 2575px #fff,
    449px 466px #fff, 96px 4518px #fff, 775px 806px #fff, 654px 4736px #fff,
    729px 5158px #fff, 399px 1693px #fff, 802px 948px #fff, 1928px 1100px #fff,
    268px 4743px #fff, 1442px 5785px #fff, 1861px 635px #fff, 1434px 3287px #fff,
    1270px 630px #fff, 1121px 5113px #fff, 753px 5252px #fff, 363px 2531px #fff,
    33px 3924px #fff, 515px 1209px #fff, 1261px 445px #fff, 208px 2983px #fff,
    1038px 1149px #fff, 426px 5632px #fff, 1026px 1366px #fff, 1535px 995px #fff,
    886px 75px #fff, 535px 726px #fff, 1760px 4689px #fff, 1050px 1080px #fff,
    447px 5978px #fff, 1849px 3927px #fff, 1382px 4581px #fff, 1307px 879px #fff,
    434px 5402px #fff, 1177px 2913px #fff, 1944px 3752px #fff,
    1669px 1812px #fff, 460px 3873px #fff, 1086px 1448px #fff, 271px 168px #fff,
    1505px 3587px #fff, 1870px 936px #fff, 2px 5501px #fff, 1951px 2136px #fff,
    1416px 543px #fff, 56px 1667px #fff, 1976px 4304px #fff, 830px 1589px #fff,
    1188px 3911px #fff, 1225px 514px #fff, 1249px 529px #fff, 1064px 4731px #fff,
    59px 5783px #fff, 1192px 5415px #fff, 927px 5696px #fff, 1653px 4334px #fff,
    1660px 1295px #fff, 711px 4117px #fff, 1891px 349px #fff, 1444px 5085px #fff,
    396px 5818px #fff, 1963px 248px #fff, 257px 4076px #fff, 566px 1139px #fff,
    397px 5426px #fff, 898px 4180px #fff, 572px 4374px #fff, 920px 1196px #fff,
    1041px 1139px #fff, 1005px 5078px #fff, 1590px 3446px #fff,
    1606px 5486px #fff, 948px 3330px #fff, 1008px 3816px #fff,
    1098px 3977px #fff, 1563px 3812px #fff, 1067px 2694px #fff,
    524px 2790px #fff, 584px 2090px #fff, 1680px 1736px #fff, 1371px 2155px #fff,
    465px 3042px #fff, 1943px 4323px #fff, 354px 4480px #fff, 100px 1588px #fff,
    473px 3281px #fff, 1493px 5414px #fff, 262px 3106px #fff, 1450px 5757px #fff,
    451px 1077px #fff, 710px 516px #fff, 1269px 2240px #fff, 1402px 156px #fff,
    1714px 198px #fff, 1429px 5472px #fff, 1951px 2785px #fff,
    1755px 3336px #fff, 782px 2663px #fff, 1768px 4167px #fff,
    1910px 5301px #fff, 1924px 4869px #fff, 1284px 2814px #fff, 1348px 6px #fff,
    231px 2410px #fff, 1933px 4408px #fff, 1270px 3184px #fff,
    1854px 1631px #fff, 1849px 3701px #fff, 339px 5055px #fff, 371px 2362px #fff,
    188px 5056px #fff, 995px 550px #fff, 1930px 2813px #fff, 1184px 1760px #fff,
    135px 2197px #fff, 197px 641px #fff, 1947px 5185px #fff, 1066px 152px #fff,
    1643px 2717px #fff, 1392px 1887px #fff, 802px 864px #fff, 942px 175px #fff,
    839px 3423px #fff, 1617px 4437px #fff, 713px 4786px #fff, 1943px 5558px #fff,
    1736px 3864px #fff, 1582px 4164px #fff, 1683px 5977px #fff,
    367px 2329px #fff, 910px 2133px #fff, 554px 678px #fff, 938px 1738px #fff,
    1137px 4755px #fff, 1395px 1526px #fff, 96px 2748px #fff, 352px 5771px #fff,
    1007px 3970px #fff, 1720px 3315px #fff, 1313px 4461px #fff,
    1989px 1056px #fff, 1647px 4341px #fff, 12px 1238px #fff, 704px 1758px #fff,
    294px 4926px #fff, 1646px 5436px #fff, 573px 4865px #fff, 825px 3128px #fff,
    1404px 5148px #fff, 1507px 3631px #fff, 273px 1815px #fff,
    1692px 3500px #fff, 1979px 920px #fff, 140px 4873px #fff, 1819px 160px #fff,
    952px 2686px #fff, 661px 5133px #fff, 941px 691px #fff, 1704px 4398px #fff,
    1821px 1086px #fff, 1173px 441px #fff, 821px 4967px #fff, 358px 417px #fff,
    748px 2726px #fff, 1038px 4608px #fff, 1122px 1299px #fff, 850px 2107px #fff,
    612px 3817px #fff, 1702px 2360px #fff, 848px 3855px #fff, 173px 3490px #fff,
    1373px 5020px #fff, 97px 3821px #fff, 890px 4175px #fff, 1652px 3290px #fff,
    817px 1225px #fff, 1552px 1722px #fff, 550px 4142px #fff, 431px 4768px #fff,
    442px 2855px #fff, 1183px 875px #fff, 40px 4488px #fff, 579px 3463px #fff,
    43px 5769px #fff, 1874px 810px #fff, 200px 3053px #fff, 1819px 2042px #fff,
    441px 2148px #fff, 1686px 3370px #fff, 944px 3120px #fff, 422px 5877px #fff,
    551px 5325px #fff, 1789px 2358px #fff, 967px 5222px #fff, 764px 1622px #fff,
    1198px 4594px #fff, 340px 2689px #fff, 874px 738px #fff, 1619px 4124px #fff,
    786px 658px #fff, 1433px 611px #fff, 390px 700px #fff, 1701px 4225px #fff,
    1814px 2593px #fff, 1313px 913px #fff, 1221px 2296px #fff,
    1753px 4195px #fff, 445px 2995px #fff, 735px 2853px #fff, 1342px 3294px #fff,
    176px 2028px #fff, 921px 4997px #fff, 1187px 393px #fff, 942px 4536px #fff,
    1440px 3641px #fff, 781px 5395px #fff, 822px 5696px #fff, 1182px 5170px #fff,
    1741px 4386px #fff, 822px 4869px #fff, 1662px 4547px #fff, 175px 2807px #fff;
}

div.stars_large {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  animation: parallax 60s linear infinite;
  box-shadow: 1139px 3543px #fff, 16px 2310px #fff, 1627px 5081px #fff,
    1936px 2213px #fff, 971px 1232px #fff, 754px 707px #fff, 270px 3138px #fff,
    1421px 1292px #fff, 993px 798px #fff, 1305px 5033px #fff, 666px 2808px #fff,
    1346px 5166px #fff, 1132px 2422px #fff, 1201px 2789px #fff,
    973px 4971px #fff, 1764px 1976px #fff, 1467px 797px #fff, 1993px 1151px #fff,
    1448px 1686px #fff, 531px 3611px #fff, 97px 3752px #fff, 1668px 4238px #fff,
    382px 351px #fff, 135px 1234px #fff, 1510px 4136px #fff, 450px 4716px #fff,
    279px 4069px #fff, 1215px 684px #fff, 490px 1505px #fff, 1540px 1045px #fff,
    613px 1470px #fff, 1939px 1943px #fff, 196px 2077px #fff, 39px 5291px #fff,
    41px 4098px #fff, 572px 1756px #fff, 1446px 1257px #fff, 739px 3734px #fff,
    558px 1083px #fff, 1859px 737px #fff, 1630px 5266px #fff, 1209px 4308px #fff,
    1781px 4457px #fff, 624px 894px #fff, 16px 1444px #fff, 495px 129px #fff,
    881px 5494px #fff, 31px 1280px #fff, 988px 4334px #fff, 982px 30px #fff,
    355px 4995px #fff, 1870px 1612px #fff, 440px 4276px #fff, 652px 5114px #fff,
    614px 3593px #fff, 480px 2883px #fff, 1169px 3107px #fff, 602px 2482px #fff,
    541px 3039px #fff, 1318px 3097px #fff, 929px 3826px #fff, 956px 5598px #fff,
    286px 4842px #fff, 118px 3034px #fff, 742px 4864px #fff, 1518px 759px #fff,
    410px 3155px #fff, 269px 5879px #fff, 1730px 4266px #fff, 1300px 5930px #fff,
    449px 1578px #fff, 220px 3093px #fff, 1528px 3305px #fff, 1538px 4261px #fff,
    1693px 2047px #fff, 1702px 2917px #fff, 1000px 4515px #fff,
    1100px 2780px #fff, 1991px 2454px #fff, 536px 1523px #fff,
    1279px 2855px #fff, 195px 5721px #fff, 1620px 1887px #fff,
    1537px 1774px #fff, 1056px 1168px #fff, 127px 2305px #fff, 141px 3944px #fff,
    480px 4422px #fff, 1748px 4914px #fff, 117px 2338px #fff, 370px 4115px #fff,
    116px 4273px #fff, 1368px 507px #fff, 414px 3887px #fff, 71px 3898px #fff,
    81px 4735px #fff, 1124px 13px #fff, 1px 3660px #fff, 991px 4091px #fff,
    940px 305px #fff, 1233px 45px #fff, 6px 4701px #fff, 1214px 2100px #fff,
    818px 5165px #fff, 1879px 736px #fff, 1356px 5200px #fff, 85px 764px #fff,
    1217px 4341px #fff, 1440px 207px #fff, 371px 4923px #fff, 130px 438px #fff,
    606px 836px #fff, 1523px 4536px #fff, 569px 2515px #fff, 385px 4424px #fff,
    1153px 1066px #fff, 552px 1474px #fff, 1898px 1602px #fff, 328px 1373px #fff,
    608px 2552px #fff, 489px 5261px #fff, 1889px 4206px #fff, 24px 1900px #fff,
    333px 37px #fff, 1451px 5873px #fff, 1984px 2951px #fff, 184px 1433px #fff,
    1232px 3364px #fff, 1238px 3670px #fff, 1531px 5516px #fff,
    1121px 931px #fff, 105px 5107px #fff, 1968px 481px #fff, 1078px 4220px #fff,
    139px 4706px #fff, 264px 4815px #fff, 1158px 927px #fff, 26px 5803px #fff,
    46px 2738px #fff, 229px 3723px #fff, 1738px 3470px #fff, 401px 4218px #fff,
    66px 240px #fff, 788px 352px #fff, 731px 1376px #fff, 677px 54px #fff,
    1740px 5628px #fff, 1802px 818px #fff, 372px 3165px #fff, 1973px 1120px #fff,
    1431px 5405px #fff, 1819px 453px #fff, 1710px 4308px #fff, 415px 999px #fff,
    1336px 1029px #fff, 1565px 3559px #fff, 861px 4483px #fff,
    1486px 2252px #fff, 1682px 3129px #fff, 391px 851px #fff, 1017px 4783px #fff,
    1096px 799px #fff, 882px 3416px #fff, 579px 3330px #fff, 1907px 5779px #fff,
    821px 1553px #fff, 118px 909px #fff, 881px 2503px #fff, 445px 2989px #fff,
    948px 605px #fff, 1780px 3511px #fff, 1705px 204px #fff, 674px 1569px #fff,
    690px 4245px #fff, 1791px 4085px #fff, 1045px 4707px #fff,
    1112px 4353px #fff, 1216px 993px #fff, 1589px 1603px #fff, 506px 1193px #fff,
    752px 2978px #fff, 1073px 1021px #fff, 1314px 4327px #fff, 1403px 606px #fff,
    1287px 791px #fff, 1786px 1116px #fff, 1815px 3654px #fff, 545px 2945px #fff,
    959px 3758px #fff, 832px 3573px #fff, 810px 5912px #fff, 1559px 1717px #fff,
    442px 282px #fff, 56px 1077px #fff, 578px 4544px #fff, 622px 1008px #fff,
    694px 176px #fff, 191px 4766px #fff, 1887px 4397px #fff, 1239px 5543px #fff;
}
