form {
  display: flex;
}

.button {
  cursor: pointer;
  border: none;
  padding: 17px 32px; /* We have 17 to compensate for no border */
  border-radius: 4px;
  color: var(--white-100);
  background-color: var(--violet-dark-60);
  min-width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 150ms;
}

.buttonSuccess {
  background-color: var(--success-dark-90);
}

.buttonFailure {
  background-color: var(--error-dark-50);
}

.button:hover {
  background-color: var(--violet-dark-80);
}

.buttonSuccess:hover {
  background-color: var(--success-dark-90);
}

.buttonFailure:hover {
  background: var(--error-dark-50);
}

div.inputContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

input.emailInput {
  flex: 1;
  padding: 16px 24px;
  background-color: transparent;
  color: var(--white-100);
  border: 1px solid var(--white-80);
  border-radius: 4px;
  outline: none;
  transition: 300ms;
  margin-right: 12px;
}

input.emailInput:focus {
  border: 1.5px solid var(--white-100);
  transition: 300ms;
}

input.emailInputFailure {
  border: 1px solid var(--error-dark-50);
}

p.feedbackText {
  margin-top: 8px;
}

p.feedbackTextSuccess {
  color: var(--success-dark-50);
}

p.feedbackTextFailure {
  color: var(--error-dark-50);
}

@media screen and (max-width: 848px) {
  form {
    display: block;
  }
  .button {
    width: 100%;
    height: 50px;
    margin-top: 8px;
  }

  input.emailInput {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
  }

  p.feedbackText {
    text-align: center;
    margin-top: 0;
  }
}
