form {
  display: flex;
}

.button {
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--white-100);
  background: var(--violet-dark-60);
  min-width: 184px;
}

.button_success {
  background-color: var(--success-dark-90);
}

.button_failure {
  background-color: var(--error-dark-50);
}

.button:hover {
  background-color: var(--violet-dark-80);
}

.button_success:hover {
  background-color: var(--success-dark-90);
}

.button_failure:hover {
  background: var(--error-dark-50);
}

input.email_input {
  flex: 1;
  padding: 16px 24px;
  background-color: transparent;
  color: var(--white-100);
  border: 1px solid var(--white-80);
  border-radius: 4px;
  outline: none;
  transition: 300ms;
  margin-right: 12px;
}

input.email_input:focus {
  border: 1.5px solid var(--white-100);
  transition: 300ms;
}

input.email_input_failure {
  border: 1px solid var(--error-dark-50);
}

@media (max-width: 1099px) {
  form {
    display: block;
  }
  .button {
    width: 100%;
    height: 50px;
  }

  input.email_input {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
  }
}
