form {
  display: flex;
}

.button {
  position: relative;
  width: auto;
  border: 1px solid white;
  border-left: none;
  border-radius: 0 8px 8px 0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: white;

  background: #7e57c2;
  box-shadow: -12px 20px 50px rgba(126, 87, 194, 0.5);

  transition: 0.2s;
  margin-inline: 0;
}

.button_success {
  border: 1px solid #28a747;
  background: #28a747;
  box-shadow: -12px 20px 50px #28a747;
}

.button_failure {
  border: 1px solid #dc3545;
  background: #dc3545;
  box-shadow: -12px 20px 50px #dc3545;
}

.button:hover {
  background: #8c69c9;
  box-shadow: -12px 20px 50px rgba(139, 107, 194, 0.5);
}

.button_success:hover {
  background: #34b855;
  box-shadow: -12px 20px 50px #28a747;
}

.button_failure:hover {
  background: #df3f4f;
  box-shadow: -12px 20px 50px #dc3545;
}

input.email_input {
  flex: 1;
  padding: 20px;

  background: rgba(11, 18, 27, 0.25);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: white;

  border: 1px solid white;
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  margin-inline: 0;
  transition: 300ms;
}

input.email_input:focus {
  box-shadow: -12px 20px 50px rgba(126, 87, 194, 0.5);
  transition: 300ms;
}

input.email_input_success {
  border: 1px solid #28a747;
  box-shadow: -12px 20px 50px #28a747;
}

input.email_input_failure {
  border: 1px solid #dc3545;
  box-shadow: -12px 20px 50px #dc3545;
}

@media (max-width: 1099px) {
  form {
    display: block;
  }
  .button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
  }

  input.email_input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 0.5em;
    box-sizing: border-box;

    border: 1px solid white;
  }
}
