.wrapper {
  display: grid;
  padding: 16px 0;
  align-items: center;
  grid-template-columns: 40px repeat(12, 1fr) 40px;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    '. head head head head head head head head head head head head .'
    '. team team team team team team team team team team team team .';
  column-gap: 1.5%;
}

.teamHeader {
  font-family: 'iA Writer Duo S', monospace;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: -0.01em;
  grid-area: head;

  text-align: left;

  --scale: calc(0.75rem + 2vw);
  --smallest-font-size: 30px;
  --largest-font-size: 50px;
  --smallest-padding-size: 32px;
  --largest-padding-size: 64px;

  padding-bottom: clamp(
    var(--smallest-padding-size),
    var(--scale),
    var(--largest-padding-size)
  );

  font-size: clamp(
    var(--smallest-font-size),
    var(--scale),
    var(--largest-font-size)
  );
}

.teamHeader {
  text-align: center;
}

.teamWrapper {
  transition-property: max-width;
  transition: 300ms;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-area: team;
}
