.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 175px;
}

.profile img {
  border-radius: 8px;
  max-width: 125px;
  max-height: 125px;
  margin-bottom: 8px;
}

.profile p {
  text-align: center;
}

.profile small {
  color: var(--black-60);
  text-align: center;
}

.profile span svg {
  color: var(--black-60);
}

.profile span svg:hover {
  color: var(--white-100);
}

.profile span {
  text-align: center;
}

.profile span > a + a {
  padding-left: 8px;
}

.profile span > a {
  color: var(--white-100);
  font-size: 20px;
}

.farcaster {
  display: inline-block;
  position: relative;
  top: 5px;
}
