.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 175px;
}

.profile img {
  border-radius: 8px;
  max-width: 125px;
  max-height: 125px;
  margin-bottom: 8px;
}

.profile p {
  font-size: 18px;
  text-align: center;
}

.profile small {
  color: var(--grey);
  font-size: 16px;
  text-align: center;
}

.profile span svg {
  color: var(--grey);
}

.profile span svg:hover {
  color: var(--white);
}

.profile span {
  text-align: center;
}

.profile span > a + a {
  padding-left: 8px;
}

.profile span > a {
  color: var(--white);
  font-size: 20px;
}
