div.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

div.loading {
  width: 380px;
  min-height: 438px;
  background: var(--auth-modal-bg);
  border: var(--auth-modal-border-color) solid 1px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  padding: 19px 17px;
  box-sizing: border-box;
}

div.innerLoading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

div.content {
  text-align: left;
  width: 100%;
}

h2.header {
  font-size: var(--xl-font-20);
  font-weight: 700;
  color: var(--fg);
  margin: 0;
  line-height: var(--line-height-display);
}

p.description {
  font-size: var(--s-font-14);
  line-height: var(--line-height-text);
  color: var(--fg);
  margin: 5px 0;
  font-weight: var(--normal);
}

div.separator {
  width: 100%;
  height: 1px;
  background: var(--border);
  margin: 8px 0;
}

div.spinner {
  display: flex;
  justify-content: center;
  margin: auto;
}
