[package]
name = "blob"
description = "Blob service"
homepage = "https://comm.app"
license = "BSD-3-Clause"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
aws-config = "0.51.0"
aws-sdk-dynamodb = "0.21.0"
aws-sdk-s3 = "0.21.0"
aws-types = "0.51.0"
chrono = "0.4"
clap = { version = "4.0", features = ["derive", "env"] }
derive_more = "0.99"
once_cell = "1.17"
prost = "0.11"
rust-lib = { path = "../rust-lib" }
tokio = { version = "1.24", features = ["rt-multi-thread"]}
tokio-stream = "0.1"
tonic = "0.8"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"]}

[build-dependencies]
tonic-build = "0.8"
