[package]
name = "blob"
description = "Blob service"
homepage = "https://comm.app"
license = "BSD-3-Clause"
version = "0.1.0"
edition = "2021"
links = "blob"

[dependencies]
anyhow = "1.0"
aws-config = "0.51.0"
aws-sdk-dynamodb = "0.21.0"
aws-sdk-s3 = "0.21.0"
aws-types = "0.51.0"
chrono = "0.4.19"
prost = "0.11"
tokio = { version = "1.21", features = ["rt-multi-thread"]}
tokio-stream = "0.1"
tonic = "0.8"

[build-dependencies]
tonic-build = "0.8"
