.modalDescription {
  color: var(--text-background-secondary-default);
  font-size: var(--m-font-16);
  margin-bottom: 24px;
}

.farcasterChannelTitle {
  color: var(--text-background-primary-default);
  font-size: var(--l-font-18);
  margin-bottom: 8px;
}

.farcasterChannelText {
  color: var(--text-background-secondary-default);
  font-size: var(--m-font-16);
  font-weight: var(--bold);
}

.noChannelText {
  color: var(--text-background-secondary-default);
  font-size: var(--m-font-16);
}

.errorMessage {
  position: absolute;
  color: var(--text-background-danger-default);
  font-size: var(--s-font-14);
  margin-top: 4px;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.errorMessageVisible {
  visibility: visible;
}
