div.modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 4;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.modalContainer {
  display: flex;
  background-color: var(--modal-bg);
  border-radius: 8px;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
}

div.modalContainerSmall {
  width: 330px;
}

div.modalContainerLarge {
  width: 500px;
}

.modalClose {
  color: var(--modal-close-color);
}

.modalClose:hover {
  color: var(--modal-close-color-hover);
}

div.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 0 32px;
}

h2.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--fg);
  display: flex;
  align-items: center;
  column-gap: 8px;
}
