div.modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 4;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
