div.splashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #100e16;
}

div.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
