div.splashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
