.container {
  padding: 40px;
  width: 456px;
}

.header {
  color: var(--fg);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
  padding-bottom: 55px;
}

.content {
  margin-top: 32px;
}

.content ul {
  list-style-type: none;
}

.content li {
  color: var(--account-settings-label);
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.logoutContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg);
}

.logoutLabel {
  color: var(--account-settings-label);
}

.username {
  color: var(--fg);
}

.buttonText {
  color: var(--account-button-color);
  line-height: var(--line-height-text);
}

.passwordContainer {
  display: flex;
}

.password {
  align-items: center;
  padding-right: 16px;
}

.editPasswordLink {
  color: var(--account-settings-label);
  cursor: pointer;
}
