.modal_body {
  padding: 24px 32px;
  color: var(--fg);
}
.modal_body p {
  font-size: var(--s-font-14);
}

.deletion_warning {
  font-weight: var(--bold);
  margin-bottom: 16px;
}
.confirm_password {
  margin-bottom: 10px;
}

.form_title {
  font-weight: var(--bold);
  margin-bottom: 8px;
}
.form_footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 24px;
}
.form_error {
  font-size: var(--xs-font-12);
  color: var(--error);
  font-style: italic;
  padding-left: 6px;
  align-self: center;
}
