.modalBody {
  color: var(--fg);
}
.modalBody p {
  font-size: var(--s-font-14);
}

.deletionWarning {
  font-weight: var(--bold);
}

.formError {
  font-size: var(--xs-font-12);
  color: var(--error);
  font-style: italic;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.errorPlaceholder {
  height: 24px;
}

.infoContainer {
  display: flex;
  column-gap: 8px;
}
