.container {
  flex: 1;
  background-color: var(--frame-background-primary-default);
  overflow: auto;
}

.contentContainer {
  padding: 40px;
  width: 456px;
  overflow-y: auto;
}

.header {
  color: var(--text-background-primary-default);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
  padding-bottom: 55px;
}

.content {
  margin-top: 32px;
}

.content ul {
  list-style-type: none;
}

.content li {
  color: var(--text-background-tertiary-default);
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content li:not(:last-child) {
  border-bottom: 1px solid var(--separator-background-primary-default);
}

.logoutContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logoutLabel {
  color: var(--text-background-tertiary-default);
}

.username {
  color: var(--text-background-primary-default);
}

.buttonText {
  color: var(--link-background-primary-default);
  line-height: var(--line-height-text);
}

.preferencesContainer {
  padding-top: 24px;
}

.preferencesHeader {
  color: var(--text-background-primary-default);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
}
