.modal_body {
  color: var(--fg);
}
.modal_body p {
  font-size: var(--s-font-14);
}

.deletion_warning {
  font-weight: var(--bold);
}

.form_error {
  font-size: var(--xs-font-12);
  color: var(--error);
  font-style: italic;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.errorPlaceholder {
  height: 24px;
}

.infoContainer {
  display: flex;
  column-gap: 8px;
}
