.container {
  padding: 40px;
  width: 456px;
}

.header {
  color: var(--fg);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
  padding-bottom: 55px;
}

.content ul {
  list-style-type: none;
}

.content li {
  color: var(--account-settings-label);
  border-bottom: 1px solid var(--border-color);
  padding: 24px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoutContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg);
}

.logoutLabel {
  color: var(--account-settings-label);
}

.username {
  color: var(--fg);
}

.button {
  color: var(--account-button-color);
  background-color: transparent;
  font-size: var(--m-font-16);
  border: none;
  cursor: pointer;
  line-height: var(--line-height-text);
  white-space: nowrap;
}

.passwordContainer {
  display: flex;
}

.password {
  align-items: center;
  padding-right: 16px;
}

.editPasswordLink {
  color: var(--account-settings-label);
  cursor: pointer;
}
