.container {
  flex: 1;
}

.contentContainer {
  padding: 16px;
}

.subheading {
  color: var(--text-background-primary-default);
  font-size: var(--m-font-16);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
  margin-bottom: 16px;
}

.button {
  width: 192px;
}

.explanation {
  margin-top: 16px;
  color: var(--text-background-tertiary-default);
}
