.container {
  flex: 1;
  background-color: var(--panel-background-primary-default);
}

.contentContainer {
  padding: 40px;
  width: 343px;
}

.header {
  color: var(--text-background-primary-default);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
  padding-bottom: 40px;
}

.subheading {
  color: var(--text-background-secondary-default);
  font-size: var(--xl-font-20);
  font-weight: var(--semi-bold);
  line-height: var(--line-height-display);
  padding-bottom: 40px;
}

.button {
  width: 100%;
}

.explanation {
  padding-top: 8px;
  color: var(--text-background-tertiary-default);
}
