.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.container:not(:last-child) {
  border-bottom: 1px solid var(--separator-background-primary-default);
}

.container:hover {
  cursor: pointer;
  background-color: var(--listItem-background-primary-hover);
  border-radius: 8px;
}
