.modal-form-error {
  font-size: var(--xs-font-12);
  color: var(--text-background-danger-default);
  font-style: italic;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.errorPlaceholder {
  height: 24px;
}

.form-content {
  display: flex;
  flex-direction: column;
}
.form-content input:not(:last-child) {
  margin-bottom: 16px;
}

.form-content input[type='password'] {
  width: auto;
}

.username-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}
.username-label {
  color: var(--text-background-tertiary-default);
}
.username {
  color: var(--text-background-primary-default);
}
