.modal-body {
  padding: 24px 40px 32px;
  color: var(--fg);
}
.form-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 8px;
}
.modal-form-error {
  font-size: var(--xs-font-12);
  color: var(--error);
  font-style: italic;
  padding-left: 6px;
  align-self: center;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.form-content input {
  margin-bottom: 16px;
}
.form-content input[type='password'] {
  width: auto;
}

.username-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fg);
  margin-bottom: 16px;
}
.username-label {
  color: var(--account-settings-label);
}
.username {
  color: var(--fg);
}
