.modalFormError {
  font-size: var(--xs-font-12);
  color: var(--text-background-danger-default);
  font-style: italic;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.errorPlaceholder {
  height: 24px;
}

.formContent {
  display: flex;
  flex-direction: column;
}
.formContent input:not(:last-child) {
  margin-bottom: 16px;
}

.formContent input[type='password'] {
  width: auto;
}

.usernameContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}
.usernameLabel {
  color: var(--text-background-tertiary-default);
}
.username {
  color: var(--text-background-primary-default);
}
