.modalBody {
  padding: 24px 40px 32px;
  color: var(--fg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 8px;
}

.modalError {
  font-size: var(--xs-font-12);
  color: var(--error);
  font-style: italic;
  padding-left: 6px;
  align-self: center;
}
