.container {
  padding: 0 32px 32px;
  width: 552px;
  max-width: 80vw;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.userAvatarContainer:hover {
  cursor: pointer;
}

.usernameContainer {
  padding-left: 16px;
}

.usernameText {
  font-size: var(--xxl-font-24);
  color: var(--fg);
  font-weight: 500;
}

.copyUsernameContainer {
  display: flex;
  align-items: center;
  color: var(--purple-link);
  margin-top: 8px;
}

.copyUsernameContainer:hover {
  cursor: pointer;
}

.copyUsernameText {
  font-size: var(--xs-font-12);
  margin-left: 4px;
}

.multiButtonRowContainer {
  display: flex;
  column-gap: 8px;
}

.actionButton {
  column-gap: 8px;
  flex: 1;
  width: 100%;
}

.incomingFriendRequestText {
  color: var(--fg);
  margin: 24px 0 8px 0;
}
