name: JSI Codegen

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: sudo ./install_protobuf.sh
        working-directory: ./scripts
        run: sudo ./install_protobuf.sh

      - name: Fix node-gyp
        run: python3 -m pip install packaging setuptools

      - name: yarn ci-cleaninstall
        run: yarn ci-cleaninstall

      - name: '[native] JSI Codegen'
        working-directory: ./native
        run: yarn codegen-jsi && git diff --exit-code
