* {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-attachment: fixed;
  margin-top: 62px;
}
a {
  text-decoration: none;
  color: #2A5DB0;
}
input[type='text'], input[type='password'], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #DDDDDD;
  border-radius: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
}
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0;
}

header.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-attachment: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
div.main-header {
  font-family: 'Anaheim', sans-serif;
  height: 62px;
}
div.main-header > h1 {
  position: absolute;
  padding-top: 5px;
  padding-left: 16px;
  color: white;
  font-size: 38px;
}
ul.nav-bar {
  position: absolute;
  padding-left: 180px;
}
ul.nav-bar > li {
  display: inline-block;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
ul.nav-bar > li.current-tab {
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-attachment: fixed;
  cursor: default;
}
ul.nav-bar > li > div {
  padding: 3px 20px 3px 20px;
}
ul.nav-bar > li > div > a {
  color: #FFFFFF;
}
ul.nav-bar > li.current-tab > div > a {
  color: #444444;
}
ul.nav-bar > li.current-tab > div {
  background-color: rgba(255,255,255,0.84);
  padding: 18px 20px 19px 20px;
  height: 25px;
}
svg.nav-bar-icon {
  padding-right: 8px;
  font-size: 20px;
}
div.chatBadge {
  display: inline-block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-left: 8px;
  color: white;
  background-color: red;
  border-radius: 13px;
  font-size: 18px;
  text-align: center;
}

div.main-content-container {
  height: 100%;
  position: relative;
}
div.main-content {
  background-color: rgba(255,255,255,0.84);
  min-height: 100%;
  overflow-x: hidden;
}

table.calendar {
  table-layout: fixed;
  padding: 10px;
  width: 100%;
}
table.calendar > thead > tr > th {
  padding-bottom: 6px;
  color: #888888;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}
textarea.entry-text {
  background: none;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
  overflow-y: hidden;
  padding-right: 15px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 11px;
}
table.calendar td.day {
  border: 1px solid transparent;
  background-color: white;
  position: relative;
  vertical-align: top;
  line-height: 0;
  cursor: text;
  height: 120px;
}
td.day > div.entry-container {
  overflow: auto;
  height: 120px;
}
td.day > div.focused-entry-container {
  height: 100px !important;
}
div.entry-container > div.entry-container-spacer {
  height: 13px;
}
div.entry {
  padding: 5px;
  box-shadow: inset 0px 0px 0px 2px white;
  border-radius: 5px;
  position: relative;
}
div.dark-entry {
  color: white;
}
div.dark-entry textarea.entry-text {
  color: white;
}
div.dark-entry div.action-links > a {
  color: lightgray;
}
div.dark-entry div.action-links > a:hover {
  color: white;
}
span.entry-loading {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 12px;
}
span.entry-error {
  position: absolute;
  top: 11px;
  right: 5px;
  font-size: 16px;
  width: 6px;
  color: red !important;
}
div.action-links {
  line-height: 90%;
  margin-top: 3px;
  font-size: 16px;
}
div.day-action-links {
  padding-left: 3px;
  margin-bottom: 1px;
}
div.action-links a + a {
  margin-left: 6px;
}
span.action-links-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  position: relative;
  bottom: 1px;
  padding-left: 5px;
}
span.right-action-links {
  float: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
}
div.action-links svg {
  fill: gray;
  width: 10px;
  height: 10px;
}
div.action-links svg.history {
  position: relative;
  top: 1px;
}
div.dark-entry div.action-links svg {
  fill: lightgray;
}
div.action-links a:hover svg {
  fill: black;
}
div.dark-entry div.action-links a:hover svg {
  fill: white;
}
div.focused-entry {
  z-index: 3 !important;
}
div.action-links a {
  color: gray;
}
div.action-links a:hover {
  color: black;
}
td.day > h2 {
  position: absolute;
  bottom: 2px;
  right: 3px;
  color: #999999;
  font-size: 32px;
  line-height: 32px;
  z-index: 1;
  font-family: 'Anaheim', sans-serif;
}
td.current-day > h2 {
  color: #FF944D;
}

div.upper-right {
  float: right;
  padding: 15px 16px;
}
span.loading-indicator-loading {
  display: inline-block;
}
span.loading-indicator-loading:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-indicator-loading 1.2s linear infinite;
}
span.loading-indicator-loading-large {
  display: inline-block;
}
span.loading-indicator-loading-large:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-indicator-loading 1.2s linear infinite;
}
span.loading-indicator-loading-small {
  display: inline-block;
}
span.loading-indicator-loading-small:after {
  content: " ";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-indicator-loading 1.2s linear infinite;
}
span.loading-indicator-black:after {
  border-color: #000 transparent #000 transparent;
}
@keyframes loading-indicator-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span.loading-indicator-error {
  font-weight: bold;
  color: white;
  line-height: 0;
}
span.loading-indicator-error-black {
  font-weight: bold;
  color: red;
  line-height: 0;
}

div.calendar-container {
}

h2.calendar-nav {
  font-family: 'Anaheim', sans-serif;
  text-align: center;
  margin: 8px auto 0px auto;
  width: 200px;
  color: #333333;
}
h2.calendar-nav > a.previous-month-link {
  margin-left: -100px;
  color: #036AFF;
}
h2.calendar-nav > a.next-month-link {
  margin-right: -100px;
  color: #036AFF;
}
h2.calendar-nav > div.calendar-month-name {
  display: inline-block;
  width: 200px;
}

div.calendar-header {
}
a.calendar-filters-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  float: left;
  color: white;
  background-color: rgba(68,68,85,0.67);
  padding: 8px 18px;
  border-radius: 18px;
  margin: 0 15px 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
a.calendar-filters-button > svg {
  padding-right: 5px;
}
div.calendar-content {
  min-height: calc(100% - 72px);
  padding-top: 10px;
}

div.account-bar {
  background-color: #F8F8F8;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0 6px;
  cursor: pointer;
  float: right;
}
div.account-button {
  padding: 3px 4px 3px 8px;
  font-size: 0;
}
div.account-button > span {
  font-size: 16px;
}
div.account-menu {
  outline: none;
}
div.account-menu > div {
  border-top: 1px solid #C8C8C8;
  padding: 3px 4px 3px 8px;
}
span.username {
  display: inline-block;
  color: #2A5DB0;
  cursor: pointer;
}
svg.account-caret {
  padding-left: 6px;
  fill: #2A5DB0;
  cursor: pointer;
  height: 10px;
  width: 10px;
}

div.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}
div.small-modal-overlay {
  padding-top: 100px;
}
div.large-modal-overlay {
  padding-top: 50px;
}
div.modal-container {
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-attachment: fixed;
  margin: auto;
  max-width: 330px;
  border-radius: 15px;
}
div.large-modal-container {
  max-width: 500px;
}
div.modal {
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .3),
    0 0 0 1px rgba(0, 0, 0, .1);
  background-color: rgba(255,255,255,0.71);
  border-radius: 15px;
}
span.modal-close {
  float: right;
  font-size: 32px;
  font-weight: 300;
  line-height: 30px;
}
span.modal-close:hover {
  color: black;
  cursor: pointer;
}
div.modal-header {
  padding: 8px 15px;
  font-family: 'Open Sans', sans-serif;
}
div.modal-header > h2 {
  font-size: 22px;
  font-weight: 300;
}
div.modal-body {
  padding: 6px 6px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div.modal-body p {
  padding: 1px 3px 4px 3px;
  font-size: 14px;
  text-align: center;
}
div.modal-body p.form-pre-footer {
  padding-top: 5px;
  font-size: 12px;
  font-style: italic;
}
div.modal-body input, div.modal-body textarea {
  margin: 3px;
}
div.modal-body input[type='text'],
div.modal-body input[type='password'],
div.modal-body textarea {
  font-size: 14px;
  padding: 1px;
  width: 175px;
}
div.large-modal-container div.modal-body input[type='text'],
div.large-modal-container div.modal-body input[type='password'],
div.large-modal-container div.modal-body textarea {
  width: 275px;
}
div.modal-body input[type='submit'] {
  padding: 3px 9px;
  font-size: 12px;
  margin-right: 3px;
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #444444;
  margin-top: 1px;
  cursor: pointer;
}
div.modal-body input[type='submit']:hover {
  text-decoration: underline;
}
div.modal-body input[type='submit']:disabled {
  cursor: initial;
  text-decoration: none;
  color: #999999;
}

div.modal-body div.form-title {
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  vertical-align: top;
  width: 110px;
}
div.large-modal-container div.modal-body div.form-title {
  width: 140px;
}
div.modal-body div.form-content {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
}
div.modal-body div.form-subtitle {
  font-size: 12px;
  padding-left: 4px;
  font-style: italic;
}

div.form-enum-selector {
  display: inline-block;
  padding-bottom: 4px;
}
div.form-enum-selector > div.form-enum-container {
  padding-top: 5px;
}
div.form-enum-selector > div.form-enum-container > input {
  vertical-align: top;
  margin-top: 4px;
}
div.form-enum-selector div.form-enum-option {
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-left: 3px;
}
div.form-enum-selector span.form-enum-description {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 13px;
  max-width: 260px;
  color: gray;
}
div.color-title {
  margin-top: 4px;
}

div.modal-body div.form-footer {
  margin-top: 5px;
  border-top: 2px solid #EFEFEF;
  min-height: 26px;
  padding: 7px 4px 4px 0;
}
div.modal-body div.form-footer span.modal-form-error {
  display: inline-block;
  font-size: 14px;
  color: red;
  font-style: italic;
  padding-top: 5px;
}
div.modal-body div.form-footer span.form-submit {
  display: inline-block;
  float: right;
}

div.form-text > div.form-title {
  vertical-align: initial;
}
div.form-text > div.form-content {
  margin-left: 3px;
  margin-bottom: 3px;
}

div.form-text > div.form-float-title {
  float: left;
  text-align: right;
  padding-right: 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 110px;
}
div.form-text > div.form-float-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 1px 20px 3px 4px;
  margin-top: 5px;
}

.verified-status-true {
  color: green;
}
.verified-status-false {
  color: red;
}

.hidden {
  display: none;
}
.italic {
  font-style: italic;
}

div.history-modal-body {
  position: relative;
  height: 240px;
  overflow: hidden;
}
span.history-loading {
  position: absolute;
  right: 8px;
  top: 6px;
}
span.history-error {
  position: absolute;
  line-height: 16px;
  font-size: 16px;
  right: 12px;
  top: 6px;
}
div.entry-history {
  position: absolute;
  width: 100%;
  top: 27px;
  box-sizing: border-box;
}
div.entry-history-visible {
  left: 0;
}
div.entry-history-invisible {
  left: 100%;
}
@keyframes entry-history-visible-animation {
  from { left: 100%; }
  to { left: 0; }
}
div.entry-history-visible-animate {
  left: 0;
  animation-name: entry-history-visible-animation;
  animation-duration: 0.5s;
}
@keyframes entry-history-invisible-animation {
  from { left: 0; }
  to { left: 100%; }
}
div.entry-history-invisible-animate {
  left: 100%;
  animation-name: entry-history-invisible-animation;
  animation-duration: 0.5s;
}
div.history-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #F4F4F4;
  box-sizing: border-box;
}
a.all-history-button {
  position: absolute;
  top: 5px;
  left: 7px;
}
span.history-date {
  float: left;
  width: 100%;
  text-align: center;
}
div.entry-history ul {
  overflow: auto;
  height: 211px;
}
div.entry-history li {
  border-bottom: 2px solid lightgray;
  margin: 5px;
  padding-bottom: 8px;
  padding-top: 1px;
}
div.entry-history li:last-child {
  border-bottom: none;
}
span.entry-author {
  float: left;
  padding-left: 11px;
  font-size: 12px;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 50%;
  box-sizing: border-box;
}
span.entry-username {
  color: #2A5DB0;
}
time.entry-time {
  float: right;
  padding-right: 11px;
  font-size: 12px;
  color: gray;
}
span.entry-thread {
  float: right;
  padding-right: 11px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: -2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
}
div.clear {
  clear: both;
}
div.entry-history-entry {
  margin: 5px;
  font-size: 13px;
  word-break: break-all;
  white-space: pre-wrap;
}
div.day-history {
  position: absolute;
  width: 100%;
  top: 27px;
  box-sizing: border-box;
}
div.day-history-visible {
  left: 0;
}
div.day-history-invisible {
  left: -100%;
}
@keyframes day-history-visible-animation {
  from { left: -100%; }
  to { left: 0; }
}
div.day-history-visible-animate {
  left: 0;
  animation-name: day-history-visible-animation;
  animation-duration: 0.5s;
}
@keyframes day-history-invisible-animation {
  from { left: 0; }
  to { left: -100%; }
}
div.day-history-invisible-animate {
  left: -100%;
  animation-name: day-history-invisible-animation;
  animation-duration: 0.5s;
}
div.day-history ul {
  overflow: auto;
  height: 211px;
}
div.day-history li {
  padding-bottom: 2px;
}
div.day-history li:last-child {
  padding-bottom: 8px;
}
span.deleted-entry {
  float: left;
  padding-top: 2px;
  padding-left: 11px;
  font-size: 12px;
  line-height: 17px;
}
span.deleted-entry-label {
  color: red;
  font-style: italic;
}
span.restore-entry-label {
  padding-left: 5px;
}
span.restore-loading {
  position: relative;
  top: 2px;
  left: 5px;
  width: 12px;
}
span.restore-error {
  position: relative;
  top: 1px;
  left: 7px;
  font-size: 15px;
}
a.revision-history-button {
  float: right;
  padding-top: 2px;
  padding-right: 11px;
  font-size: 12px;
  font-weight: bold;
}
div.entry-history-restored {
  font-style: italic;
  font-size: 13px;
  padding-left: 11px;
}
div.entry-history-deleted {
  font-style: italic;
  font-size: 13px;
  padding-left: 11px;
  color: red;
}

div.pick-thread {
  position: absolute;
  left: 4px;
  bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: white;
  border-radius: 3px;
  white-space: nowrap;
  line-height: normal;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}
span.select-thread {
  color: black;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
}
div.pick-thread > div.pick-thread-option {
  border-bottom: 1px solid #D3D3D3;
  padding: 1px 10px 1px 25px;
  position: relative;
}
div.pick-thread > div.pick-thread-option:hover {
  background-color: #F2F2F2;
}
div.pick-thread > div:last-child {
  border-bottom: none;
}
div.color-preview {
  width: 12px;
  height: 12px;
  left: 6px;
  position: absolute;
  top: 4px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
div.select-thread-name {
  padding-top: 1px;
}
div.thread-picker-pager-container {
  text-align: center;
  height: 15px;
  margin-top: -2px;
  cursor: default;
  background-color: #EAEAEA;
  position: relative;
  border-radius: 0 0 3px 3px;
}
div.thread-picker-pager {
  position: relative;
  top: -2px;
}
span.thread-picker-pager-status {
  text-transform: uppercase;
  color: #777777;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
}
svg.thread-picker-pager-svg {
  fill: #777777;
  vertical-align: middle;
  width: 13px;
  height: 13px;
}
a.thread-picker-pager-button {
}
a.thread-picker-pager-button > svg.thread-picker-pager-svg {
  fill: #2A5DB0;
}

div.edit-thread-color-container {
  margin-top: -5px;
}
div.form-textarea-container {
  margin-top: 1px;
}
div.edit-thread-privacy-container {
  margin-bottom: 6px;
}
div.edit-thread-account-password {
  border-top: 2px solid #EFEFEF;
  padding-top: 4px;
  margin-top: 2px;
}
div.user-settings-current-password {
  border-top: 2px solid #EFEFEF;
  padding-top: 4px;
  margin-top: 5px;
}
div.modal-body p.confirm-account-password {
  padding: 3px 0px 5px 0px;
  font-style: italic;
  font-size: 13px;
  color: #777777;
}
ul.tab-panel {
  background-color: #F4F4F4;
  padding-left: 10px;
  padding-top: 5px;
}
ul.tab-panel > li {
  display: inline-block;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
}
ul.tab-panel > li.current-tab {
  background-color: white;
  border-radius: 5px 5px 0 0;
  cursor: default;
}
ul.tab-panel > li > a {
  color: #555555;
}
ul.tab-panel > li.current-tab > a {
  color: #123a7b;
  cursor: default;
}
ul.tab-panel > li.delete-tab > a {
  color: #ff0000 !important;
}

div.new-thread-privacy-container {
  margin-bottom: 3px;
  margin-top: -6px;
}

span.page-loading {
  margin-top: 5px;
  margin-right: 12px;
  float: left;
}
span.page-error {
  margin: 15px;
  font-size: 42px;
  float: left;
  color: red;
}

div.color-picker-container {
  outline: none;
  position: relative;
}
div.color-picker-button {
  margin: 6px 3px;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  border: solid 1px darkgray;
  background: #eee;
  color: #333;
  vertical-align: middle;
  border-radius: 3px;
}
div.color-picker-preview {
  width: 25px;
  height: 16px;
  border: solid 1px #222;
  margin-right: 5px;
  float: left;
  z-index: 0;
}
div.color-picker-down-symbol {
  padding: 1px 0;
  height: 16px;
  line-height: 16px;
  float: left;
  font-size: 10px;
}
div.color-picker-selector {
  position: absolute;
  left: 4px;
  top: 34px;
}

div.intro-modal {
  padding: 10px 21px 12px 21px;
  border-radius: 5px;
  border: 1px solid #C8C8C8;
  background-color: #F8F8F8;
  width: 310px;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin-top: 100px;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

div.splash-container {
  top: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
div.splash-header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
  z-index: 3;
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-attachment: fixed;
  padding: 0 10px;
}
div.splash-top-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-repeat-y: repeat;
  padding-top: 61px;
}
div.splash-top {
  max-width: 1024px;
  margin: 0 auto;
}
div.splash-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 7px;
}
div.splash-action-links > * {
  padding-right: 15px;
  color: white;
  font-weight: 300;
}
div.splash-action-links > *:last-child {
  padding-right: 0;
}
header.splash-header h1 {
  font-family: 'Anaheim', sans-serif;
  color: white;
  font-size: 38px;
}
header.splash-header span.request-access {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
}
div.splash-body {
  padding: 30px 0 20px 0;
}
div.splash-intro {
  text-align: center;
  margin-bottom: 50px;
}
p.splash-intro-header {
  color: white;
  font-size: 28px;
  font-weight: 300;
}
p.splash-intro-description {
  color: white;
  font-size: 21px;
  font-weight: 300;
  padding-top: 5px;
}
div.splash-devices {
  display: flex;
  justify-content: space-evenly;
}
div.splash-bottom-container {
  z-index: 2;
  flex-grow: 1;
}
div.splash-bottom {
  margin-top: 728px;
  background-image: url(../images/background.png);
  background-size: 3000px 2000px;
  background-attachment: fixed;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
div.splash-header-rest {
  background-color: rgba(255,255,255,0.84);
  flex-grow: 1;
}
div.splash-header-overscroll {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  background-color: white;
}
div.splash-prompt {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.splash-prompt-header {
  color: #282828;
  font-size: 21px;
  padding-top: 25px;
  text-align: center;
}
p.splash-prompt-description {
  color: #282828;
  font-size: 18px;
  padding-top: 9px;
  text-align: center;
}
div.splash-request-access-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.splash-request-access-form {
  display: flex;
  align-items: center;
}
input.splash-request-access-email {
  width: 300px;
  border: 0;
  padding: 10px 10px 8px 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgba(119,119,119,0.13);
  color: black;
}
input.splash-request-access-email::placeholder,
input.splash-request-access-email::-ms-input-placeholder {
  color: #777777;
}
button.splash-request-access-submit {
  border: 0px;
  padding: 10px 10px 8px 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgba(0,170,0,0.53);
  color: white;
  margin-left: 15px;
  cursor: pointer;
  width: 78px;
  height: 39px;
}
p.splash-android-warning {
  font-size: 14px;
  padding: 5px;
}
p.splash-request-access-error {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: red;
}
p.splash-request-access-success {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

div.custom-select {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  border-radius: .3em;
  background-color: #f5f5f5;
  margin-left: 15px;
}
div.custom-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  pointer-events: none;
  display: none;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666;
  margin-top: -3px;
}
div.custom-select select {
  width: 100%;
  margin: 0;
  outline: none;
  padding: .6em .8em .5em .8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  border-radius: .2em;
}
div.custom-select select:focus {
  color: #222;
  outline: none;
}
@supports (-webkit-appearance: none)
  or (appearance: none)
  or ((-moz-appearance: none) and (mask-type: alpha)) {

  div.custom-select::after {
    display: block;
  }
  div.custom-select select {
    padding-right: 2em;
    background: none;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  div.custom-select select:focus {
    border-color: #aaa;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2.0),
  only screen and (min--moz-device-pixel-ratio: 2.0),
  only screen and (-o-min-device-pixel-ratio: 2.0/1),
  only screen and (min-device-pixel-ratio: 2.0),
  only screen and (min-resolution: 320dpi),
  only screen and (min-resolution: 2.0dppx) {
  header.header,
  header.main-header,
  div.splash-header-container,
  div.splash-top-container,
  div.splash-bottom,
  div.modal-container,
  ul.nav-bar > li.current-tab,
  div.calendar-filters-container {
    background-image: url(../images/background@2x.png);
  }
}

@media (hover: none) {
  div.splash-header-container, div.splash-top-container, div.splash-bottom {
    background-attachment: initial;
  }
}
