.roleModalDescription {
  color: var(--change-member-role-modal-description-text);
  padding: 16px 32px 0 32px;
  font-size: medium;
  line-height: 1.5;
}

.roleModalMember {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.roleModalMemberAvatar {
  margin-right: 4px;
}

.roleModalMemberName {
  margin-left: 4px;
  font-size: large;
  color: var(--change-member-role-modal-generic-text);
}

.roleModalRoleSelector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.roleModalActionButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  align-items: stretch;
  margin: 16px 200px 16px 0;
}

.roleModalSaveButton {
  margin-left: 8px;
  padding: 14px 32px;
}

.roleModalBackButton {
  padding: 14px 32px;
}

.roleModalDisabled {
  color: var(--change-member-role-modal-description-text);
  background-color: var(--change-member-role-modal-disabled-background);
  padding: 8px;
  width: 73%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.infoIcon {
  margin-right: 4px;
  margin-bottom: 12px;
}

.infoText {
  font-size: var(--s-font-14);
  padding: 4px;
}
