div.modalContentContainer {
  width: 383px;
  height: 617px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

div.membersListTabs {
  flex: 1;
  overflow: hidden;
}

div.addNewMembers button {
  width: 100%;
}

div.membersList {
  overflow: auto;
  padding: 8px 0;
  color: var(--members-modal-member-text);
}

div.noScroll {
  overflow: hidden;
}

div.memberContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
}

div.memberContainer:hover {
  color: var(--members-modal-member-text-hover);
}

div.memberContainerWithMenuOpen {
  color: var(--members-modal-member-text-hover);
}

div.memberInfo {
  font-size: var(--l-font-18);
  display: flex;
  align-items: center;
  gap: 10px;
}

div.memberAction {
  position: relative;
}

h5.memberletterHeader {
  margin: 16px;
  color: var(--members-modal-member-text);
  font-size: var(--s-font-14);
}

div.noUsers {
  padding-top: 16px;
  text-align: center;
}

div.addMembersContent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: var(--fg);
  width: 383px;
  height: 617px;
}

div.addMembersPendingList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px;
}

div.addMembersListContainer {
  overflow: auto;
  flex: 1;
}

div.addMembersFooter {
  display: flex;
  justify-content: end;
  column-gap: 16px;
  margin-top: 16px;
}
