div.membersList {
  overflow: auto;
  padding: 8px 0;
  color: var(--members-modal-member-text);
}

div.noScroll {
  overflow: hidden;
}

div.memberContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
}

div.memberContainer:hover {
  color: var(--members-modal-member-text-hover);
}

div.memberContainerWithMenuOpen {
  color: var(--members-modal-member-text-hover);
}

div.memberInfo {
  font-size: var(--l-font-18);
  display: flex;
  align-items: center;
  gap: 10px;
}

div.memberAction {
  position: relative;
}

h5.memberletterHeader {
  margin: 16px;
  color: var(--members-modal-member-text);
  font-size: var(--s-font-14);
}

div.noUsers {
  padding-top: 16px;
  text-align: center;
}
