div.modalContentContainer {
  width: 383px;
  height: 617px;
}

div.membersList {
  overflow: auto;
  padding: 8px 0;
  color: var(--members-modal-member-text);
}

div.noScroll {
  overflow: hidden;
}

div.memberContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
}

div.memberContainer:hover {
  color: var(--members-modal-member-text-hover);
}

div.memberContainerWithMenuOpen {
  color: var(--members-modal-member-text-hover);
}

div.memberInfo {
  font-size: var(--l-font-18);
  display: flex;
  align-items: center;
  gap: 10px;
}

div.memberAction {
  position: relative;
}

h5.memberletterHeader {
  margin: 16px;
  color: var(--members-modal-member-text);
  font-size: var(--s-font-14);
}

div.noUsers {
  padding-top: 16px;
  text-align: center;
}

div.addMemberItemsGroupHeader {
  font-size: var(--s-font-14);
  color: var(--add-members-group-header-color);
  margin: 16px;
}

button.addMemberItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--add-members-item-color);
  font-size: var(--l-font-18);
  background-color: transparent;
  border: none;
  width: 100%;
}

button.addMemberItem:hover {
  color: var(--add-members-item-color-hover);
}

button.addMemberItem:disabled {
  color: var(--add-members-item-disabled-color);
  cursor: not-allowed;
}

button.addMemberItem:hover:disabled {
  color: var(--add-members-item-disabled-color-hover);
}

button.addMemberItem .label {
  padding: 8px 16px;
}

button.addMemberItem .danger {
  color: var(--add-members-remove-pending-color);
}
button.addMemberItem:hover .danger {
  color: var(--add-members-remove-pending-color-hover);
}
