::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--shades-black-75);
}
::-webkit-scrollbar-thumb {
  background-color: var(--shades-black-50);
  border: 3px var(--shades-black-75) solid;
  border-radius: 10px;
}
